[2021-07-23 18:07] gmcaixeta commented on #1638
I just updated mxnet-cu100 to the latest version and it fixed

[2021-07-23 18:07] #1638 closed

[2021-07-29 10:44] adelegouttes opened #1643 "Add IQN probabilistic head to the repo"
## Description
After a discussion I had with @jgasthaus and @kashif at the ICML Time Series workshop, I would like to add the code we used for our IQN-RNN model. It is a general probabilistic method, using Implicit Quantile Network as a distribution output. On our preliminary results, it yields competitive KPIs against SQF-RNN. It would be great if you could evaluate it on your side, once it is me

[2021-07-29 10:48] StanislasGuinel opened #1644 "No batch_size attribute in MQCNNEstimator and MQRNNEstimator"
## Description
Both [MQCNNEstimator](https://github.com/awslabs/gluon-ts/blob/eb89e4ee2dd7308842381b6c425197bb3ae6eed6/src/gluonts/model/seq2seq/_mq_dnn_estimator.py#L34) and [MQRNNEstimator](https://github.com/awslabs/gluon-ts/blob/eb89e4ee2dd7308842381b6c425197bb3ae6eed6/src/gluonts/model/seq2seq/_mq_dnn_estimator.py#L303) are missing the `batch_size` attribute.
When the `batch_size` attribute w

[2021-07-31 18:04] fernandocamargoai opened #1646 "PyTorch version of NegativeBinomialOutput doesn't work"
## Description
I've been using DeepAR's PyTorch version from [pytorch-ts](https://github.com/zalandoresearch/pytorch-ts) and when starting a new project, I decided to give the new official DeepAR's PyTorch version from GluonTS. Since I'm forecasting demand, I'm using NegativeBinomial.

## To Reproduce
Train DeepAR with NegativeBinomialOutput.

## Error message or code output

[code]

## Environmen

[2021-07-31 18:07] fernandocamargoai commented on #1646
As a workaround, I've installed [pytorch-ts](https://github.com/zalandoresearch/pytorch-ts) and passed their implementation of `NegativeBinomialOutput` to `DeepAREstimator`.

[2021-08-01 04:13] yitao-yu commented on #605
Hi! @mbohlkeschneider

I hope that you are here, sorry to bother you.

The code seems to be a code for training, and it will unroll for context_length on future data, do you have codes for prediction? I tried with InferenceDataLoader and Predictor.prediction_net. It doesn't seem to work (It throws me a dim*num_samples ndarray, which I cannot comprehend and extract distr_args). I also tried with Di

[2021-08-01 05:43] yitao-yu commented on #696
@lostella Hi!

I've been looking at GPVAR.

I think I got a similar problem here: I cannot get a distribution output when I'm predicting.

Is it possible to retrieve distribution parameters from the samples Output? I'm trying to do:

[code]

Is it valid?

[2021-08-02 02:52] yitao-yu commented on #1637
GPVAR and DeepVAR are multi-dimensional models. If your target is one-dimensional, try other models(DeepAR).

[2021-08-02 06:31] mbohlkeschneider commented on #1646
Thank you for raising this issue. Can you provide a snipped to reproduce the error? That would be great. Thank you!

[2021-08-03 10:04] #1637 closed

[2021-08-04 15:27] marcotet opened #1649 "_tsf_reader.convert_base doesn't handle "10 minutes" frequency correctly"
## Description
For Monash datasets with the "10 minutes" frequency, the frequency converter will convert it to a frequency 10 MonthEnd (10M), instead of the expect 10 Minutes (10T) frequency.

There is already code to properly handle the "minutely" frequency, but it checks for that string explicitly, so it doesn't catch the "10 minutes" case.

## To Reproduce
One dataset which has this frequency i

[2021-08-04 21:06] yitao-yu opened #1650 "Allow Distribution Output for one-step prediction in GPVAR/DeepVAR"
Currently, the default output for one-step prediction in GPVAR and DeepVAR is SampleForecast. We can extract the parameters for the Gaussian Process while training, but not while prediction. This is designed to address the multi-step inference problem.

It would be nice if some functions can be provided for one-step forecast only to either output a distribution on the target(the GP is on the trans

[2021-08-05 07:01] jwmueller commented on #950
Also facing similar issue as can be seen in the output logs here:
http://autogluon-staging.s3-website-us-west-2.amazonaws.com/PR-1198/43/tutorials/forecasting/forecasting-quickstart.html

where during GPU-training of MQCNN we see warnings like this:
`Batch [8] of Epoch[0] gave NaN loss and it will be ignored`

This only seems to an issue for MQCNN with GPU on certain datasets (same code works fine

[2021-08-05 07:22] StatMixedML commented on #1643
@adelegouttes Nice paper! Would be great to have the IQN available in gluonts!

[2021-08-05 09:12] mbohlkeschneider commented on #605
I have not written code to do this during inference. Can you share a reproducible example?

[2021-08-05 19:09] lostella commented on #1649
If I get this right, changing [this](https://github.com/awslabs/gluon-ts/blob/eb89e4ee2dd7308842381b6c425197bb3ae6eed6/src/gluonts/dataset/repository/_tsf_reader.py#L51) for something like

[code]

should do the trick, but then maybe we want to review the datasets specs here to make sure this mechanism is robust enough.

[2021-08-07 18:13] #1644 closed

[2021-08-09 07:53] lostella commented on #950
@jwmueller is there a way to isolate the issue into a MWE? That would be very useful to try to understand what is failing. I guess that requires extracting some data pre-processing from the `ForecastingPredictor` class of AutoGluon, and getting a sample HP settings that produces the issue (maybe default settings fail already?)

Work-around in the mean time: try disabling hybridization with MQCNN o

[2021-08-09 10:23] fernandocamargoai commented on #1646
Hello, @mbohlkeschneider. Sorry for taking this long to answer. I couldn't find time to prepare a code snippet yet to reproduce the error, but simply using `NegativeBinomialOutput` in any PyTorch training code should be enough, simply it's using the wrong `NegativeBinomial` signature. I'm pretty sure you can simply pick [this example](https://ts.gluon.ai/tutorials/forecasting/howto_pytorch_lightni

[2021-08-09 11:31] lostella commented on #1646
Indeed: looks like the `NegativeBinomialOutput` class is [feeding positional arguments](https://github.com/awslabs/gluon-ts/blob/da3fbec871ad722753d275bff945dae29c3b9319/src/gluonts/torch/modules/distribution_output.py#L137), the second of which is assumed to be probabilities (see [here](https://pytorch.org/docs/stable/distributions.html#negativebinomial)) but [logits are provided instead](https:/

[2021-08-09 20:40] rambam613 opened #1653 "Can't run the example in the readme.md"
## Description
Simple code in co-lab is breaking on internal typing issue.

## To Reproduce
Open new colab notebook

[code]

/usr/local/lib/python3.7/dist-packages/gluonts/json.py:46: UserWarning: Using `json`-module for json-handling. Consider installing one of `orjson`, `ujson` to speed up serialization and deserialization.
  "Using `json`-module for json-handling. "
  0%|          | 0/50 [00:00

[2021-08-09 20:52] lostella commented on #1653
@rambam613 thanks for spotting this! I cannot reproduce the issue, could you try to adapt the snippet so that it can be copy-pasted to reproduce the issue?

[2021-08-10 09:49] #1649 closed

[2021-08-10 13:19] #1646 closed

[2021-08-10 13:21] lostella commented on #1646
@fernandocamargoai the issue is solved on the `master` branch, feel free to confirm (or disconfirm 😄)

[2021-08-11 10:00] fernandocamargoai commented on #1646
Thank you, @lostella!

[2021-08-12 14:34] khuyentran1401 commented on #1570
@winnieshen96 Where did you add mx at? I got the same error:
[code]
I looked at the source code of the `Quantile` object in the directory `venv/lib/python3.8/site-packages/gluonts/model/forecast.py` and there is clearly attribute `loss_name`:
[code]

I'm not sure why I got this weird error. Any suggestion would be greatly appreciated.

## Environment
Operating system: macOS Big Sur version 11.4
Py

[2021-08-13 14:51] fernandocamargoai opened #1657 "Support unknown future features"
## Description

I've been using gluon-ts for quite some time now and got used to somehow trying to pass all the future features during inference. However, I'm dealing with a problem where I have a very important feature (% of the time the product was available for selling during the day) that I don't know the future value. At first, I was simply setting it to 100% for all future days. Then, I test

[2021-08-13 15:36] mbohlkeschneider commented on #1657
Hi @fernandocamargoai,

thank you for raising this issue. You are correct - this is not implemented in our DeepAR implementation. However, you could try MQCNN/MQRNN, which does implement this feature: https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/model/seq2seq/_mq_dnn_estimator.py#L122.

Maybe that works for you, we would appreciate your feedback on this.

[2021-08-13 18:47] fernandocamargoai commented on #1657
Hey, @mbohlkeschneider. Thanks for your answer. It's great to know that there's a model that supports that. However, from what I understood by looking at the code, it uses the real dynamic features in the encoder, and doesn't it in the decoder, right? What about features that I actually know their future values (holidays, for example)? [PyTorch Forecasting](https://pytorch-forecasting.readthedocs.

[2021-08-13 18:48] yitao-yu commented on #1650
I think we actually can use functions from sklearn to extract covariance matrix from samples. (And do it in better ways, using shrinkage, etc. )

The Covariance Matrix of samples from a multi-variate normal is actually an unbiased estimation, unlike variance to a uni-variate Normal distribution? Interesting.

[2021-08-13 18:48] #1650 closed

[2021-08-14 09:48] mbohlkeschneider commented on #1657
Actually, MQCNN/RNN does support both `use_feat_dynamic_real` (known values in the future) and `use_past_feat_dynamic_real` (values are not known in the future). So both should be possible using this method.

[2021-08-16 10:41] yinsong1986 commented on #752
https://github.com/aws-samples/amazon-sagemaker-predict-electricity-demand-with-custom-gluonts-container/blob/main/container/model_handler.py

[2021-08-16 14:54] lostella commented on #1571
I couldn't reproduce this based on the snippet above, with the latest `gluonts` using `mxnet-cu102` on a p3.2xlarge instance on AWS

[2021-08-19 03:17] kekayan commented on #1176
Hello @parimuns @mariosantosprivate ,
have you guys tried the `LearningRateReduction` callback?
[code]

[2021-09-08 23:21] y-yang42 opened #1681 "MXNetError: Check failed: ret == 0"
## Description
I am running into a similar issue with #1571 and #818 when running DeepVAREstimator on my data.
(Update: It seems that this issue only happens when using cpu, I stwiched to mxnet 1.8.0-cu102 and it worked all right.)

## To Reproduce
Below are the code with some synthetic data than can reproduce the issue. I tired multiple times and the error will occur around 200-500 epochs in my c

[2021-09-15 09:43] longdht opened #1684 "Training epoch loss and validation epoch loss are calculated wrong in Trainer"
## Description
Since Both loop() for training epoch and validation epoch are assigned as epoch_loss, when training with both training data and validation data, the epoch loss used in callbacks have no meaning.
It should be assigned with training_epoch_loss and validation_epoch_loss separately.

## To Reproduce
In gluon-ts/src/gluonts/mx/trainer/_base.py:
In  def loop:

[code]
put error or undesire

[2021-09-17 10:21] sayedathar11 opened #1694 "Add Documentation and Tutorials regarding usage of .predict() function and Deploying DeepAR into Production"
We just built DeepAr models for forecasting sales , our next steps are definitely to deploy this model into production . I have just started working on inference part and have hard time understanding how predict() function in DeepAR works , does it works same as Sklearn's estimators predict() function . Meaning do we have to give features only and no Targets .
Basically there is very little inform

[2021-09-17 14:13] timoschowski commented on #1694
great to hear that you're moving models to production. Let us know how it's going and what the impact is that you're seeing.

As for documentation, have you seen this:
https://ts.gluon.ai/tutorials/forecasting/extended_tutorial.html ? We also have videos and tutorials available linked from the github repo page at the bottom and more specifically here:
https://lostella.github.io/ISF-2020-Deep-Learn

[2021-09-17 14:23] timoschowski commented on #1694
Actually, I think your question is answered at the bottom of the README:

`predictor.predict(test_data)`

[2021-09-17 18:29] pratikgehlott commented on #1034
hello @jaheba,

I have my code as below,

[code]

Now I am unable to figure out how should I call my predict function to make prediction, any idea, what parameter should I send, none of stuff is present in the document that's the reason I am facing an issue.

Thank you.

@lostella maybe you can also help.

[2021-09-18 07:49] lostella commented on #1684
@longdht note that the snippet you posted is not from within the definition of `loop`.

I do think the code would be less confusing if `loop` would be defined in at the module’s top level, but I don’t see the bug here: `epoch_loss` takes a certain value first, which is given to the `on_train_epoch_end` callback, and then another value, which is passed to the `on_validation_epoch_end`. That seems o

[2021-09-20 05:13] longdht commented on #1684
@lostella thank you for your comment,
ah yes its not in the loop, that was my mistake

Sorry this is my first time reporting issues on github so I think I didnt explain well
I was saying that it is better to call it by different name: training_epoch_loss and validation_epoch_loss, otherwise it will confuse people, and also on many callbacks we use epoch_loss, so we should know exactly which epoch_

[2021-09-20 06:00] longdht commented on #1684
I just tried to explain the issue in more detailed, hope I can get some comment from everyone

[2021-09-22 14:48] pbruneau opened #1703 "Estimator.create_predictor triggers RuntimeError with DeepAREstimator"
## Description
When trying to adapt the custom callback as described at https://ts.gluon.ai/master/tutorials/mxnet_models/trainer_callbacks.html to `DeepAREstimator`, I get a `RuntimeError`.

I guess this is not exactly a bug, as there must be additional steps to have `DeepAREstimator` properly initialized so that `create_predictor` is happy, but I can't figure out what those are.

## To Reproduce

[2021-09-23 10:40] pbruneau commented on #1703
In the meantime I found a way (see https://gist.github.com/pbruneau/04c0dce4bdfb66ffac3f554f1b98c706)

Basically:
- Now I'm passing in the estimator at callback instantiation
- I'm using the `create_predictor()` of the resulting `self.estimator` along with the `training_network` obtained along the `on_epoch_end` call to create the predictor used in the callback

I have the impression it works as e

[2021-09-29 10:12] verdimrc opened #1708 "orjson breaks TrainDataset.save()"
## Description
gluonts-0.8 recommends `orjson` or `ujson`. However, `orjson` breaks `TrainDataset.save()` with error `AttributeError: 'bytes' object has no attribute 'encode'`.

## To Reproduce
Minimal example of code snippet that reproduces the error:

[code]

Steps to reproduce the error on a SageMaker notebook instance:

[code]

## Error message or code output

[code]

## Environment
- Operatin

[2021-09-30 08:33] erezinman opened #1709 "DeepAR doesn't support seconds as frequency"
The following code raises an exception:

[code]

This is because seconds are not supported as frequencies for DeepAR.

[2021-09-30 19:18] jaheba commented on #1708
Thanks for pointing this out!

Looks like `orjson` already emits `bytes`.

Maybe we should streamline our `json` wrappers to all either emit `bytes` or `str`. Alternatively, we could make this an option.

[2021-09-30 21:58] nrathingz opened #1710 "GPVar Model Evaluation "Incompatible Input Shape""
## Description

Hey there, trying to get used to using this package and I am having a persistent issue while trying to evaluate my model forecasts. I'm quite lost, as I previously had issues getting the model to train on the data, and as soon as I got through that, I now can't evaluate my predictions, which are taking 20-30 minutes to run.

My full dataset is 2000+ columns, though I am truncating

[2021-10-01 01:42] AA350332 opened #1711 "creating or modeling yearly time series"

[2021-10-01 01:43] #1711 closed

[2021-10-01 01:44] mgorjis opened #1712 "creating or modeling yearly time series"
## Description
What is the frequency string for yearly time series? Any of probable codes produce error

## To Reproduce
 I want to forecast yearly time series (such as Wolf sunspot)., I mean the samples are at times [1700-01-01, 1701-01-01, etc.]. Here I created  a similar time series, summation of a sine function and a noise. However, none of the frequency strings of ["A-JAN", "A", "12M", "AS",

[2021-10-05 01:05] sh0gg0th opened #1716 "Rolling predictions on a test set"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1715

<div type='discussions-op-text'>

<sup>Originally posted by **sh0gg0th** October  4, 2021</sup>
Hi all,

I would like to split my time series data into a train and a test set and train a DeepAREstimator on the training set. I would then like to perform sliding window predictions on the test set, e.g. with prediction_length of 4

[2021-10-06 13:51] nrathingz commented on #737
Hi there, just wanted to follow up on this because I have been using DeepFactor and was interested in using NegativeBinomialOutput. The paper it's based on says it should be an option, and no error is thrown when using it, but I still get StudentTOutput. Any advice on this?

[2021-10-07 07:32] bidHimArm commented on #726
Any update on this? An example, please.

[2021-10-08 07:52] sayedathar11 opened #1724 "Exception while Training GluonTS Deepar model with Time Series of Variable Length"
Hello Team GluonTS,
I am working on time series forecasting for multiple timeseries , what we have here is the time series can be of variable length , for example for a time series with id = 1 , it could start at "2018 - 01 - 01" and end at "2019-12-01"(YY-MM-DD format)  , Frequency of time series is monthly, but for other  time series they need not be within this same timestamp , they could have

[2021-10-08 12:38] dat181197 opened #1725 "MXNetError when training Deep Renewal Process model"
## Description
Hi team, thank you for a great library
I am working a project for demand forecasting on a custom dataset. I have managed to create a custom GluonTS dataset and successfully ran the DeepAR model on it. But when I tried to run the Deep Renewal Process model, I received the following error after one epoch of training. I have been trying to figure out the error, but have not found anyth

[2021-10-10 07:43] rahulsuburaj opened #1727 "Prediction on test set which has a length grater than the length specified while constructing the estimator"
I have got additional data than what I used while training and forecasting. While constructing the estimator (a month back) I gave the prediction_length parameter as 100 but now I want to forecast for 120 time points using the same model. When I use make_evaluation_prediction or model.predict the code is throwing an error like

"Shape of passed values is (100, 1), indices imply (120, 1)"

How can

[2021-10-12 20:34] mbohlkeschneider commented on #1724
hi @sayedathar11,

thank you for your question. This can happen if you have a lot of very short time series, relative to `context_length` and `prediction_length`. You can try increasing [this value](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/transform/_base.py#L170), but this will only work to some extent. If you have many very short sequences you could consider to filter them fro

[2021-10-16 07:53] parora07234 opened #1736 "Plotting issues using MQCNN"
## I have plotted probabilistic forecasts using DeepAr and DeepState (prediction intervals) , but now I want to use MQCNN/MQRNN , but could not understand how to plot quantile forecast.

[code]

## Error message or code output
After running forecast, I get error as below

[code]

## Environment
- Operating system: Windows
- Python version:3.7
- GluonTS version:0.8.1
- MXNet version:1.8.0

)

[2021-10-17 13:49] rahulsuburaj commented on #1727
@mbohlkeschneider Sorry for the delay in reply. Please find the code below

# Loading the model
model= Predictor.deserialize(Path(fr'XXXXXXXXXXXX'))

# Predicting
forecast_b, ts_b= make_evaluation_predictions(dataset = test, predictor = model, num_samples = 100) # Getting error (mentioned above) when I run this code
forecast, ts = list(forecast_b), list(ts_b)

I feel it is really important to have

[2021-10-19 02:31] soulpacket opened #1737 "DeepAR model don't support too long prediction_length?"
## Description
When i use DeepAR or TFT model and choose prediction_length > 600 (don't accurate), training process don't work.

## To Reproduce

[code]

## Error message or code output

![image](https://user-images.githubusercontent.com/19423847/137833919-92e3ef6c-7fa2-438a-82d8-5c0c890c4505.png)

## Environment
- Operating system:ubuntu 16
- Python version:python3.7
- GluonTS version:0.8.1
- MXN

[2021-10-19 12:16] mbohlkeschneider commented on #1737
Hi @soulpacket,

I have not used a GPU and I would also recommend against it using DeepAR. There is usually not a significant speedup.

[2021-10-19 12:50] mbohlkeschneider commented on #1737
Good point, I will have a look.

However, my hunch is that this is somewhat linked to an Mxnet issue and I think (there is an issue with initialization of large compute graphs) and probably it makes more sense to raise the issue in the mxnet github instead.

Can you check whether the model starts up faster if you set `trainer=Trainer(epochs=10, hybridize=False)`?

[2021-10-19 13:31] soulpacket commented on #1737
@mbohlkeschneider

I think your thought is right, it works well. But training slower than cpu.

[2021-10-21 03:14] dai-ichiro commented on #1736
Try this sample script.

[code]

Hope this helps.

[2021-10-21 08:27] ghost opened #1739 "dataset regenerate flag is breaking m5 download"
Since for m5 we need the files to be in the folder before it can make the dataset, this bit

https://github.com/awslabs/gluon-ts/blob/8c0cefd1e6848b7a931c76ae571c87fc0f05e606/src/gluonts/dataset/repository/datasets.py#L239-L242

removes the folder which then breaks the m5 dataset generation...

cc @borchero

[2021-10-22 01:11] MedullaOblongata0 opened #1740 "[DOCS] More tutorials for different types of models"
The [tutorials](https://ts.gluon.ai/tutorials/index.html) show some nice examples of forecasting models but it's difficult to apply the code to real world problems.

Namely,

- my data is organised in pandas DataFrames. I have to convert to Gluon ListDataset format which is often confusing. It would be useful to show an example of how to do this instead of always starting examples with `gluonts.da

[2021-10-22 02:47] dai-ichiro commented on #1710
I think

if `test_data = np.zeros(shape=(249,100))`,  You should set target_dim to 249.

Hope this helps.

[2021-10-27 08:08] melopeo opened #1749 "MeanEstimator vs MeanPredictor: Non-descriptive names."
## Description
There are: MeanEstimator and MeanPredictor. Both do different things.

- [MeanEstimator](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/model/trivial/mean.py#L137): Learns a mean and puts it as a constant forecast
- [MeanPredictor](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/model/trivial/mean.py#L29): Learns a mean, adds some sort of gaussian noise, and

[2021-10-27 08:25] melopeo opened #1750 "IdentityPredictor failing when history is not long enough."
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1748

<div type='discussions-op-text'>

<sup>Originally posted by **melopeo** October 27, 2021</sup>
I am using several models via GluonTS shell. When using `IdentityPredictor` I get the following error:
`ValueError: operands could not be broadcast together with remapped shapes [original->remapped]: (1,107) and requested shape (100,6

[2021-11-02 07:01] canerturkmen commented on #1725
Hi @dat181197 , thanks for your comment.

Unfortunately, I still cannot reproduce the error, after having tried setting the distribution outputs to both Poisson and NegativeBinomial. Moreover, as the hyperparameters you provide in the example are not concrete values (they are set to some configuration not in the code I believe), I can't pinpoint what's causing the issue.

I understand you cannot p

[2021-11-03 03:55] yx1215 opened #1751 "Static and Dynamic Features for Autogluon_tabular model"
## Description
From current data preprocessing before putting data into autogluon tabular prediction, the additional static/dynamic features aside from the targets are not used. Is it possible to add this feature?

[2021-11-03 08:42] mliuzzi-amorelie commented on #1595
Hi, I am having exactly the same problem: when training on data from 2017 to 2021 I get the error: gluonts.core.exception.GluonTSDateBoundsError: Out of bounds nanosecond timestamp: 3230-03-31 00:00:00.
When I predict for weekly frequency, everything runs fine, but since I changed it to Monthly I am getting this error. Any help is really appreciated. Please let me know if I need to specify more in

[2021-11-03 08:44] mbohlkeschneider commented on #1595
@mliuzzi-amorelie Can you provide a code snipped that produces the error? Thank you!

[2021-11-03 08:52] mliuzzi-amorelie commented on #1595
@mbohlkeschneider
`df_train["timestamp"].max()`
`'2020-12-30T00:00:00.000Z'`

`df_train["timestamp"].min()`
`'2020-01-01T00:00:00.000Z'`

And this is the function that produces the error:
`import sagemaker
from sagemaker.mxnet import MXNet

mxnet_estimator = MXNet(entry_point='blog_train_algos.py',
                        role=sagemaker.get_execution_role(),
                        instance_type='

[2021-11-03 09:09] mliuzzi-amorelie commented on #1595
And the entrypoint script 'blog_train_algos.py' is this:
[code]

[2021-11-03 11:09] mliuzzi-amorelie commented on #1595
@shubhashish1 did you manage to solve this problem for your data?

[2021-11-04 20:13] nrathingz opened #1753 "DeepRenewalProcessEstimator returning 'Deferred initialization failed because shape cannot be inferred.' Error"
## Description
Attempting to use DeepRenewal. It was working about a month ago for me, but I left this project and came back to it just yesterday.

## To Reproduce

[code]

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output that the above snippet produces.)

[code]

## Environment
Windows 10, Most up to date versions of GluonTS, MXNet,

[2021-11-05 17:28] janrth commented on #494
If i have this:

     'feat_dynamic_real': [df.feature_1, df.feature_2, df.feature_3]

it means I have one target and 3 features, right (because you are selecting columns).

How would I be able to have multiple time-series for targets and many features. Because then my array would have a third dimension, right? And for some reason the estimator is complaining about this:

      Array 'feat_dynamic

[2021-11-05 19:39] tonyhoo commented on #958
Just for whoever still have the issue. 2 quick fixes:
1. Downgrade pandas to 1.0.x
2. Upgrade pandas to >1.3.x

[2021-11-08 03:19] yx1215 opened #1758 "Customized Scaling"
## Description
It seems that current GluonTS models take scaling as a boolean input, if True the model will use MeanScale and if False the model will not use scale(NOScale), but I see MInMaxScale is also implemented, why don't the model take the scale as a scale class input so that the user can input the scaling method they want instead of choosing between MeanScale or NoScale?

Code reference:htt

[2021-11-10 19:15] marcotet opened #1764 "PEP 517 prevent pip installing directly from the repository"
## Description
Using pip to install gluon-ts from the GitHub repository fails due to the version number not respecting PEP 517. This doesn't seem to have been fixed by #1457 since it fails when targeting the master branch as of today (commit 569fcc779).

Installing a tagged version (such as `v0.8.0`) works correctly. A workaround also exists, but may not be supported by pip in the future.

## To R

[2021-11-10 19:20] marcotet commented on #1764
Note that while I tested on master for this bug report, I first encountered this issue with commit eb89e4ee, and I have tried e9a3d896 since it modified how the version numbers are generated. I had the same errors in both cases.

[2021-11-11 02:39] amarallr commented on #597
I have the same doubt.

How to forecast the target values with gluonts DeepAR?

I have a time series from 1995-01-01 to 2021-10-01. Frequency=monthly.

How to forecast values for the future (next 3 months): 2021-11-01 to 2022-01-01?

Note that I dont have the target values for 2021-11-01, 2021-12-01 and 2022-01-01.

Many thanks.

[2021-11-11 04:10] dai-ichiro commented on #597
Are you touching on ”`make_evaluation_predictions`"?

You can use "`predict`".

[2021-11-11 12:17] amarallr commented on #597
Actually, I would like to know the target values for "2021-11-01", "2021-12-01" and "2022-01-01". I have a time series from "1995-01-01" to "2021-10-01". Monthly frequency. How to forecast values for the next 3 months: "2021-11-01", "2021-12-01" and "2022-01-01"? Here is the code:

[code]

As I understood, the predictions values **are not** for "2021-11-01", "2021-12-01" and "2022-01-01". How do I

[2021-11-11 12:29] dai-ichiro commented on #597
You set prediction_length to 12 in DeepAREstimator, so you got 12 values.
First 3 values is those you want to get, I think.

Hope this helps.

[2021-11-11 14:57] jaheba opened #1766 "Shell: Dynamic Code"
# GluonTS-shell Dynamic Code

## Summary

Add a mechanism to GluonTS-shell to run custom code, without the need to build and push a new container.

## Overview

Currently, if one wants to run GluonTS on SageMaker using `gluonts.shell`, a container needs to be build and published to ECR. Any code-change needs to go through this process before it's avaiable for use in SageMaker.

Thus, we want to ad

[2021-11-11 15:17] jaheba commented on #1764
Hi,

thanks for raising the issue.

It looks like the `x` in `0.x` is the problem. I've removed that tag and pushed `v0` instead.

Can you check whether this has fixed the issue?

[2021-11-11 16:46] amarallr commented on #597
Take a look at this code. It comes from "Advanced Forecasting with Python".
https://github.com/Apress/advanced-forecasting-python/blob/main/Chapter%2020%20-%20Amazon's%20DeepAR.ipynb

It does not seem to forecast **unknown future values**, once it compares the last 28 values of **test_ds**   (_**Listing 20-5. R2 score and prediction graph**_)  with the predictions made over this same dataset **tes

[2021-11-11 23:27] dai-ichiro commented on #597
Why don't you ask Apress?

I don't think this code is correct.

[2021-11-12 15:23] marcotet commented on #1764
Thanks for looking at this.

I tested it, and it worked great, even for past commits!

[2021-11-12 15:48] jaheba commented on #1764
We use git tags to determine which version we are on. There was a tag named `v0.x`, which is not PEP 440 compliant. I've replaced it with `v0` instead and thus it should "just work" now.

(Closing the issue.)

[2021-11-12 15:48] #1764 closed

[2021-11-12 16:14] ZenBel commented on #1725
Hello,

I have a similar problem as @dat181197. The fix in [this branch](https://github.com/canerturkmen/gluon-ts/tree/fix-deep-renewal) fixes the problem during training but not during inference.

Here is a MWE and a [dataset](https://github.com/awslabs/gluon-ts/files/7528905/gluonTSdata.zip) to reproduce it:

[code]

Here is the error:

[code]

[2021-11-15 11:22] MFK2021 opened #1768 "Multivariate forecasting with known und unknown future features"
Hi, I want to forecast the demand of multiple products across multiple retailers (multivariate timeseries forecasting) with the use of the GluonTS library. First of all, is it possible to do this kind of multivariate forecasting as I have a 100 different products, which are sold in 4 different retailers?
Secondly, I have some features which are known in the future (e.g. holidays) and other feature

[2021-11-16 08:11] canerturkmen commented on #1725
Hi @ZenBel, thanks a lot for the MWE, it was very helpful indeed. I pushed a new fix to https://github.com/canerturkmen/gluon-ts/tree/fix-deep-renewal, could you check if it is helpful?
(cc @dat181197)

[2021-11-16 08:27] ZenBel commented on #1725
Thanks @canerturkmen, the fix works like a charm!

[2021-11-16 09:17] dat181197 commented on #1725
Hi @canerturkmen, thanks for the fix, it works on my side as well.
Thank you @ZenBel for providing the MWE, I could not manage to create one, unfortunately.

I will close this issue for now, thank you!

[2021-11-16 09:18] #1725 closed

[2021-11-16 10:12] fernandochafim commented on #1075
@Gandor26, thank you for your helpful example.
I used your example and tried to forecast unseen data, and I had an issue:
**"ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 21092, and the array at index 1 has size 21068"**

`
prediction = predictor.predict(dataset=dataset.test, num_samples=100)
predictio

[2021-11-17 07:40] naivomah3 commented on #1089
Hi @lostella
From which (stable)version `gluonts.mx.trainer` is supported? And which Mxnet version is required?

[2021-11-18 07:07] lostella commented on #1089
@naivomah3 that import path is enabled since gluonts 0.7.0, which requires mxnet 1.7 (although I would recommend using 1.8)

[2021-11-20 11:25] #1768 closed

[2021-11-22 14:31] jaheba opened #1787 "Deprecate Python 3.6"
Python 3.6 is the currently our minimum supported Python version. It reaches end of live end of this year.

Python 3.7 also allows us to use `dataclasses`.

[2021-11-24 10:54] #1787 closed

[2021-11-25 08:53] mbohlkeschneider commented on #1766
<3 that! Can we use the same code channel for training/inference. Or is there no data downloaded for inference? I'm not sure about that to be honest.

[2021-11-25 08:53] mbohlkeschneider commented on #1766
I also did not quite understand what the purpose of the hashing is?

[2021-11-25 08:54] mbohlkeschneider commented on #1766
Lastly, it would be nice to be able to track back what code has been used in a specific run. Would this still be in the manifest/would the code be somewhere referenced for download (as it is with the sagemaker estimator logic)?

[2021-11-25 08:57] jaheba commented on #1766
Two reasons, caching of code artefacts and a file-name independent prefix.

If I have a bigger dependency, the hash ensures that each version is only ever uploaded once. Also, if I upload different versions, I get different hashes as prefix.

[2021-11-25 08:58] Pravesh001 commented on #1419
Hello @Devs and @Contributors, Our project also required feature selection to be done as we are training the DeepAR model with many features(~250).
A) Can we expect this feature to find feature importance from the trained model in the upcoming version?
B) Is there anything that could help in slicing down the number of features apart from getting it from the trained model?
Thanks

[2021-11-25 09:00] jaheba commented on #1766
Yes, this should be generally possible. However, there are two code sources: the container image and the code-channel. For the code-channel the manifest identifies the exact version, which are immutable. For the container you also need to make sure, that each change creates a new image tag to be really know what code has been executed.

[2021-11-25 09:02] mbohlkeschneider commented on #1766
So a new hash will be generated on the code (code change -> new hash?).

[2021-11-25 09:11] mbohlkeschneider commented on #1419
Hi @Pravesh001,

Thank you for your comment. There are currently no plans to add a feature selection module from our end. 250 features really sounds like a lot! I would first try to understand whether they actually help. My experience is that many features are rather detrimental and doing simple forward feature selection worked for me.

[2021-11-25 09:39] Pravesh001 commented on #1419
Hello @mbohlkeschneider,

Thank you for such a quick and elaborated reply. I'll try implementing these techniques at my end and let you know the update.

Thanks

[2021-11-25 12:04] jaheba commented on #1766
Yes, we would take the hash of the file (just like git does).

[2021-11-25 14:56] sevstafiev opened #1796 "NaN losses leads to overfitting"
## Description
I am using a retail store dataset with ~ 3000 time series. Their peculiarity is that there are "special days" when the number of sales grows sharply (on average, 1-2 sales per day, on the day of sale ~ 80). I ran into a problem that with an increase in the number of epochs, the model starts to produce NaN loss over time, overtraining and too often to produce a forecast as for a "spe

[2021-11-29 04:46] #1716 closed

[2021-11-29 12:12] Sophia-Huang commented on #1084
Excuse me, I'm faced with the exact same question. Have you find the solution yet?

[2021-12-01 20:45] ZenBel commented on #554
@mbohlkeschneider Could you maybe share a pseudo-code to show how the "rolling evaluation" works?
From what I understood, once you have trained a `predictor` on `train_ds` the "rolling evaluation" is something like:

[code]

So that the predictions are made on non-overlapping windows of size `prediction_length`.

Is it more or less like this?

[2021-12-02 08:18] lostella commented on #1753
@canerturkmen do you have any insight here?

[2021-12-07 07:56] mavarick commented on #1032
I would like to know: why don’t have `feat_dynamic_cat`, if there exists `feat_dynamic_real`?

[2021-12-07 09:39] mavarick commented on #392
when we predict one shop's item sale quantity in future 3 days, weather is one important siginature. We engineer weather features into some sparse values, so `feat_dynamic_cat` seems important.

I want to know if `feat_dynamic_cat` is supported or not now?

[2021-12-07 16:03] mbohlkeschneider commented on #1796
Hi @sevstafiev,

Thank you for raising this issue. One thing I noticed from your snipped is that the learning rate is rather high. I would suggest reducing it to `0.001` or even `0.0001`. This often helps with the NaN loss problem.

[2021-12-07 17:38] theharshalpatil opened #1819 "Support for Dynamic Real Features in Multivariate_Grouper"
## Description
While trying to apply some GluonTS models in forecasting examples, I have encountered that for using models like GPVar and LSTNet we have to use the MultivariateGrouper to group time-series data into a single target for the models to work. This has already been discussed in multiple issues (#713, #1005 to name a few).

My dataset consists of additional features that I want to retain

[2021-12-08 15:32] pbruneau opened #1823 "Recommendations for scaling real features with DeepAR?"
I initially found the topic below better suited for a discussion, but I have the impression discussions are disregarded compared to issues, and the topic is quite crucial IMHO.

### Discussed in https://github.com/awslabs/gluon-ts/discussions/1813

<div type='discussions-op-text'>

<sup>Originally posted by **pbruneau** December  3, 2021</sup>
Reading the DeepAR paper (Salinas et al. 2020), I unde

[2021-12-10 11:53] lostella commented on #1750
Another option would be to consider the historical target as cyclical (going backwards I mean) which would make it like a naive seasonal with season length = prediction length.

But then I also think: is this really a baseline? Or just a “sanity check” model? Because as simple as a baseline can be, it should still make some modeling assumption, so apparently the assumption here is just “incomplete

[2021-12-10 11:56] lostella commented on #1736
Hey @parora07234, does @dai-ichiro suggestion above help? If so, this issue could be closed

[2021-12-13 13:14] ltsaprounis opened #1828 "ETS why are only additive models available?"
## Description
`forecast::ets` allows for multiplicative components in error, trend and seasonality. Is there any reason multiplicative models are disabled in gluon-ts? If there's no reason, I suggest to use the default setting on the function and allow for multiplicative components (with `restrict = TRUE`).
## References
- [gluon-ts ets wrapper](https://github.com/awslabs/gluon-ts/blob/f801174605

[2021-12-13 13:35] jgasthaus commented on #1828
Hi @ltsaprounis,

thanks for reporting this.

I think we turned off the search over multiplicative models as they were quite unstable and ended up producing extremely bad forecasts on some of the datasets in our benchmark suite.

I wouldn't want to turn this back on without evidence that this is not the case (anymore). However, I think the better fix would be to actually make this configurable fro

[2021-12-14 09:53] canerturkmen commented on #1753
could not reproduce the issue on mxnet 1.7.0.post2, training appears to run OK. The OP appears to have deleted their account. Do you think mxnet could be acting differently w.r.t. deferred init on the GPU @lostella ?

[2021-12-14 17:42] kashif commented on #1823
@pbruneau since these features come with the data or externally, I typically scale them in the data prep. stage rather than on the model side... (which I suppose also applies to the target... but I guess it's more convenient to scale the target in the model...).

[2021-12-14 17:44] kashif commented on #1819
@theharshalpatil you should know that the `MultivariateGrouper` is just a helper to take existing univariate time series data and turn them into multivariate datasets. For your usecase you could just prepare a multivariate dataset from the start and add the features to it as you see fit.

[2021-12-15 15:47] theharshalpatil commented on #1819
Understood! However, it'd still be helpful if `MultivariateGrouper` does retain any additional features in the dataset instead of ignoring them.

[2021-12-15 16:09] VictorJouault opened #1832 "Bug in NPTS.log_weighted_distance_kernel - np.ndarray instead of np.array"
## Description

The `NPTS.log_weighted_distance_kernel` function uses `np.ndarray` (https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html#numpy-ndarray) instead of `np.array` (https://numpy.org/doc/stable/reference/generated/numpy.array.html#numpy.array) to construct an array, producing an error every time when trying to use the function.

## To Reproduce

from gluonts.model.npts._mo

[2021-12-15 16:28] VictorJouault opened #1833 "DateSplitter creates an error when freq is like XX + 'freq_str' (e.g. '2H' or '15T')"
## Description
The `DateSplitter._test_slice` function produces a bug when the data frequency is something like `XX + 'freq_str'`, such as '2H' or '15T'. This is due to the use of `pd.Timedelta(self.prediction_length + offset, unit=freq)`, but the `unit` argument of the function cannot be any valid pandas.frequency, only `freq_str` such as 'T' or 'H'.

This can be handled by converting the frequen

[2021-12-18 05:19] #1736 closed

[2021-12-20 16:37] NilsLusch opened #1837 "Trouble with installing GluonTS in combination with GPU enabled Mxnet"
## Description
After I installed Mxnet cu-102 my import for GluonTS stopped working.
## To Reproduce

[code]

## Error message or code output
 OSError: libcudnn.so.8: cannot open shared object file: No such file or directory

[2022-01-03 14:51] eduardocorrearaujo opened #1846 "RuntimeError: Cannot serialize type lightgbm.sklearn.LGBMRegressor."
Hi,
I'm trying to use the QRX function with a lightgbm model and I'm getting an error that I don't know how to solve.

That's my code:

[code]

That's the error:
[code]
Thank you for your attention!

[2022-01-04 17:04] Alit10 commented on #833
@fernandocamargoai  Did you manage to find a fix for this issue ? I have the same problem when I try to use the NegativeBinomialOutput even with a strong gradient clipping.

Thanks,

[2022-01-04 19:09] fernandocamargoai commented on #833
Well, I've been using the PyTorch implementation. It still happens from time to time, depending on the hyperparameters. What seems to happen is that the parameters of the distribution might fall outside of the valid values depending on the hyperparameters. I noticed that some distributions are even more sensitive. But at least the PyTorch implementation seems better overall.

[2022-01-05 15:38] jaheba commented on #1846
Hi Eduardo,

thanks for raising the issue.

The problem appears to be that when you try to get a representation of your `model_qrx`, we try to serialise that object, which fails for `LGBMRegressor`.

The workaround for now would be to not trying to display `model_qrx`.

We might want to rethink the use of `serde` in `__repr__`, and probably generally `validated`.

[2022-01-05 15:40] jaheba commented on #1837
Hello,

this looks unrelated to GluonTS, but appears to be an issue with your mxnet installation.

I'm afraid, there is nothing we can do about it.

[2022-01-05 15:40] #1837 closed

[2022-01-05 16:16] jaheba commented on #1833
Thanks for raising the issue and especially for the example!

Looks like the use of `TimeDelta` was misplaced.

[2022-01-05 16:48] #1833 closed

[2022-01-06 15:05] jaheba opened #1852 "Deprecate `validated`"
# `validated` Deprecation

Many classes of GluonTS use the `validated` decorator, which offers the following benefits:

* Validation of input arguments.
* Providing an implementation of `__getnewargs_ex__`, which is then used by `serde`.
* Adds `__init_args__` to instance, which is also used for equality checks.
* Implements custom `__repr__` (via serde) to have a descriptive representation.

Howe

[2022-01-06 16:22] huibinshen commented on #1852
Can't say much as I am new to both GluonTS and dataclass/validated. But I could give more context about a problem that I encountered when implementing https://github.com/awslabs/gluon-ts/pull/1844.

There is `FilterTransformation` (not validated, init arg is a function), which is a sub-class of `FlatMapTransformation` (validated). When we do the `equals` [check](https://github.com/awslabs/gluon-ts

[2022-01-07 17:57] Alit10 commented on #1796
Hello,
In the issue #833  it's solved using the pytorch implementation. You can maybe try it like this.
I had the same issue and using a different distribution like the studentOutput solves the nan problem

[2022-01-10 17:27] StatMixedML commented on #1823
@pbruneau @kashif  A somewhat related issue is the scaling of the response/target value in Deep-Learning models. Citing from [this paper](https://arxiv.org/pdf/1902.07892.pdf) illustrates the problem

the most widely used normalization scheme for time series when using DL is the z-score normalization, i.e., subtracting
the mean value of the data and dividing by their standard deviation. However, z

[2022-01-12 17:43] quancore commented on #1753
same error, following.

[2022-01-13 17:03] Alit10 commented on #293
@andmib  @rrgunukula  Did you find a solution for this one ?

[2022-01-13 17:35] rrgunukula commented on #293
Unfortunately I couldn't get it to work properly on my use case then and stopped using it

[2022-01-19 05:14] hdsong1996 commented on #1249
Maybe you could initialize weights by
`estimator = DeepStateEstimator(
        prediction_length=prediction_length,
        freq=freq,
        past_length = context_length,
        cardinality = [1],
        use_feat_static_cat = False,
        trainer=Trainer
        (
            learning_rate=1e-3,
            epochs=50,
            num_batches_per_epoch=100,
            ctx = ctx
            *

[2022-01-19 16:09] fccoelho commented on #1095
Hi, Interesting examples!
I am looking for an example we could call a `many-to-one` problem, where we predict for a single target, but conditioned on multiple time-series. Any simple example for that?

[2022-01-20 12:14] fccoelho opened #1860 "DeepVar: Maximum number of Idle transformations Exception"
## Description
I am getting the following exception when trying DeepVarEstimator:
[code]

## To Reproduce
Here is a snippet of my specification:
[code]
My target dimensions are : `(10, 689)`, i.e, 10 time-series of length 689.

An univariate version, using DeepAR, works just fine on the same dataset.

## Environment
Python implementation: CPython
Python version       : 3.9.7
IPython version      :

[2022-01-20 12:32] fccoelho commented on #1860
Found the issue: it was a typo in defining the length of the training set. it should be:
[code]

[2022-01-20 12:32] #1860 closed

[2022-01-20 13:46] fccoelho commented on #1095
How to de-scale DeepVAR forecasts? Unlike the resilts I am getting from DeepAR, my forecasts are coming out meanscaled.
Is there a helper function I can apply to a `SampleForecast` object?

[2022-01-20 23:48] FocusLiwen opened #1861 "Predictor error with lead_time >0"
## Description
(A clear and concise description of what the bug is.)
When I used lead_time = 10 to train deepar, or mqcnn model, I got errors which calling
forecast_it, ts_it = make_evaluation_predictions(val, predictor=predictor).
The whole time series is 1261 long for val.

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please pr

[2022-01-24 09:53] jaheba commented on #1861
Hi, thanks for raising the issue.

It looks like not all components currently support `lead_time`.

I think this should be covered by tests to ensure that all basic models support it.

[2022-01-24 11:38] Borda opened #1862 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-28 13:16] jaheba opened #1864 "# TimeSeries Representation"
WIP

---

# TimeSeries Representation

## Tensor

The core idea is to have a wrapper around nd-arrays where dimensions are not referenced by integers but single-letter names instead:

[code]

Here `TimeSeries` and `Categories` are both 1-D arrays, however with incompatible dimensions. `Features` is a 2-D array:

[code]

When we operate on these tensors, we need to specify on which axes we want to

[2022-01-28 15:27] lostella commented on #1864
Some comments:
- A better title would be “arrays with named axes” or something similar, since “representation” may be ambiguous I think (could be interpreted as “embedding space” which is totally unrelated to this)
- It would be good to frame this proposal within the user experience (either the “model user” or the “model developer”, or both), to understand what issue this solves, or what this enab

[2022-01-28 15:42] jaheba commented on #1864
Updated the title.

Agreed, let me work on this next.

More meaningful descriptors probably help confusion, maybe we could have something like this:

[code]

I think this is a typo, let me fix it.

[2022-01-28 16:00] jaheba commented on #1864
To expand on the `TensorFrame`: The idea is to be able to handle multiple arrays which share common axis. So If I select the first `n` elements on the `T` axis, I slice all underlying arrays accordingly:

[code]

[2022-01-28 16:30] lostella commented on #1864
Is this relevant? https://xarray.pydata.org/en/stable/index.html

[2022-01-28 17:03] lostella commented on #1864
One may need to also bundle arrays that do not share any axis. For example, static features do not have a time axis: in this case, I guess, slicing the TensorFrame along the time dimension should yield something that has the same “features” field as the original object.

[2022-01-28 17:46] jaheba commented on #1864
Might be, but I didn't find it intuitive to use. Something I found with pandas is that it is incredibly slow compared to numpy -- xarray might share the same fate.

[2022-01-28 17:48] jaheba commented on #1864
Yes, but I haven't implemented these static fields yet. I think pandas supports something similar where you have `properties`.

[2022-02-01 13:01] kashif opened #1868 "dataset "start" field as timestamp type"
## Description
At the moment the start field is a string. Which gets converted to a timestamp. I was wondering if it would be possible for this function https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/dataset/common.py#L318
to take a timestamp or a string and then not do the conversion if it's already a timestamp?

Thanks!

[2022-02-02 15:43] huibinshen commented on #1861
Hi, @FocusLiwen, thanks for raising this.

I could not produce the error on my laptop. Could you provide an runable end to end failure example please?

[2022-02-04 15:34] jaheba commented on #1868
To me it looks like this should already work, since we just pass the argument to `pd.Timestamp`, which should handle other timestamps just as well. We actually do it in the example in the `README`:

[code]

We could change the type-annotation though.

[2022-02-04 15:54] kashif commented on #1868
ah ok yes i thought it might throw an error... so i was converting things to strings for nothing haha good to know... let me confirm and then I can close this issue.

[2022-02-08 15:17] kashif commented on #1868
issue #1876

[2022-02-08 18:30] junsyw commented on #597
Good afternoon all.
 I have the same doubt, how to forecast future values ​​without having the targets?

[2022-02-08 19:55] jaheba commented on #1864
I've added code for `Tensor` here: #1877

[2022-02-09 09:23] kashif commented on #1864
My feeling is that instead of named axes the DL community has moved to adapt einsum/einops type notations for tensor operations

[2022-02-09 15:51] jaheba commented on #1868
I think we can close this one.

[2022-02-09 15:51] #1868 closed

[2022-02-15 01:42] creamiracle opened #1880 "Deepar gets wired loss"
HI there, I got a problem when using Gluonts-deepar. The input data contains a year(2021)'s data, which all are 175.0, then I transferr them into listdataset and send to deepar estimator with predict_length = 365 and context_length = 180. I get a really wierd loss, which is 60+, and the results of next prediction seems like the model did not train at all.
Is there any idea about this situation?
Th

[2022-02-15 10:20] lostella commented on #1880
@creamiracle could you provide a self-contained example? For instance, a snippet that also calls your `train_model` function there with the right `seq`, `epoch`, and `lr` that result in a weird model. Also:
* use triple-backticks ``` to open/close code snippets, so they are more readable ([see here](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formattin

[2022-02-15 10:25] lostella commented on #1861
For some models (e.g. DeepAR) there's no way to get predictions for time `T + p` without first predicting for `T + p - 1`: I guess supporting `lead_time > 0` in those cases would require just discarding part of the forecast.

[2022-02-15 12:26] huibinshen commented on #1192
Yes, closing it now!

[2022-02-15 12:51] mharvan opened #1881 "DeepAR with NegativeBinomial cannot generate values above 1e6"
## Description
A DeepAR model with NegativeBinomial output distribution cannot generate values significantly above 1e6.

## To Reproduce
I attach a jupyter notebook where I generate artificial timeseries with values between 0 and 1e8, train a model and plot the forecast. I compressed the notebook with zip as .ipynb files are not supported as attachments.

[1e6.ipynb.zip](https://github.com/awslabs

[2022-02-15 14:14] lostella commented on #1881
@mharvan thanks for the very detailed report! I suspect the issue is with this line:

https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/mx/distribution/neg_binomial.py#L95

In fact, all the arbitrary clipping happening there should be revisited.

[2022-02-15 21:57] #1881 closed

[2022-02-16 03:14] creamiracle commented on #1880
My bad, I will write it more clearly.
Here is a simple example.
[code]
And my version is
python = 3.7
mxnet = 1.7.0.post2
gluonts = 0.8.0

Thanks.

[2022-02-16 08:30] lostella commented on #1880
@creamiracle thanks! The issue seems to be with the length of your data vs `prediction_length`: both are 365, which means that the model training procedure will only be able to train the model to predict the *whole* data you give it, conditioned on *no* past data. If instead one had `prediction_length` smaller than your available data, the model will be able to look at many more `(past, future)` p

[2022-02-16 09:48] lostella commented on #1832
Fixed in #1848

[2022-02-16 09:48] #1832 closed

[2022-02-16 11:29] lostella commented on #1796
The following snippet appears to reproduce the issue quite consistently:

[code]

Example output:

[code]

[2022-02-16 12:15] lostella commented on #1796
I think this suggests that the MXNet-based `NegativeBinomial` implementation has some problems, possibly with the way it's parametrized. Two things that could solve this:
1. Fix the `NegativeBinomialOutput` class to output parameters in the right range (I'm not sure `alpha` should be anything positive, and why should `mu` not allowed to be zero?)
2. Update `NegativeBinomial` to use a different par

[2022-02-17 01:11] creamiracle commented on #1880
Thanks for your reply @lostella . I think I get the point in your reply, I will try to use longer data for training. And I still have one more question: why predict_length has such influence, in my opinion, I think the `context_length` may have this kind of influence, which I mean the model uses `context_length` data to train and predict  `prediction_length`  times, am I get the right point here?

[2022-02-17 05:00] venkativaturi opened #1892 "How can I consume a listdataset to represent my model as a symbol block predictor in gluonts?"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1891

<div type='discussions-op-text'>

<sup>Originally posted by **venkativaturi** February 16, 2022</sup>
I am using gluonts to implement a deep state estimator. I want to convert from the mxnet framework it is built in to the ONNX framework. In order to do so, I am trying to convert my Representable Block Predictor object to a sym

[2022-02-17 08:23] lostella commented on #1880
In its heart it is a one-step prediction method (based on a RNN), but it's trained by unrolling it for both context **and** prediction length, and computing the loss over the whole length.

So with the data in your original example, the only data the model can see at training time is a slice that has the "prediction" segment all over the time series, and the "context" segment before that (with no

[2022-02-17 08:38] creamiracle commented on #1880
Thanks for explaination, I think I get the main point here that is `all the data use for context is padding 0`.  For the extra question, it seems not enough data, but in my situation, items are not selled at the same time, but they all need to be predicted for a same length (such as 365 days) so I use all items' data together to train data, then get a wierd loss. After checking each item's series,

[2022-02-17 09:22] mharvan commented on #1881
Thanks @lostella !

[2022-02-17 12:57] lostella opened #1894 "`softplus` can return negative values"
## To Reproduce

[code]

## Error message or code output

[code]

## Environment
- Operating system: macos
- Python version: 3.7.8
- GluonTS version: a75acdb
- MXNet version: 1.8.0

[2022-02-17 13:11] lostella commented on #1796
@sevstafiev apologies for the late intervention here, the problem may have been fixed with #1893: feel free to try again on your data using the code from the `master` branch, I'd be curious to see whether that was the issue here.

[2022-02-17 13:29] lostella commented on #1880
I think it would make sense to consider shorter prediction length in this case. If you want to get a prolonged prediction, you can train a model with a prediction length of 30 days; then predict for 30 days, feed the prediction back to the model (for example, the median prediction), and get a prediction for 30 more days, and so on.

However if you do that, the later predictions for the year should

[2022-02-17 13:29] #1880 closed

[2022-02-17 18:56] vamp-ire-tap opened #1897 "Explanation regarding setting the maximum number of training windows creation/sampling as a hyperparameter for the DeepAREstimator"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1889

<div type='discussions-op-text'>

<sup>Originally posted by **vamp-ire-tap** February 16, 2022</sup>
Hello, can anyone explain how the training windows are generated in the default call to the DeepAREstimator? I see that on the following line:

https://github.com/awslabs/gluon-ts/blob/8132e2462b649455ade4dbc66cc36114df1796bc/sr

[2022-02-17 19:55] #1892 closed

[2022-02-17 19:55] lostella commented on #1892
Closed for double posting: anyone interested please refer to the discussion linked in the OP

[2022-02-17 19:56] lostella commented on #1897
Closed for double posting: anyone interested please refer to the discussion linked in the OP

[2022-02-17 19:56] #1897 closed

[2022-02-17 20:04] vamp-ire-tap commented on #1897
it is not so much a discussion but an explanation that is requested from the developers/maintainers of the library, that is why it was posted here as an issue as well. I hope one of the contributors can help answer this question above

[2022-02-17 21:58] lostella commented on #1897
@vamp-ire-tap I understand, however, we rely on issues in order to track actionable items like missing features, bugs, proposals, and so on. I think discussions are better suited for questions and answers: They don’t get “closed” and have ranked answers.

Of course if a discussion turns out to identify an actual issue, it makes perfect sense to turn it into an issue so that developers can pick it

[2022-02-17 23:29] vamp-ire-tap commented on #1897
I understand, I hope I receive a response soon there then; plus i'd be grateful to you if you could answer maybe

[2022-02-18 15:40] vamp-ire-tap commented on #1897
Could the authors/contributors of the library answer the question posted above?

[2022-02-22 00:27] DickJC123 opened #1901 "https://ts.gluon.ai/ website link broken"
## Description
https://ts.gluon.ai/ returns 'page not found'

[2022-02-22 17:12] DickJC123 commented on #1901
FWIW, current link response is:
[code]

[2022-02-22 22:41] lostella commented on #1901
The issue should be fixed; pages should be accessible once again, as soon as the CloudFront cache expires.

[2022-02-23 05:31] DickJC123 commented on #1901
I'm getting a different behavior- while there is no error, clicking the ts.gluon.ai link on the right side of the https://github.com/awslabs/gluon-ts page invokes a download, it does not display a new page.

[2022-02-23 10:21] jaheba commented on #1864
I've done some further work on this.

My rework of the evaluation "just works" using `Tensors` instead of arrays without any code changes to the evaluation code:

[code]

prints:

[code]

--

Further, I think this should simplify our transformation code.

For example, we can go from this:

[code]

to

[code]

reducing the complexity significantly.

[2022-02-24 00:00] clianga opened #1904 "NaN gradient in MQCNN when use GPU but works fine for CPU"
I'm using Sagemaker Studio to train a MQCNN model, under default layer settings model runs without any error using CPU instance. But once I switched to 'ml.p3.2xlarge' instance and change ctx from 'cpu' to 'gpu', the loss in each Epoch becomes NaN and the training process stopped. I saw a similar issue on 501 but it seems never been solved. [https://github.com/awslabs/gluon-ts/issues/501].
Here's

[2022-02-24 00:15] DickJC123 commented on #1901
Web link confirmed to be working now, thanks.

[2022-02-24 00:15] #1901 closed

[2022-02-24 09:11] lostella commented on #1904
Also similar to #950

@clianga do you know what versions of `gluonts`, `mxnet` and CUDA you are running?

[2022-02-25 08:34] lostella opened #1908 "Scaling parameter of Transformer always set to True"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1907

<div type='discussions-op-text'>

<sup>Originally posted by **StanislasGuinel** February 24, 2022</sup>
The `scaling` parameter is always set to True when creating the `TransformerTrainingNetwork` or the `TransformerPredictionNetwork` but it is still a parameter of the `TransformerEstimator`.
Is there a reason why ?
</div>

[2022-02-25 13:48] #1908 closed

[2022-02-28 10:34] lostella commented on #1904
@clianga the name of the MXNet package that you have installed should tell it: for example, `mxnet-cu92mkl` means that the package has CUDA 9.2 with MKL-DNN enabled

[2022-03-01 09:00] lostella opened #1912 "Error with multiple-month frequency when data is misaligned"
## Description
A problem occurs when a dataset with frequency which is multiple months is fed to a model, and the series are not "aligned" according to the frequency. For example (see reproducing snippet below), when using `freq="2M"` and there are two series:
* training works fine if the two series start at, respectively
    * `"2021-01-01"`
    * `"2021-03-01"` (or any other date which is a mult

[2022-03-01 12:20] lostella commented on #1912
Breaking down the problem a bit. Data is set up like in the OP:

[code]

Printing it reveals the timestamp "massaging" that happens:

[code]

[2022-03-01 13:17] melopeo commented on #1912
My very small grain of salt.
This is potentially related to the notion of `offsets` when dealing with dates. For the very particular case of bimonthly data there is an example on how offsets can be handled: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#using-offsets-with-series-datetimeindex

On the other side, if the issue is only by the fact of having bimonthly data on

[2022-03-01 14:12] lostella commented on #1912
It is related with offset, for sure. However, what breaks in the example above is the construction of features as @jaheba identified. `AddTimeFeatures` transformation has a baked-in assumption that all given time series start at points which are `k * freq` away from each other, for some integer `k`: we have some magic in place, that tries to "align" start timestamps from each series, so that they

[2022-03-01 19:40] Mayalin11 commented on #1405
Hi, I am facing same issue even if I used MQCNNEstimator with `mxnet-cu101==1.8.0`.

Here is the trainer and estimator parameters:

[code]
I also tried with hybridize/scaling True and False and with various learning rates. I am still getting this error:

[code]
Thanks in advance!

[2022-03-03 08:47] clianga commented on #1904
Hi @lostella , I checked the py file used to run this job. It seems I don't have a pip install for MXNet. Maybe the sagemaker instance itself have MXNet installed?
My py-file code contains MXNet are:
[code]

In the Sagemaker studio, I run
[code]

[2022-03-04 14:25] #1912 closed

[2022-03-17 16:56] jaheba commented on #1514
From what I can see, `is_train` is used in:

* `CanonicalInstanceSplitter`
* `SampleTargetDim` (no-op outside of train)
* `CDFtoGaussianTransform`

Features:

* `AddConstFeature`
* `AddTimeFeatures`
* `AddAgeFeature`
* `AddAggregateLags` (class is never used)

[2022-03-22 07:31] lostella opened #1928 "Support for multiple workers in the validation data loader"
The data loader used for validation data does not use multiple workers like the one for training data. When training models on a GPU, multiple workers are useful to prevent GPU starvation. As a consequence, the validation loop ends up slowing down the training process considerably.

[2022-03-24 08:50] #1928 closed

[2022-03-28 14:32] RSNirwan opened #1930 "Pandas-based datasets"
Many users have tabular datasets in csv, parquet, excel, ... . By having a Dataset-class which works directly on tabular data users do not need to convert data to gluonts-dataentry. That would make it way easier for new users to use gluonts. Also old users can skip the conversion part and can directly start modeling.

# User-facing API (Example)
Here is how an user can interact with gluonts:
[code

[2022-03-28 15:10] jaheba commented on #1930
Thanks a lot for the proposal!

I'm a bit confused by the names, are `long` and `wide` common terms? If I understand it correctly, these are many-table or single-table approaches?

How would your approach work for models with custom columns? For example, some models use `past_feat_dynamic_real` for features that are only available for past data, but not for making predictions.

Maybe we can implem

[2022-03-28 15:48] lostella commented on #1930
In the `WideDataset` example, maybe you could make `freq` optional, in case this can be taken from the DataFrame index itself.

Also one could think of a third format where target and features are coupled in the same DataFrame, and multiple such DataFrame objects are given (one for each entry in the dataset): this is exactly the situation that the long-format will end up into, since there a `.grou

[2022-03-28 16:38] RSNirwan commented on #1930
Thanks for the comments @jaheba .

Yes, these are common terms. They are also called stacked (long) and unstacked (wide) data. If thinking in only term of target-values, we can either stack them on top of each other (long) or have them side-by-side (wide). See: [wikipedia](https://en.wikipedia.org/wiki/Wide_and_narrow_data) and pandas functions: melt, pivot, wide_to_long.

The Long-dataframe is a

[2022-03-28 16:49] RSNirwan commented on #1930
Thanks for the comments @lostella

Yes, will do.

The `long_to_dataentry` function will work on groupby obects. This is common bases of what you propose as the 'third dataset' and the LongDataset. So, the LongDataset can inherit from the other or we can have a standalone `long_to_dataentry`-function that is used by both classes. I'll think about it.

The data I am working on is actually in the Wid

[2022-03-29 07:06] lostella commented on #1930
Related to #418

[2022-03-29 07:07] lostella commented on #418
Some recent discussion is in #1930, also contemplating the long format proposed here.

[2022-03-29 10:05] huibinshen commented on #1930
Thanks for the effort Raj!

The long format seems contain everything we need and it looks to me simpler to grasp from a user's perspective than the wide format. What are the main motivations to support a wide format?

[2022-03-29 16:46] RSNirwan commented on #1930
Thanks for the question @huibinshen

There are several reasons to split data into wide, some of which might become more interesting when you scale to multiple thousand time series. From my perspective:
- Major one: it splits data into different tables for target and features so you can add, update, remove single features without touching others. However, you have to handle multiple tables now.
  -

[2022-03-30 12:41] huibinshen commented on #1930
Thanks for sharing it @RSNirwan!  We need to weigh it against the con sides. I could currently think of the following:
1. It is more error pruning as extra efforts are needed to make sure different data frames are aligned correctly.
2. A bit more complexity for the users to manager more data frames than just 1.

Thanks again for the great work!

[2022-03-31 10:45] vamp-ire-tap opened #1934 "SQF-RNN not working"
## Description
Hello, thank you for developing and maintaining the library. I have a question about the implementation of the algorithm SQF-RNN. I use the PyTorch version of the code: https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/torch/distributions/piecewise_linear.py

I completely understand that the torch version might not be officially supported version and since it is very new c

[2022-04-01 15:14] RSNirwan commented on #1930
There are some issues with the WideDataset as proposed here. Thanks @lostella for pointing this out.

The case of multiple multivariate time series can be easily handled by the LongDataset by having mulitple columns for the target and changing `target: str` to `target: Union[str, List[str]]`. This way targets split over multiple columns in the long case can be considered to be multivariate.

Since

[2022-04-01 21:31] raffienficiaud opened #1936 "Lead time > 0 and testing yields incorrect samples"
## Description
I believe the behaviour of `TestSplitSampler` together with `InstanceSplitter` is incorrect when `lead_time` > 0 as it generates
* a `future_target` that is empty
* a `time_series_fields` that are empty
* a `forecast_start` outside of the testing set

## To Reproduce

Here is the creation of a simple dataset. There is only one additional sample on the test set vs. training set.
[cod

[2022-04-01 21:33] raffienficiaud commented on #1861
I believe this is linked to this #1936

[2022-04-04 07:41] lostella commented on #1934
Thanks for the detailed reproducer! I'm getting the same behavior, this may need to be looked at.

Did minor updates to the reproducing code (imports)

[2022-04-08 07:36] alisha-metkari-aera commented on #272
Do we have a way to retrain gluonts model with new data and new prediction length?

[2022-04-09 11:23] pd3nbplus commented on #847
@lostella when I use the as_symbol_block_predictor, I pass a `next(iter(train_ds))` as the batch, but It raise the Error that `KeyError: 'feat_static_real'` But actually I didn't use the `feat_static_real` as my train_ds. How can I deal with it?

[2022-04-12 08:05] lostella commented on #847
@pd3nbplus try to invoke the method by giving it the `dataset` argument, and all necessary preprocessing and batching (which includes creating the `feat_static_real` field) will happen internally:

[code]

In fact, this should be the preferred mode of invocation for `as_symbol_block_predictor`, whenever one obtains the `predictor` out of the built-in `train` method from estimators.

[2022-04-12 08:41] raffienficiaud commented on #1936
After digging for some time into this, it turns out that the work is done by the function `make_evaluation_predictions`: it strips the tail by `prediction_length + lead_time`, I guess this is to accommodate for the `TestSplitSampler`

[2022-04-12 08:47] lostella commented on #1936
@raffienficiaud thanks again for the detailed report! Let me try to address your points one by one:

I believe this is the intended behavior. If anything, `TestSplitSampler` is a bit of a misnomer, since it suggests that all data required for testing the model (e.g. evaluating the loss or any other accuracy metric) will be there: it actually makes sure the data we're predicting does not enter the

[2022-04-12 11:06] lostella opened #1939 "Suppress Pandas FutureWarning: Timestamp.freq is deprecated"
We're getting numerous warnings from Pandas about this, this should be addressed:

[code]

[2022-04-12 11:08] lostella commented on #1681
The code snippet runs fine for me on CPU, I'm more than 100 epochs in and no error was raised (python 3.7.8, gluonts master, mxnet 1.8.0)

[2022-04-12 13:12] jaheba commented on #1939
I'm not sure if this would break anything. The other change we would need to make is to replace `pd.date_range` with `pd.period_range`.

[2022-04-13 08:24] Mady1121 opened #1943 "from gluonts.model.deephier import DeepHierEstimator ModuleNotFoundError: No module named 'gluonts.model.deephier'"
## Description
(A clear and concise description of what the bug is.)

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output that the above snippet produces.)

[code]

## Environment
- Operating s

[2022-04-13 09:49] eskilan opened #1944 "Incorrect order of quantiles in Temporal Fusion Transformer"
## Description
The values in the QuantileForecasts generated by the temporal fusion transformer do not coincide with the forecast_keys. I've looked into the issue and found that the QuantileOutput used in the network sorts the quantiles,

https://github.com/awslabs/gluon-ts/blob/cf58988b53e545962b35631cc0fa943498461fbf/src/gluonts/mx/block/quantile_output.py#L277

however the estimator does not so

[2022-04-13 19:46] lostella commented on #1944
@eskilan thank you for a very detailed bug report, as well as investigation! I think the bug was introduced when that `sorted` was added: the fix you propose would work, but it would be local to a specific model, and anywhere else `QuantileOutput` and `QuantileForecastGenerator` are used together, one should remember to sort the quantile levels first.

I think a better solution would be to fix `Qu

[2022-04-20 22:14] vamp-ire-tap commented on #1934
sorry I was on vacation and missed this earlier, thanks alot for the answer.

[2022-04-21 15:04] kurvaraviteja355 commented on #1095
Hey, I am facing similar kind of problem with intermittent time series, did you figured out how to slove with glounts? I have tried other models but my results are not good so i wanted to check with DeepVAR estimator

[2022-04-22 10:42] alisha-metkari-aera commented on #1823
@kashif , facing issue while using dynamic real features and static cat features with deepAR, getting error at the line next(prediction).quantile(0.5)

[code]
Error is : ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 792 and the array at index 2 has size 768
Can you help me to get prediction when we use

[2022-04-22 14:28] kurvaraviteja355 opened #1949 "MXNetError: Check failed: inp->shape().Size() < (int64_t{1} << 31) - 1 (3062188800 vs. 2147483647) : [SetNDInputsOutputs] Size of tensor you are trying to allocate is larger than 2^31 elements. Please build with flag USE_INT64_TENSOR_SIZE=1"
## Description
(A clear and concise description of what the bug is.)
I got the following error while making the  make_evaluation_predictions
## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output

[2022-04-23 21:34] UmutAlihan commented on #1405
I am having the same issue, any help is appreciated!

[2022-04-24 09:29] lostella commented on #1949
@kurvaraviteja355 thanks for filing the issue! I think your code snippet won’t run since some definitions are not included. Is there any way you can reproduce the error with a minimal example? (Eg with a small random dataset)

[2022-04-24 09:35] lostella commented on #1943
@Mady1121 indeed, the module you are trying to import from (`gluonts.model.deephier`) does not exist in GluonTS, so the error is expected.

Maybe you are trying to run code from some other repository or branch? Or maybe you are looking for `DeepVARHierarchicalEstimator`?

[2022-04-25 05:44] lostella commented on #1405
If this happens when `StudentTOutput` is used, the problem may be related to #1894

[2022-04-25 09:34] kurvaraviteja355 commented on #1949
Still i got the same error with small random dataset.

I have multiple time series data (for last 5 years) and i need to forecast the values for next  6 months i.e 180 days in future  and i have in total of 393 stores with5 different products in each store

[2022-04-25 09:42] lostella commented on #1949
@kurvaraviteja355 got it. Could you share a self-contained snippet (with random data) that reproduces the error? Otherwise it's hard to say what may be going wrong.

[2022-04-26 10:18] #1944 closed

[2022-04-26 10:57] lostella commented on #1944
@eskilan a fix for this was merged, and will be included in the next bugfix release. Thanks again for raising the issue!

[2022-04-26 11:00] Manjubn777 opened #1953 "emporal Fusion Transformer-Getting wrong seasonality for rolling window inference approach"
Hi,
I am working on TFT for 15min dataset where my goal is to forecast for 1 year using rolling windows approach. where I forecasts for 6 days, then I pick up the last 4 days of forecasts using mean method((This gives 0.5 quantile values since it is a point forecast)). In every window, I keep on adding 4 days of data to the testing data set, so it forecasts for last 6 days including last 2 days of

[2022-04-26 18:36] candygocandy opened #1955 "X and Y variable in the Dataset."
Hello

How do I specify the `X` and the `Y` variable for my data frame?

say I have something like:

[code]

I want the `X` to be Open and High, and I want the `Y` to be "Close", do I just do:

[code]

[2022-04-27 02:28] Mady1121 commented on #1943
Hi, I have been reproducing the DeepVAR model recently, but I have encountered many problems. I did not get the experimental results by running _estimator.py and _network.py, and I also did not get any results by running other ones. If I want to ask you for the complete code, thank you, looking forward to your reply.(Note: I want to achieve the following results)

------------------&nbsp;原始邮件&nbsp

[2022-04-28 14:17] wangyueer97 opened #1959 "Something worong with the legend"
Hello, I'm plotting the probabilistic prediction results. But the legend is not displayed correctly (Please see below). I have tried run my code on spyder and jupyter notebook, but I still meet the question.
![图片](https://user-images.githubusercontent.com/57401330/165772682-62821fc5-e3c6-4f12-a4ed-a08fb8e63f53.png)

Please help me figure out! I appreciate you very much! Here is my code.

[code]

[2022-04-30 12:30] #1959 closed

[2022-04-30 21:14] zhongxianmen2020 commented on #597
I have to same issue to ask

[2022-04-30 21:51] zhongxianmen2020 commented on #507
Can you please show us an example for the cases with covariates?

[2022-04-30 22:09] junsyw commented on #597
hello @zhongxianmen2020 , you must use the predcit function:

[2022-05-02 19:01] supersaiyajin7 opened #1964 "GluonTSDateBoundsError : Out of bounds nanosecond timestamp: yyyy-mm-dd 00:00:00"
## Description
Attaching the sample data which can be used to reproduce this particular error for forecasting.
The dataset contains 3 columns - **date**, **item_id** and the **target** variable.
The dataset is replicating the experiment done [here](https://github.com/aws-samples/amazon-sagemaker-gluonts-timeseriesforecasting-with-debuggerandexperiments) inside [notebook](https://github.com/aws-sam

[2022-05-02 19:52] lostella commented on #1943
@Mady1121, it is not clear to me what is not working: can you share a minimal and self-contained example that reproduces the issue you are encountering?

[2022-05-04 17:08] rhameysayed commented on #1095
I am using this example verbatim with a different data set, but when I run backtest_metrics() or make_evaluation_predictions() I receive the following error: "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices". Apparently the issue lies in the structure of the predictor generator (predictor = estimator.train(...)). Any

[2022-05-05 21:10] rhameysayed opened #1967 "DeepVARHierarchicalEstimator returning AssertionError: Argument lhs must have NDArray type"
## Description
I am trying to fit a hierarchical VAR model. The dataset (dollar_sales_hier) has 70 time-series, with 324 weekly observations, which combine into 10 categories, and one grand total - there are 81 time series. Each row in the dataset is a time series and the columns are indexed by date. I have made sure the dimensions of my matrices are similar, specifically for the summation matrix

[2022-05-06 07:38] lostella commented on #1967
@rhameysayed in order to reproduce the issue, it would be nice if the snippet you provided were self-contained and runnable. I adjusted it a bit to include some missing imports, but there are some identifiers which are undefined: `dollar_sales_hier` and `s_mat`. Could you add the definition for those?

@rshyamsundar have you seen this kind of issue?

[2022-05-06 14:15] rhameysayed commented on #1967
@lostella I updated the code snippet with a reproducible example that gives me the same Assertion Error. dollar_sales_hier is a dataframe of sales numbers in $M, 's_mat' is the aggregation matrix 'S' discussed in section 2.1 of  (https://www.amazon.science/publications/end-to-end-learning-of-coherent-probabilistic-forecasts-for-hierarchical-time-series) .

[2022-05-11 07:28] lostella commented on #1967
Thanks @rhameysayed now I can reproduce the error. One note: passing `hybridize=False` when constructing the `Trainer` object yields the following error

[code]

so there appears to be at least a shape issue.

[2022-05-11 07:48] lostella commented on #1964
@supersaiyajin7 what are you trying to do with the CSV file? It seems like you are constructing a dataset with a single time series from it:

[code]

The only entry in the dataset has an array as `item_id` attribute, which seems odd (should be a single value). Did you mean to create a dataset with multiple series, one for each different `item_id`?

[2022-05-11 14:18] supersaiyajin7 commented on #1964
@lostella Correct, I am trying to create multiple series with separate item_id in each series.

I was able to figure this out. Thank you.

[2022-05-11 14:18] #1964 closed

[2022-05-11 19:00] karthickgopalswamy opened #1971 "Docstring for torch estimators and modules"
## Description
Lack of documentation for the arguments makes it difficult to use the estimator or modules under ```gluonts.torch.models```
- We can have doc strings for these estimators and modules
- Standardize the arguments naming convention across modules/ estimators

[2022-05-11 20:06] esbraun commented on #1967
I'm having the same error thrown as well with my own dataset - thank you for looking into this issue!

[2022-05-12 06:25] esbraun commented on #1075
@fernandochafim I've found one must use the function 'make_evaluation_predictions' in order for the shape error not to be thrown. To make future predictions for h steps over a dataset with n time steps, pass a listdataset of size n+h to make_evaluation_predictions and use the result (i.e. list(forecast_it)).

I think this is because 'make_evaluation_predictions' naturally accepts a dataset with an

[2022-05-17 14:50] AmSpidey opened #1976 "SelfAttentionEstimator does not work with use_feat_dynamic_real = False"
## Description
SelfAttentionEstimator does not seem to work with use_feat_dynamic_real = False.

I tried to use it to reproduce similar results from ones from the [Enhancing the Locality...](https://arxiv.org/abs/1907.00235) paper, but it seems that none of the datasets (electricity and traffic) have the feat_dynamic_real property. Plus the training does not run when I try to go around this issue

[2022-05-19 14:12] lostella commented on #1976
When turning off hybridization with
[code]

I'm further getting

[code]

[2022-05-25 12:04] lostella opened #1984 "OffsetSplitter fails when splitting at the very end"
## Description
I suspect an off-by-one issue is there in `OffsetSplitter` (and maybe shared by `DateSplitter`)

## To Reproduce

[code]

## Error message or code output

[code]

while I would expect this to print

[code]

[2022-05-27 15:51] Poulami-Sarkar opened #1988 "PyTorch DataLoader not working"
## PyTorch DataLoader not working
I am trying to re-create the gluonTS tutorial for the m5 dataset using the GluonTS PyTorch model. However, the PyTorch GluonTS data loader (gluonts.torch.model.deepar.estimator.DeepAREstimator .create_training_data_loader) gives me an empty iterable.

 Can someone kindly help me with this issue?

## To Reproduce

[code]

## Environment
- Operating system: MACOS
-

[2022-05-27 18:52] lostella commented on #1988
@Poulami-Sarkar on `gluonts` version `0.9.4` I'm actually getting some other error:

[code]

[2022-05-27 19:06] lostella commented on #1988
@Poulami-Sarkar what are you trying to do? If you just need to train the estimator on the dataset that you set up, you should just call

[code]

But if you invoke other methods from the `DeepAREstimator` class, maybe you are trying to do something more custom?

The reason I'm asking is: the error I'm getting [here](https://github.com/awslabs/gluon-ts/issues/1988#issuecomment-1139942276) is caused

[2022-05-28 15:05] Poulami-Sarkar commented on #1988
Hi,
Thanks a lot for your help. That worked for me.

[2022-05-29 07:33] #1988 closed

[2022-05-30 12:40] #1930 closed

[2022-05-30 12:40] #418 closed

[2022-05-30 14:45] #1984 closed

[2022-05-31 10:14] babaniyi opened #1992 "MXNet Error: Cannot use gluonts because MXNet does not install on Apple M1 MacOS chip"
## Description
I cannot use gluonts on MacOS because I cannot install MXNet. I have tried all I could from the documentation but it does not work.

@lostella @jaheba any help on this?

[code]

## Error message or code output

[code]

## Environment
- Operating system: MacOS Monterey 12.2.1 (21D62)
- Python version:3.8.9
- GluonTS version:
- MXNet version: 1.7

[2022-05-31 10:29] lostella commented on #1992
@babaniyi if you don't strictly need to use MXNet-based models, you don't need to install MXNet. For example, you can use [the PyTorch version of `DeepAR`](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/torch/model/deepar/estimator.py) in case that works for you and pytorch installs on M1 (which I don't know).

Which model(s) are you interested in working with?

If you really need to

[2022-05-31 10:56] lostella commented on #1992
@babaniyi you can import the estimator class with

[code]

However we don't have the PyTorch version of the zero-inflated distributions, we mostly rely on [distributions directly offered by PyTorch](https://pytorch.org/docs/stable/distributions.html). You can still use a `NegativeBinomial` with

[code]

[2022-05-31 11:45] babaniyi commented on #1992
Thanks for your replies.
After several hours, I think the solution is to use MacOS that are not M1 otherwise there will be lots of issues.

[2022-05-31 11:45] #1992 closed

[2022-06-01 13:12] jaheba opened #1998 "[Draft] Simple Prediction Interface"
Creating a predictor in GluonTS is relatively complicated. Let's make it simpler!

## Proposal

Each predictor should implement the following interface:

[code]

The function takes some model-specific past_data attribute and a prediction-length `n` and is expected to return `n` `Distribution` values.

`Distribution` is an array-like object, on which we can call invoke numpy functions such as `np.m

[2022-06-01 14:29] lostella commented on #1998
This line seems too complicated:

[code]

If `forecast` is an array-like object, should one not be able to do something like

[code]

?

[2022-06-01 14:34] jaheba commented on #1998
Something like that. `predict` and `predict_many` would be low-level primitives that users don't interact with directly.

But something I find really annoying at the moment is when I want to predict a single time-series, I have to do something like:

[code]

instead of

[code]

With `predict_one` and `predict_many` (or however we would like to call them) we could define interfaces for both.

How t

[2022-06-07 12:43] jaheba opened #2003 "Dataset Formats"
See: #2000, #1261

---

Currently, we support `jsonlines` datasets in GluonTS. The format is simple, easy to generate and human readable. However, the format is inefficient w.r.t file-size and loading. Thus, we are locking for alternatives to complement jsonlines.

Apache Arrow provides support for three storage formats:

* Parquet
* Streaming
* Random Access

While parquet is standardised and has

[2022-06-08 21:14] lostella commented on #2003
Is the optimization for loading arrays (marked with `*`) the one enable with `flatten_arrays` option in #2000?

[2022-06-09 03:29] alishametkari commented on #833
I am getting same exception what is the reason here? What is the meaning of this exception?

[2022-06-09 06:53] santoshpalaskar77 opened #2009 "Prediction for train data"
## Description
(A clear and concise description of what the feature is.)
- Package is not giving predictions for the train/past data
- Not able to analyze fitting for train data
- If it exists, please let me know how to use it

[2022-06-09 09:37] kashif opened #2010 "Potential glitches when reading data with ujson"
## Description
When I read a dataset via `get_dataset` sometimes I get some strange artifacts in the numerical values of the raw data.

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

gives

[code]

and other times it returns the wrong data (with a missing digit `1` in some places):

[code]

[code]

##

[2022-06-09 09:42] kashif commented on #2010
yes I believe so...

[2022-06-09 10:01] lostella commented on #2010
Some thoughts:
- can you reproduce the issue also using the code from `master`?
- can you report what version of `usjons` or `orjson` you are using (if any)?

[2022-06-09 10:01] kashif commented on #2010
@lostella ok I investigated more... the value in the `ProcessTimeSeriesField` before the call to `np.array` is wrong so numpy is not the issue...

[2022-06-09 10:03] kashif commented on #2010
[code]

[2022-06-09 10:15] lostella commented on #2010
@kashif interesting. Could you check if installing `orjson` works? We have some automagic selection for the JSON backend [here](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/json.py#L130) and `orjson` appears to be the backend with highest priority

[2022-06-09 10:16] kashif commented on #2010
please burn `ujson`!! I have lost a few sleepless nights because of it!!

[2022-06-09 10:27] kashif commented on #2010
yes good idea!

[2022-06-10 08:47] lostella commented on #2009
Hi @santoshpalaskar77 two ways you can do this currently:
- Use [`make_evaluation_predictions`](https://github.com/awslabs/gluon-ts/blob/0dffd78ec13df7693ef6c3f56e856f76b6f91aa8/src/gluonts/evaluation/backtest.py#L36), by passing the training dataset, to get forecasts on the trailing `prediction_length` window. Then you can do anything you want with forecasts, like visualizing them or measuring ac

[2022-06-10 11:39] jaheba commented on #2003
I've run some comparisons using the current version of #2000:

**electricity**

[code]

**traffic**

[code]

**m4_yearly**

[code]

[2022-06-10 12:17] jaheba commented on #2003
Also interesting, running the `FileDataset` for longer can speed up the average throughput:

**m4_yearly**

[code]

[2022-06-13 10:33] nalexus commented on #1509
Hello @anandmohan4143 .
Did you get an answer on how the avg_epoch_loss is being calculated?

[2022-06-13 16:04] jaheba opened #2026 "`DataFramesDataset` should take `index` for timestamp field if available."
Currently, we require that the `timestamp` field is a column in the passed datasets, but don't support it if it is the `index` of the `DataFrame`.

Ideally, it would try to use the `index` for it by default, raising an error if neither `timestamp` was passed nor the index can be used for it.

- [ ] #2042

[2022-06-13 17:42] kashif commented on #2026
thanks! this should work out nicely with the #1973 stuff

[2022-06-14 14:51] rshyamsundar commented on #1967
@rhameysayed your `S` matrix has the right shape (`81 x 70`) but the actual `target` has wrong shape.

`dollar_sales_hier_rand` has shape `404 x 325`. This should be a two dimensional array of shape:`81 x 324`.

The way you are constructing this dataframe is wrong. Your total time series `dollar_sales_total_rand` has date as the row index while for other two dataframes, columns are indexed by date

[2022-06-14 20:00] lostella opened #2037 "Prediction can run endlessly on trained DeepAR model."
### Discussed in https://github.com/awslabs/gluon-ts/discussions/1789

<div type='discussions-op-text'>

<sup>Originally posted by **sayedathar11** November 23, 2021</sup>
Hiii ,
We are solving forecasting problem where target is in the range (0,1) , we have close to 89k time series in test set . While using make_evaluation_prediction function it appears that its progress stop somewhere in 3 % to

[2022-06-14 20:18] jaheba commented on #2010
Closing this as the issue seem to be caused by `ujson`.

But let's keep an eye on it.

[2022-06-14 20:18] #2010 closed

[2022-06-14 22:01] dmitra79 opened #2038 "AttributeError: 'Quantile' object has no attribute 'loss_name'"
## Description
I get this error trying to run a simple evaluation as described in: https://ts.gluon.ai/tutorials/forecasting/extended_tutorial.html

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output that the above snippet produces.)

[code]

## Environment
- Operating system: Linux
- Python version: 3.7.10
- GluonTS version: 0.9.4
- M

[2022-06-14 22:02] dmitra79 commented on #2038
I am aware of https://github.com/awslabs/gluon-ts/issues/1570 but it doesn't provide a solution

[2022-06-15 07:47] lostella commented on #2037
Minimal reproducer inspired by the referenced discussion

[code]

[2022-06-15 07:48] lostella commented on #2037
Note that a similar example running the Torch version of the estimator fails gracefully

[code]

[2022-06-15 11:27] jaheba commented on #2037
What's the graceful failure?

[2022-06-15 11:41] lostella commented on #2037
"Gracefully" was an overstatement maybe, but at least training raises an exception (so no model is even produced). This happens since PyTorch performs bound checks on the parameters of the distributions that are constructed: `inf` in the data results in some of these parameters begin `nan`, for which PyTorch complains:

[code]

[2022-06-15 11:53] jaheba commented on #2037
Thanks!

But the problem is prediction, not training right?

[2022-06-15 12:00] jaheba commented on #2038
Thanks for raising the issue!

What's weird is that we define `loss_name` as a property here:

https://github.com/awslabs/gluon-ts/blob/42311c3a78260ad05d27f2deb0edfa1efe6c5b78/src/gluonts/model/forecast.py#L218-L224

Maybe it has to do with `multiprocessing`. Can you try rerun the code with `Evaluator(num_workers=None, ...)`?

[2022-06-15 12:01] lostella commented on #2037
The problem shows up at prediction time in the case of MXNet models, yes. Maybe to understand this better, one could train on perfectly fine data (no `inf` values), get a rasonable model, and then pollute data at prediction time with `inf`s to see what happens.

[2022-06-15 13:08] jaheba commented on #2037
I've tried it, and yes, it also hangs for me.

Looks like an issue with mxnet to me -- interrupting also doesn't appear to work. I've tried multiple mxnet versions all having the same issue.

[2022-06-15 13:14] dmitra79 commented on #2038
@jaheba Thanks! It ran fine with `num_workers=None`.  That is weird, also somewhat annoying if one can't use multiple CPUs for evaluation.

[2022-06-15 16:24] jaheba commented on #2038
Thanks for confirming that it works that way.

The issue seems to be related to using notebooks and how they are setup. On my local machine the notebook runs fine, so we would need to investigate what causes the failure.

[2022-06-16 09:49] jaheba commented on #2038
I've tried some more, but still can't replicate the issue.

My guess is that something went missing during pickling/un-pickling. `Quantile` is defined as a `NamedTuple` and the attributes appear to work -- `value` is accessed before `loss_name` without issues.

Maybe there is some optimisation for named-tuples at work, or there can be an entirely different reason.

We could try and use a `dataclas

[2022-06-16 15:11] lostella opened #2041 "Improving train/test splitters and test datasets"
This is related to #1447, but a more concrete proposal.
Work in progress on part of this is in #2031

## Context

In GluonTS, data and tools provided for evaluating models accuracy on test data work a bit backwards (in a bad sense). Datasets are provided in terms of “train” and “test” portions, where test data is essentially (simplifying a bit here) a “continuation” of training data. So we have th

[2022-06-16 15:29] dmitra79 commented on #2038
It is a notebook, running in a cloud session.  There may be some package incompatibilities in the environment (I am limited in what packages/versions I have access to in that session), and some proprietory packages. I am using conda for package management.
I realize this makes it impossible to replicate exactly.

[2022-06-16 15:54] jaheba commented on #2041
I think I would like to see some more flexibility what I can do with test data and what I want see supported is both:

* Pool of potential time-series which could be used for evaluation.
* Concrete collection of time-series used for evaluation.

Say, for a given dataset I choose a point which marks the end for training, where everything after the mark *can* be used for testing:

[code]

Then I can

[2022-06-16 16:14] lostella commented on #2041
Ok I think this is essentially an "opposite" take on what the splitter does: in my mind, the splitter gives you test instances, plus data that you *can* use for training if you want (some models don't require training; you may also want to further split into training + validation), but maybe your way is also fine for this purpose

[2022-06-16 16:17] lostella commented on #2041
So in your idea, `potential_test` just holds `data` and `P` to use them later?

[2022-06-16 21:39] dmitra79 opened #2043 "AssertionError: Cannot extract prediction target since the index of forecast is outside the index of target"
## Description
 I get an "AssertionError: Cannot extract prediction target since the index of forecast is outside the index of target" when trying to evaluate the prediction (code snippet below).

I probably don't understand something about GluonTS behavior, but if I am feeding in the data to evaluate, shouldn't the forecast dates match the time series by construction?

## To Reproduce
I can't eas

[2022-06-17 07:13] jaheba commented on #2043
Normally, yes.

What is strange here is that the dates of the forecast are in `2019`, while the input data is from `2020`.

What model are you using?

[2022-06-17 12:07] jaheba opened #2046 "v0.10.0 Release"
Release date: 30 June 2022

[2022-06-17 12:08] jaheba commented on #2046
## Overview

### Arrow based datasets

We have added support for Parquet-files, as well as Arrow's [binary format](https://arrow.apache.org/docs/python/ipc.html). This is an opt-in feature, requiring [`pyarrow`](https://arrow.apache.org/) to be installed. Use `pip install 'gluonts[pro]'` or `pip install 'gluonts[arrow]'`  to ensure the correct version is installed.

`FileDataset` has been reworked

[2022-06-17 12:36] jaheba commented on #2038
I wonder if #2047 would fix this.

[2022-06-17 13:29] jaheba opened #2048 "[Story] Rework `Evaluator`"
The current `Evaluator` is inflexible and difficult to use.

The metrics which are used are fixed and it's not possible to choose which metrics should be calculated.

#1778 proposes a more flexible approach, where it's easier to define new metrics and to select which metrics should be calculated. Further, it caches intermediate results and can calculate multiple time-series at once resulting in im

[2022-06-17 13:30] jaheba opened #2049 "[Tracking] v0.11"
- [x] #2048

[2022-06-17 13:35] #2003 closed

[2022-06-17 14:38] dmitra79 commented on #2043
I've had this with both SimpleFeedForwardEstimator and DeepAREstimator. But I had this work at some point, did some refactoring and got the error. Can't understand how this can ahppen though.

[2022-06-17 15:21] jaheba commented on #2037
I've removed the `v0.10` milestone. I don't think this should block the release, but we should fix this as soon as possible.

Should we generally have a filter/check for `inf` values? I don't see how they would ever make sense.

[2022-06-17 15:22] jaheba commented on #1976
@lostella was this fixed by #1994?

[2022-06-17 16:54] dmitra79 commented on #2043
When I started, I had a small number of very long time series, and on those the code seems to run fine.  I then split these into smaller segments, and at some point started getting this error. I now thought it may be due to multiple time series having the same item_id after splitting, so I integrated start_time (the date) into item_id, ex:
[code]
However, the errors still occur...

[2022-06-17 20:37] jaheba commented on #2043
How are you splitting the data?

Can you provide a reproducible example? I suspect that you might have a typo or got the ordering of arguments wrong somewhere. Our evaluation API is a bit rough at the moment, something we want to improve in the future :)

[2022-06-18 03:04] dmitra79 commented on #2043
I am splitting about two years of data into weekly or monthly chunks before converting to GluonTS format. I'll try have a simple reproducible example next week.

[2022-06-20 10:56] lostella commented on #2037
I also don't think there's any use for `inf` values in the data (unlike `nan`, which are used to indicate missing values), but maybe we can think about that later.

As a first step, I think the problems to solve are:
1. the `Trainer` should fail as soon as non-finite values for the loss are encountered (not just on the first epoch)
2. predictors should be robust to `inf` occurring in the input dat

[2022-06-20 13:39] #2026 closed, assigned to rsnirwan

[2022-06-20 19:15] kashif opened #2052 "potential bottleneck in training"
## Description
I profiled my training which was taking too long and here is what I believe the part that is taking the longest:

[code]

To reproduce kindly train the pytorch DeepAR estimator with:

[code]

and train with `num_workers=0`

[2022-06-20 19:16] kashif commented on #2052
So I believe the `pandas._libs.tslibs.period.get_period_field_arr` is taking too long by the looks of it...

[2022-06-21 06:08] yuhaod commented on #2043
I had the exactly same error when running examples/evaluate_model.py.

[2022-06-21 08:00] jaheba commented on #2043
That's weird, for me it runs without errors.

What Pandas version are you using?

[2022-06-21 08:03] jaheba commented on #2052
Hi @kashif, was training faster before or is it that you are just unhappy how fast it currently is?

[2022-06-21 09:31] kashif commented on #2052
i believe it was always slow... its just that i was training on datasets where the time sequences are much larger e.g. 500K time steps... and there it really begins to show and I am unable to train...

[2022-06-21 09:32] kashif commented on #2052
Also, I believe the move from datetime to period didn't help the situation either as that in my initial experiments seem a bit slower too...

[2022-06-21 09:37] lostella commented on #2052
@kashif this is affecting time; is it also explaining the allocation issue in your use case? (discussed separately)

[2022-06-21 09:40] kashif commented on #2052
@lostella  I believe this is just the time issue... and CPU being at 100% etc. the memory issue is not related to this as far as I can tell...

[2022-06-21 10:09] jaheba commented on #2052
@kashif What kind of dataset are you using? Something which can speed things up by a lot is to convert the dataset into a list, since then repeated loading of the data becomes obsolete.

[2022-06-21 10:14] #1943 closed

[2022-06-21 11:36] kashif commented on #2052
so I am using an arrow-based dataset `pip install -U datasets`:

[code]

[2022-06-21 12:13] jaheba commented on #2052
I've tried comparing the throughput of your example with using our `arrow` dataset implementation.

The throughput of the `HFDataset` is around `2000 ts/s`, whilst our arrow dataset is around `17000 ts/s`.

However, I would recommend using a list:

[code]

Which should make this much, much faster (getting around 2 million ts/s).

[2022-06-21 12:17] kashif commented on #2052
ah i see... let me try thank you!

[2022-06-21 12:20] jaheba commented on #2052
In my view, the only reason ever not to use `list` is if the dataset is too large to fit into memory -- but this looks to be around `~650 mb`.

[2022-06-21 13:30] jaheba commented on #2052
@kashif Any updates on the throughput?

[2022-06-21 13:31] kashif commented on #2052
yes so the issue still remains when creating batches even if its converted to a list, the pandas features method just saturates the CPU and takes too long when the target seq is very long....

[2022-06-21 13:45] dmitra79 commented on #2043
I have pandas 1.3.4.  (Can't run the example in my environment due to not having internet access.)

[2022-06-21 13:49] jaheba commented on #2052
I see -- ideally we would make some of the transformations cacheable -- but we are not there yet.

[2022-06-21 13:51] kashif commented on #2052
yes that is what i am thinking... perhaps in my `HFDataset` I can already add the time features... and then in my model if that field is there it should do no transformation....

[2022-06-21 13:55] kashif commented on #2052
oh and i believe HF datasets let you cache transformed datasets so in theory i would need to do this once...

[2022-06-21 14:01] jaheba commented on #2052
What model are you using?

Here is a proposal how we could rework the dataloading: https://github.com/awslabs/gluon-ts/issues/1000

[2022-06-21 14:03] jaheba commented on #877
Except models in `module` and `mx`, no other sub-package requires `mxnet` to be installed.

[2022-06-21 14:03] #877 closed

[2022-06-21 14:17] jaheba commented on #98
Closing this as a no-fix. In the end there is always a danger of not specifying the dependencies correctly. Luckily, after two years we didn't have a similar incident like this one.

[2022-06-21 14:49] kashif commented on #2052
thank you @jaheba I will have a look at the proposal... currently I am writing a bunch of transformer based models https://github.com/kashif/pytorch-transformer-ts

[2022-06-21 15:34] jaheba opened #2056 "Rename `DataFramesDataset` to `PandasDataset`"
After some discussion with @lostella we want to

- [x] rename `DataFramesDataset` to `PandasDataset`
- [x] support `pandas.Series` objects as a dataset with only a `target` column
- [x] treat a `DataFrame` with just one column like a `Series` object

As part of this we should also

- [x] fix naming used in the documentation notebook from #2051

[2022-06-21 15:36] jaheba commented on #2056
I believe there is a potential downside to this: If the model doesn't use `target`, we would still rename a single column which might use the correct name to `target`, which then leads to errors.

[2022-06-21 15:41] lostella commented on #2056
Models model `target`, how can they not use it? Edit: I probably don't understand what you mean by "not using `target`"

[2022-06-21 16:03] yuhaod commented on #2043
I have pandas 1.4.2

[2022-06-21 16:11] rsnirwan commented on #2056
Renaming to `PandasDataset` sound good.

I was also thinking about supporting `pandas.Series`.
However,  I propose to internally postprocess `pandas.Series` to `pandas.DataFrame`. Otherwise, we have to maintain 2 different types.

I think the only addition would be:
[code]

[2022-06-21 21:07] dmitra79 opened #2058 "Fewer forecasts than inputs/time series are produced by make_evaluation_predictions"
## Description

I was running Evaluator and got an error below:
[code]

I checked the sizes of the iterators and, sure enough, fewer forecasts than time series were produced by:
[code]

This is not documented and is unintuitive. No errors/warning were produced at that point. Also, producing None instead of skipping outputs would have made more sense.

Is it known what conditions cause this, and wh

[2022-06-21 21:10] lostella commented on #2058
@dmitra79 what model are you experiencing this with?

[2022-06-21 21:15] dmitra79 commented on #2058
This was with SimpleFeedForwardEstimator

[2022-06-21 21:40] lostella commented on #2058
A quick check to test whether the `predictor` object is to blame:

[code]

[2022-06-22 02:46] dmitra79 commented on #2058
I checked - it seems to be inconsistent/transient. The first time predictor runs, it returns fewer results.
[code]
but if i rerun the evaluation, it generates 308 forecasts and works.

[2022-06-22 07:38] jaheba commented on #2056
This is more hypothetical at the moment, but what forces a model to use `target`?

On the other hand, we currently have baked the schema into `DataFramesDataset`, so we probably have to revisit the design in the future anyway.

[2022-06-22 07:40] lostella commented on #2056
I see, yes, a model may not use the (past) target as input to get predictions, and only use it in the loss computation during training.

[2022-06-22 07:41] jaheba commented on #2056
Sounds reasonable to me. This would just amount to `series.to_frame("target")`, right?

[2022-06-22 07:44] jaheba commented on #2056
I'm not even sure about that. If I look at the TPP model, it could take in the data in other columns than `target`, say `event` and `arrival_time`. If it would do it, this abstraction becomes unusable, since it assumes that there is a `target`.

But maybe that's just fine and this kind of dataset wouldn't be a good fit anyway.

[2022-06-22 07:58] #2052 closed, assigned to nobody

[2022-06-22 08:17] lostella commented on #2058
@dmitra79 What kind of dataset is `tds.test`? Is it some iterable object of your own?

As a side note: `iter` should not be used when calling the `evaluator`. You have already forecasts and ground-truth series nicely collected in lists; when you `iter` them, you create iterators that eventually exhaust, and may be used improperly by the `evaluator`. Consider replacing:

[code]

with

[code]

[2022-06-22 09:12] #98 closed

[2022-06-22 09:13] jaheba commented on #408
Current roadmap contains a new release every three months.

[2022-06-22 09:13] #408 closed

[2022-06-22 10:36] lostella opened #2059 "PyTorch implementation of MQ-CNN and MQ-RNN"
References:
- https://arxiv.org/pdf/1711.11053.pdf
- [MXNet implementation](https://github.com/awslabs/gluon-ts/tree/4126386da1c71a371a77fe824e5092645dc2d2db/src/gluonts/model/seq2seq) (in my opinion this is a little too dispersive)

Milestones for this one:
- [ ] Implementing core modules (with option for different encoders, but more compact than the MXNet one)
- [ ] Implementing LightningModule

[2022-06-22 13:05] dmitra79 commented on #2058
@lostella It is essentially a tf.data.Dataset, with dictionary-style elements.

Re use of 'iter' - thanks, I wondered about that but was ollowing the example in the tutorial: https://ts.gluon.ai/tutorials/forecasting/extended_tutorial.html#Compute-metrics.

[2022-06-22 14:03] kashif opened #2063 "pandas period_range does not infer the freq properly"
## Description

In the dev branch:

[code]

increments every min.  👎🏽  However if I specify the freq its correct:

[code]

[2022-06-22 14:26] lostella commented on #2063
@kashif could you point to where `period_range` is used improperly?

[2022-06-22 14:27] kashif commented on #2063
sure its in a bunch of places and I even removed the freq from them haha, I will put it back and send a PR

[2022-06-22 14:33] jaheba commented on #2063
I think I saw that somewhere as well. Is that a bug in `pandas`?

[2022-06-22 14:58] kashif commented on #2063
I don't know... perhaps? I am using the latest pandas.... perhaps it is best to add back the freq to be sure.

[2022-06-22 15:01] jaheba commented on #2063
Well, let's see: https://github.com/pandas-dev/pandas/issues/47465

[2022-06-22 15:57] jaheba commented on #2063
I think even if this get's fixed in pandas, I'm not sure this will get back-ported to all our supported versions -- let alone some private build systems.

Maybe it's better for us to always pass the `freq` explicitly?

[2022-06-22 15:57] kashif commented on #2063
yes please! ok I'll re-add the freq

[2022-06-22 19:34] #2056 closed, assigned to nobody

[2022-06-22 20:05] #2063 closed, assigned to nobody

[2022-06-23 07:30] AkshtaChoudhary opened #2067 "Multivariate Hierarchical Timeseries Forecasting"
Trying to add features to hierarchical model (Multivariate time series)  using DeepVARHierarchicalEstimator)

I have 3 dataframes , data_df, feature1, feature2 which are of the size (21 x 36). There are 36 time periods and 21 are the individual time series including TOTAL

I have created training dataset in the following format

# CODE

--# Forecast Length
forecast_length = 6

--# Frequency
freq =

[2022-06-23 12:13] jaheba opened #2069 "Canonical `DateEntry` to json-encoder."
Given a data-entry, we often want to convert it to confirming json.

At different places we have functions that convert some input to something that can be turned into json. Ideally, we unify this function to have one encoder that is able to handle all cases.

Things to be concerned about:

* Arrays need to be turned into lists
* Nan-values need to be encoded as the string "nan" (same for `inf`)

[2022-06-23 13:31] lostella commented on #2058
Thanks for pointing that out, the tutorial examples were fixed

[2022-06-23 14:39] #2069 closed, assigned to nobody

[2022-06-24 05:28] lostella commented on #2067
@AkshtaChoudhary could you enclose the code example and error trace in triple-backticks (`) so that they are more readable?

[code]

Also, if possible, make sure the code example can be copy-pasted and executed as-is to reproduce the error.

[2022-06-24 06:02] AkshtaChoudhary commented on #2067
[code]

Error
[code]

[2022-06-24 08:00] lostella commented on #2067
@AkshtaChoudhary thanks; the code cannot run because of the `--` in front of comment lines.

Do you think you can also include something that generates random dataframes the way you have them? So that the snippet can be run and the error reproduced

[2022-06-24 08:15] AkshtaChoudhary commented on #2067
[code]

[2022-06-24 13:51] #367 closed

[2022-06-24 14:07] alexcombessie commented on #367
FYI @StanislasGuinel

[2022-06-24 15:03] jaheba opened #2076 "Docs: Notebook cell output is missing."
The cell output is longer displayed:

How it should be: https://ts.gluon.ai/tutorials/forecasting/quick_start_tutorial.html

How it is on the dev branch: https://ts.gluon.ai/dev/tutorials/forecasting/quick_start_tutorial.html

[2022-06-26 03:32] yuhaod commented on #2043
Any updates on this? Thanks.

[2022-06-26 08:38] StatMixedML opened #2077 "Meta-Forecasting by combining Global Deep Representations with Local Adaptation"
## Description
Referring to your paper [Meta-Forecasting by combining Global Deep Representations with Local Adaptation](https://arxiv.org/pdf/2111.03418.pdf), I would like to kindly ask if there is an implementation available on your repo?

[2022-06-26 12:52] KiwiAthlete opened #2078 "Are Transformers Effective for Time Series Forecasting?"
## Description
The following paper [Are Transformers Effective for Time Series Forecasting?](https://arxiv.org/abs/2205.13504) questions the effectiveness of Transformer based architectures for time series forecasting. In particular, it states

Would be curious to hear the community‘s response to this.

[2022-06-26 14:21] #2078 closed, assigned to nobody

[2022-06-27 06:51] jaheba commented on #2043
I was not able to reproduce the error -- `examples/evaluate_model.py` runs just fine.

Are you running a modified version?

[2022-06-27 06:53] jaheba commented on #2077
/cc @geoalgo @vafl @timoschowski

[2022-06-27 07:50] #2076 closed, assigned to nobody

[2022-06-27 08:56] lostella commented on #2041
## Updated proposal

Splitting training data out of the original `dataset`:

[code]

Here `training_dataset: Dataset` is a regular dataset (an `Iterable[DataEntry]`) while `test_template` allows to generating test instances:

[code]

Iterating the above will produce pairs `(input, label)`, three of them for each original entry in the dataset, with non-overlapping `label`s of length 7. One can have

[2022-06-27 09:41] jaheba opened #2083 "Docs: Reduce tutorial runtime."
Running the tutorial notebooks is slow:

[code]

Ideally we reduce the runtime as much as possible for the workflows to run.

However, I can see that we would like to run them for longer when publishing the release docs.

[2022-06-27 09:41] jaheba commented on #2083
/cc @rsnirwan @lostella

[2022-06-27 10:09] lostella commented on #2083
We could have some environment variable control whether to run the notebooks in "development" or "release" mode, and use that to control stuff like number of epochs, number of trials, or anything. But doing it in such a way that doesn't "pollute" the output notebook is challenging: maybe some pre-processing of the markdown files? Something like

[code]

that gets substituted with `epochs = 1` in d

[2022-06-27 10:26] jaheba commented on #2083
Was thinking something similar. We could have some template running.

But maybe we are just more radical and only run the notebooks on push and not for pull_request.

[2022-06-27 11:29] lostella commented on #2083
Sounds good to me, but then we better make sure we check the output status of the docs build every now and then. How about putting a badge in the README for it?

[2022-06-27 11:32] lostella commented on #2083
![Docs build](https://img.shields.io/badge/Docs%20build-pass-green)

[2022-06-27 12:20] jaheba commented on #2083
We would still run the full docs workflow on `push`, but not for the individual pull_requests, except when https://github.com/awslabs/gluon-ts/labels/pr%3Adocs-build-notebook is used.

[2022-06-27 14:33] jaheba commented on #2083
#2082 doesn't run notebook on default for PRs.

We can still add another layer using Jinja2 to compile the tutorials as templates.

[2022-06-27 15:38] lostella opened #2089 "Improving `PandasDataset` tutorial"
The tutorial on `PandasDataset` should be improved to cover common workflows like:
- loading data from a single "long" CSV file
- doing a `groupby` on it to then cast the groups to have a certain frequency using `asfreq` (and filling the gaps)
- loading data from a "wide" CSV file, where each column is a separate univariate target

Essentially, it would be nice to expose all common ways one can br

[2022-06-27 15:51] greenpau commented on #2089
@lostella , thank you for opening the issue!

An example, please consider incorporating the following "story".

A business wants to make predictions about future customer orders for specific items on a monthly basis. The dataset is customer placed orders for an item with order_id, quantity, and timestamps.

[code]

[code]

The more advanced would be adding `item_cat` column, which would hold the c

[2022-06-27 15:59] rsnirwan opened #2090 "Pytorch models are not serializable"
## Description
Printing or serializing pytorch deepar estimator results into `RuntimeError`.
The problem is that `gluonts.torch.modules.loss.DistributionLoss` is not serializable.

## To Reproduce
[code]

## Error message or code output
[code]

## Environment
- Operating system: macOS
- Python version: 3.8
- GluonTS version: current dev (9322d73)
- MXNet version: -

[2022-06-27 16:22] Poulami-Sarkar opened #2091 "M5 evaluation not working"
## I am trying to run the GluonTS tutorial on the M5 dataset. However, the m5 evaluation code is failing. Can someone please help me with the same?

## To Reproduce
https://github.com/awslabs/gluon-ts/blob/dev/examples/m5_gluonts_template.ipynb

[code]

## Error
[code]

## Environment
- Operating system: MACOS
- Python version: 3.9.12
- GluonTS version: 0.9.4

[2022-06-27 17:31] greenpau commented on #2089
Notably, a particular `item_id` could be ordered every other month, creating gaps in the time-series.

[2022-06-27 18:15] jaheba commented on #2090
We would need to make `gluonts.torch.modules.loss.DistributionLoss` compatible with `serde`.

The error message is a bit misleading, since we don't require `__getnewargs_ex__`.

We some logic to encode mxnet values here: https://github.com/awslabs/gluon-ts/blob/dev/src/gluonts/mx/serde.py

[2022-06-27 18:25] jaheba commented on #2090
On a second note, we actually just need to implement a compatible API for serde.

[2022-06-27 18:44] yuhaod commented on #2043
After updating GluonTS to the latest version. This issue disappears. Thanks!

[2022-06-27 19:14] jaheba commented on #2090
I've spend too much time on this: #2092.

[2022-06-27 19:25] jaheba commented on #2043
Which version did you update to? `0.9.5` or the pre-release of `0.10`?

[2022-06-27 22:11] lostella opened #2093 "`PandasDataset` not working properly with monthly data"
## Description
`PandasDataset.from_long_dataframe`  returns a dataset that cannot be iterated because an assertion on the index fails.

## To Reproduce

[code]

## Error message or code output

[code]

## Environment
- Operating system: macOS
- Python version: 3.7.8
- GluonTS version: 0.10.0rc1
- Pandas version: 1.3.5

[2022-06-28 07:08] jaheba commented on #2093
Is that an issue with monthly data or unrelated to it?

[2022-06-28 07:12] jaheba commented on #2093
I think the issue might be alignment:

[code]

I think we should use `pd.period_range` here and be happy about it.

[2022-06-28 07:23] lostella commented on #2093
@jaheba that's what #2094 is doing pretty much

[2022-06-28 09:16] #2093 closed, assigned to lostella

[2022-06-28 09:19] lostella commented on #2089
I think those cases should be disambiguated by the user: if there are gaps in the time index, it could be that an observation is missing, or that it can be assumed to be zero. The safest thing to do is not to accept gaps in the data, and require the user to fill them in: this is something the tutorial should be very clear about, and provide examples on how to do that I believe.

[2022-06-28 10:13] #2090 closed, assigned to nobody

[2022-06-28 12:58] lostella commented on #2091
@Poulami-Sarkar hi, thanks for raising the issue! I cannot reproduce the issue locally.

For brevity, I'm running the example using `epochs = 3` in the estimator, and reducing the test dataset in size after it's created, with

[code]

This way the code runs in 20 seconds or so. Could you confirm that you get the error also with these changes?

[2022-06-28 14:14] greenpau opened #2099 "UserWarning: Using `json`-module for json-handling"
## Description

Getting `UserWarning: Using `json`-module for json-handling`.

## To Reproduce

N/A

## Error message or code output

[code]

## Environment
- Operating system: AL2
- Python version: `Python 3.8.13`
- GluonTS version: `gluonts               0.dev0+g9f0f70e`
- MXNet version:

(Add as much information about your environment as possible, e.g. dependencies versions.)

[2022-06-28 14:20] greenpau opened #2100 "FutureWarning: Could not cast to float64, falling back to object"
## Description

Getting `FutureWarning: Could not cast to float64, falling back to object`

Perhaps, this happens because `value` is `int64`

## To Reproduce

Dataframe:

[code]

[code]

## Error message or code output

[code]

## Environment
- Operating system:
- Python version: `Python 3.8.13`
- GluonTS version: `gluonts               0.dev0+g9f0f70e`
- MXNet version:

(Add as much information a

[2022-06-28 14:46] Poulami-Sarkar commented on #2091
Hello,

I tried the changes you suggested but now I am getting a new error

`Running evaluation:   0%|                                                                                                                                                                                   | 0/20 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/poulam

[2022-06-28 14:51] lostella commented on #2099
@greenpau if you follow the suggestion in the warning, you will get faster data loading

[2022-06-28 15:16] greenpau commented on #2099
@lostella , the warning comes from `gluonts/json.py`. How can I control/provider options to use `orjson`?

[2022-06-28 15:17] lostella commented on #2099
@greenpau just install it and it will be used internally

[2022-06-28 15:18] #2099 closed, assigned to nobody

[2022-06-28 18:41] Poulami-Sarkar opened #2103 "make_evaluation_predictions() not producing proper forecasts when when DeepAR is trained with custom Tweedie distribution output"
Hi,

I have trained a DeepAR model using a custom Tweedie output distribution. But I am not getting any output when I try to get the predictions using make_evaluation_predictions(). I am testing the code on the M5 dataset

Could someone kindly help me with the same?

## To Reproduce
[code]

## Error message or code output
[code]

## Environment
- Operating system: MACOS
- Python version: 3.9.12
-

[2022-06-29 08:33] lostella commented on #2103
@Poulami-Sarkar the bottom part of the stack trace is the important one: running your example, I see that

[code]

If I debug, I find that indeed some coefficients of `N` are zero in the expression

[code]

from `Tweedie.sample`. So my guess is that the `sample` method needs to be fixed?

[2022-06-30 05:38] lostella opened #2116 "v0.10.x history of commits is dirty"
The history of commits in `v0.10.x` is a bit messed up, and needs to be re-aligned with dev before release: https://github.com/awslabs/gluon-ts/commits/v0.10.x

TODOs:
- [ ] merge into `v0.10.x` the commit we wanted the branch to originate from
- [ ] backport all intended commits from `dev`

[2022-06-30 09:40] #2089 closed, assigned to rsnirwan

[2022-06-30 10:55] jaheba opened #2117 "Move MXNet based models from `gluonts.model` to `gluonts.mx`."
When we started, we put all models into `gluonts.model`. However, when adding support for PyTorch, we started to put these models into `gluonts.torch.model`, since they were re-implementations of existing models.

Ideally, we replicate this setup for `mxnet` based models, and move all these models to `gluonts.mx.model`.

Further we can then import models directly from `mx`:

[code]

For `v0.11` we

[2022-06-30 11:58] lostella commented on #2116
Recreated the branch instead

[2022-06-30 11:58] #2116 closed, assigned to nobody

[2022-06-30 12:47] natashaklingenbrunn opened #2120 "TrainDataset.save default behaviour deletes everything"
## Description
TrainDataset.save deletes all files in a folder as default behaviour (i.e. overwrite = True by default). Providing "." as path deletes all files in cwd which can cause lots of trouble for someone unfamiliar with the code. Proposal would be to set default behaviour to overwrite = False.

## To Reproduce

[code]

[2022-06-30 13:10] jaheba commented on #2120
`get_dataset` will already stores the dataset on disk and uses `.save` for it.

I think it makes sense to set `overwrite` to `False`, but set it to true when using `get_dataset`.

@nklingen Do you want to give this a try?

[2022-06-30 15:09] #2120 closed, assigned to nobody

[2022-06-30 18:26] rshyamsundar commented on #2067
Hi @AkshtaChoudhary , as @lostella  mentioned it is essential to have a code snippet that runs and reproduces the error so that the real issue can be found quickly.

But, your code snippet does not even run because of syntax errors:
* missing right `)` on the lines creating the variables `data_df`, `f1_df` and `f2_df`
* required indentation missing after the `for` statement that creates `train_dic

[2022-06-30 19:31] jaheba commented on #1606
After working more intensely with sphinx, we should make this a priority.

One thing sphinx does is to cross-link references.

For example, we document create a documentation entry for `gluonts.mx.Trainer`. However, the `trainer` argument of `DeepAR` is `gluonts.mx.trainer._base.Trainer` which means that sphinx does not create a cross-link. If we change the `__module__` of `Trainer` to be `gluonts

[2022-06-30 21:20] #2046 closed, assigned to nobody

[2022-07-01 04:48] AkshtaChoudhary commented on #2067
Hello @rshyamsundar

Thanks for the reply. However I have a question, you mentioned that "Features are assumed to same for all time series. So we take from the `Total` time series." But what if we have features different for time series & also have it at Total level ? How should that be assigned to the feat_dynamic_real?

[2022-07-01 14:36] rshyamsundar commented on #2067
Hi @AkshtaChoudhary, one could pass features that are different for different time series in the following way:

[code]

I am attaching here the full working code for reference:

[code]

[2022-07-04 08:55] jaheba opened #2127 "Move examples to docs."
We have some notebook and python files in the `examples` folder.

Ideally, we include them in the documentation by moving them.

[2022-07-04 12:55] jaheba opened #2128 "Interrupting training should lead to end of training instead of error."
When training is running, a CTRL-C interrupt should end training and return a result instead of bubbling the error.

We would need to catch `KeyboardInterrupt` in our trainers.

[2022-07-04 15:24] lostella commented on #2128
I thought we had this at some point, but I cannot find it. The nice thing is that this would make our own training loop consistent with PyTorch Lightning's, see note in https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html

[2022-07-04 15:26] lostella commented on #2103
@Poulami-Sarkar could you confirm that this is an issue with your implementation of the Tweedie distribution?

[2022-07-04 15:31] Poulami-Sarkar commented on #2103
Yes
I checked it once again and found that you are right.

[2022-07-05 09:34] #2067 closed, assigned to nobody

[2022-07-05 10:16] rshyamsundar commented on #1967
I am closing this since it is a data preparation issue. I am attaching the working code here for reference.

[code]

[2022-07-05 10:16] #1967 closed

[2022-07-05 13:12] rsnirwan opened #2133 "get_dataset function is broken with python3.9"
## Description
A call to `get_dataset` with any dataset doesn't work with python3.9, but works with python 3.8.
The Error is in [DatasetCollection](https://github.com/awslabs/gluon-ts/blob/dev/src/gluonts/dataset/__init__.py#L37).
It might be the interplay of inheriting from `Protocol` and `dataclass` decorator as reported [here](https://stackoverflow.com/questions/69962929/passing-the-arguments-t

[2022-07-05 16:08] jaheba commented on #2133
There is no need to inherit from Dataset, since that's the idea behind Protocols: implicit membership.

On the other hand the docs explicitly state that this is possible.

[2022-07-05 18:01] #2133 closed, assigned to nobody

[2022-07-06 08:37] #2117 closed, assigned to nobody

[2022-07-06 09:09] jaheba opened #2139 "`PandasDataset` can't handle mixed `Series` and `DataFrame` inputs."
From the tutorial:

any collection of both**.

However:

[code]

Using `PandasDataset([s.to_frame(), s])` works however.

[2022-07-06 10:25] rsnirwan commented on #2139
By 'any collection of both' is meant that it runs either on a collection of `pandas.DataFrame` or a collection of `pandas.Series`. Maybe a better wording would be:

[2022-07-06 12:15] jaheba commented on #2139
Would it complicate things to support a mix of both? But maybe that's just too weird of use-case.

[2022-07-06 15:09] strakehyr opened #2140 "TypeError: PandasDataset() takes no arguments for PandasDataset.from_long_dataframe"
Following as described in https://ts.gluon.ai/stable/tutorials/data_manipulation/pandasdataframes.html#Use-case-3---Loading-data-with-missing-values I could not get it to work with my own DF nor the example given:

[code]

Also wanted to know if there are any plans of adding a methodology to achieve the same result starting from a wide DF, but (unlike the wide df example) incorporating a way to pa

[2022-07-06 15:22] lostella commented on #2140
@strakehyr are you running on Python 3.9 or newer? If so, this may be related to #2133

[2022-07-06 15:41] strakehyr commented on #2140
Yes using Python 3.9.

[2022-07-06 16:33] #2140 closed, assigned to nobody

[2022-07-06 18:04] rsnirwan commented on #2139
No, it isn't much work. But I would propose not to do it anyway.. Imposing same structure on all elements of the collection seems to be nicer. If someone comes with a real world use-case for this, we can do it later.

[2022-07-07 05:24] karthickgopalswamy opened #2142 "Torch studentT distribution Output not compatible with StudentT"
## Description
The studentT distribution from torch expects positive (x > 0) constraint on the scale and df parameters. The current implementation takes softplus(input) and softplus(-120) > 0 results in False

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output
(Paste the co

[2022-07-07 05:55] lostella commented on #2142
Thanks @karthickgopalswamy! In practice this may not constitute an issue, but I agree this could be made more robust.

I think the fix could be the same as it’s done for other distributions, see https://github.com/awslabs/gluon-ts/blob/5e64be79182d0f4237632b2710bd3d357f57a9bc/src/gluonts/torch/distributions/distribution_output.py#L219

Note that also `NormalOutput` seems to be affected.

@karthick

[2022-07-07 06:44] kashif commented on #2142
i would suggest we move to `squareplus` #1894 which is much more robust... and does not suffer from above issue. I can send a PR as i have that lying around...

[2022-07-07 06:55] lostella commented on #2142
@kashif I think I would go for the "epsilon" change for the time being. Mainly for consistency with mxnet-based models, which I would not update for backward-compatibility just yet (turning to `squareplus` would be slightly breaking for existing trained models).

The `squareplus` is interesting because it requires no `log` nor `exp`, so I can see it being much faster to compute.

[2022-07-10 13:12] lostella opened #2147 "`PandasDataset` slow at creating when many large `DataFrame`s are given"
## Description
The `PandasDataset` class is slow at constructing when several large DataFrames are given. It appears like [this check](https://github.com/awslabs/gluon-ts/blob/94247a9c0d4768aeb4a17a8bb44252706c519a6a/src/gluonts/dataset/pandas.py#L296-L308) is to be blamed.

## To Reproduce
The following snippet takes something like 14 seconds to run on my machine:

[code]

## What I tried

Changi

[2022-07-10 13:21] kashif commented on #2147
my suggestion is to just use the index even if it is regular or irregular without converting it to period and then back to time ranges....  as far as I can tell with pandas dataframe one already has the index for each time point so you can use the irregular time series approach...

[2022-07-10 14:42] lostella commented on #2147
@kashif that would require #1973 right?

[2022-07-10 14:49] lostella commented on #2147
A workaround for my example above would be to have a constructor option that disables the check, and have an alternative constructor `from_wide_dataframe` that does the check just once.

My example above is really about constructing a `PandasDataset` from a wide `DataFrame`: the solution relying on `pd.melt` (turning it a long `DataFrame` and then invoke `from_long_dataframe`) appears very slow wh

[2022-07-10 14:55] kashif commented on #2147
@lostella yes... I believe so... so just use the index directly and as you can see it all works without going back to period and date range again...

[2022-07-10 18:37] #2147 closed, assigned to nobody

[2022-07-11 14:23] #2128 closed, assigned to nobody

[2022-07-11 15:10] strakehyr opened #2151 "Provide better ways to integrate timeseries data (categorical/real etc) for wide dataframes into Dataset"
As mentioned in #2140, it would drastically improve accessibility to provide a way to pass a wide DF with a dict or lists for feat_dynamic_cat, feat_static_cat etc. that  would reliably be faster than what I (and probably others) am using right now which is:

[code]

maybe .from_wide_dataframe could be the method?

[2022-07-11 15:18] lostella commented on #2151
@strakehyr could you expand on this idea? Where would you think it is best to specify all the additional features? In separate dataframes?

[2022-07-11 15:30] strakehyr commented on #2151
So, if the dimensions of the wide DF are `[num_timeseries, length]`, you should be able to provide feat_dynamic_cat, or feat_static_cat1 (feat_static_cat2...) in a DF of dimensions = `[num_timeseries x number of categorical qualities]`. Therefore you mark every time-series. The columns of this new DF should be equal to the wide DF, and there should be a specific index name to differentiate feat_st

[2022-07-11 15:32] strakehyr commented on #2151
Also maybe an index for target. That would be marking (with 1) the target time-series (and 0 for covariates).

[2022-07-11 19:03] lostella commented on #2151
So you would provide multiple dataframes, specifically:
- a “target” one, shape `time_length x num_series`
- one for static features, shape `num_series x num_features` (each column with its own `dtype`, so that for example we can distinguish easily between numerical vs categorical columns)
- one for each dynamic feature, shape `time_length x num_series`

Is this what you mean?

[2022-07-11 20:01] rsnirwan commented on #2151
I wrote down my thoughts on this in another issues I'll link below.

[2022-07-11 21:22] rsnirwan opened #2152 "Thoughts on Wide-datasets"
I have given wide-datasets some thoughts. Here are some suggestions on how to go about it. Related to #2151 .

# 1
One way is to create a new constructor to `PandasDataset` that takes as input a `df` of shape `(TxM)` with `T` timestamps as index and `M` columns which can be targets or dynamic feature. Static features don't make much sense in this case because every thing is shared cross all target

[2022-07-12 07:58] strakehyr commented on #2151
Indeed. Just a way for the Dataset to assign each time-series its own qualities starting from a wide DF.

[2022-07-12 10:32] lostella commented on #2152
@rsnirwan thanks for the detailed discussion of all these options! One note on the side: in general, we may not need to explicitly specify `cat` vs `real` to distinguish categorical vs numerical features, and instead rely on the `dtype` of columns, see [here](https://pandas.pydata.org/docs/user_guide/categorical.html)

[2022-07-12 11:03] jaheba commented on #2152
Can we have some motivating examples where we can try out the different approaches? For me, the proposals are a bit hypothetical.

That said, what I probably want to do is something like this:

[code]

[2022-07-12 13:31] strakehyr commented on #2152
I think that is exactly how I see it. It is a bit confusing for me the way in which you assign two different targets. Is this basically saying that you have two targets with different covariates each?

[2022-07-12 14:05] lostella commented on #2100
This appears to be caused by the `item_id` being a `str`

[code]

versus

[code]

This happens in the `Evaluator` class. Removing `dtype` fixes it, but breaks some tests. Need to find a better way to do this.

[2022-07-12 14:46] lostella commented on #2091
@Poulami-Sarkar looks like there are some issues with multiprocessing. You can try two things to fix this:

Running the following on top of your script/notebook

[code]

Or setting

[code]

when constructing the `Evaluator`.

[2022-07-12 14:48] rsnirwan commented on #2152
The question seems a bit too general. Do you mean use cases for wide datasets? for shared/non-shared dynamic features? or for splitting dynamic features and targets into different dataframes as in proposal 3?
Or all three :) ?

[2022-07-12 14:54] jaheba commented on #2152
Sorry, what I meant is that the examples in the proposals look a too constructed.

I would like to see the proposal using some real-world dataset :).

[2022-07-12 14:57] jaheba commented on #2152
Yes, here we get a dataset consisting of two time-series, using the columns `A` and `D` respectively.

[2022-07-12 14:59] #1653 closed

[2022-07-12 18:30] rsnirwan commented on #2152
Even though, I am using them everyday at work, it's not easy to find publicly available time series in wide format (see an artificial example below). So, let me answer the use case question from another perspective.

### Why would a user have data in a wide format?
Wide vs Long is rather a data alignment than use case driven problem. All use cases from long would also apply to wide and vice versa.

[2022-07-13 11:00] strakehyr commented on #2152
Really like the look of both.

Really like the look of both.

[2022-07-13 15:34] StatMixedML commented on #2077
Kindly asking for an update on this. Are you planning to release the code any time soon?

[2022-07-13 18:53] yuhaod opened #2160 "Errors when training the `SelfAttentionEstimator`."
## Description
(A clear and concise description of what the bug is.)

Errors related to class `TransformedDataset` when training the `SelfAttentionEstimator`.

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)
[code]

## Error message or code output
(Paste the complete error message, including stack trace, or the

[2022-07-13 19:26] lostella commented on #2160
Related to #1976

[2022-07-13 19:39] yuhaod commented on #2160
Yes, but it seems that #1976 was not fixed yet ...

[2022-07-13 20:24] jaheba commented on #2160
The default for `use_feat_dynamic_real` is `True`, so it expects the field to be there. The `m4_hourly` dataset does not have it, so we get the above error.

Setting `use_feat_dynamic_real = False` should work, but then there is #1976.

Something we don't do well is error reporting. We should have some consistency checks which would fetch this.

[2022-07-14 10:03] strakehyr opened #2162 "Can't seem to train a TFT with covariate influence"
Hi all,
when training a TFT I use, as seen in other notebooks the following code:
[code]
Upon use of said model, I found out that changing all the covariates (dynamic real) in predictions changes absolutely nothing. Is this expected behaviour with the current code? Am I supposed to prepare data differently? TFT is just not making use of the GRNetwork between covariates when prepared like this.

Wh

[2022-07-14 11:22] YrliCl commented on #1055
how did you finally solve it about 'Quantile forecasts'

[2022-07-14 11:47] lostella commented on #2162
@strakehyr looking at the `TemporalFusionTransformerEstimator` code, I can see that it requires one to explicitly set the names (and dimensions) of additional feature fields in the data. For example, for dynamic numerical features, this is where the feature fields are added: https://github.com/awslabs/gluon-ts/blob/b0d0c41cff7d8a8ab167fc16165477ba9e73329a/src/gluonts/mx/model/tft/_estimator.py#L25

[2022-07-14 11:55] lostella commented on #2162
@strakehyr you may want to try to configure the estimator as in the following example:

[code]

(Note the `dynamic_feature_dims` option)

[2022-07-14 13:29] strakehyr commented on #2162
Hi @lostella, thanks for your help. I tried to run your code but ran into:

[code]

Do you have any advice on the long dataframe issue?

[2022-07-14 16:16] adhoc-dtn opened #2167 "Error with Predictor.deserialize"
## Description
Hi all,
I saved trained predictor using predictor.serialize as follow.
But when I tried loading it through Predictor.deserialize,  I got the error shown below.

[code]

## Error message
[code]
This error was not occurred when the version of GluonTS was 0.9.5. (I don't try with version 0.9.6 and 0.10.0rc1.)
As far as I could confirm, there was not found  "freq" in parameter.json. But

[2022-07-14 16:18] esbraun commented on #2162
@strakehyr I've run into issues using the train() method with covariates as well. I think it's because  the TFT decoder expects future observations for future known covariates (vs ones known only in the past, which only need to be available to the encoder). I've found using make_evaluation_predictions() instead works since it already holds the prediction length of the target without dropping the f

[2022-07-14 16:26] esbraun opened #2168 "Specifying Loss Distributions for Temporal Fusion Transform"
## Description
Currently the mxnet temporal fusion transformer only allows for quantile loss. It would be helpful to be able to specify other distributions (i.e. negative binomial for count data).

Would this change be possible?

## References
The library pytorch_forecasting allows specification of the loss for its [temporal fusion transformer implementation.](https://pytorch-forecasting.readthedo

[2022-07-14 17:08] lostella commented on #2167
@adhoc-dtn I'm having a hard time reproducing the issue with 0.10.2. Here is a minimal example.

Training/serialization:

[code]

Deserialization:

[code]

No error is raised, and if I print `predictor` I get

[code]

[2022-07-14 17:09] kashif commented on #2168
note I have such a version for pytorch: https://github.com/kashif/pytorch-transformer-ts/tree/main/tft

[2022-07-14 17:10] lostella commented on #2167
@adhoc-dtn can you provide a minimal reproducible example that raises your error? That will help figuring out what the issue is. It needs to be self-contained code that I can copy-paste to a script or to a python session.

[2022-07-17 12:31] lostella commented on #1463
Closing this since multiprocessing data loader was removed in #2018

[2022-07-17 12:31] #1463 closed

[2022-07-17 12:32] lostella commented on #941
Closing this since multiprocessing data loader was removed in #2018

[2022-07-17 12:32] #941 closed

[2022-07-17 12:34] lostella commented on #1054
Closing this since multiprocessing data loader was removed in #2018

[2022-07-17 12:34] #1054 closed

[2022-07-17 12:59] #2103 closed, assigned to nobody

[2022-07-18 11:02] strakehyr commented on #2162
Indeed that is how I run predictions.

[2022-07-18 20:51] dmitra79 opened #2171 "Error evaluating DeepRenewalProcess model"
## Description

I trained DeepRenewalProcessModel successfully, and then tried running evaluation (on a Rolling Dataset), but ran into the error below. I have trained and evaluated ex. DeepAR models with the exact same dataset and evaluation code without an issue.
Would appreciate any suggestions on what the problem could be.

## Error message or code output

[code]

## Environment
-  Operating sy

[2022-07-19 05:55] lostella commented on #2171
@dmitra79 it seems from the error trace that the issue is in the shape of some arrays that are being stacked to form a batch. But it’s hard to say more.

Do you have a minimal code example that reproduces the issue? For example with small dummy data using a `ListDataset` is fine.

[2022-07-20 15:07] dmitra79 opened #2172 "Include forecast_start in Evaluator output item_metrics"
## Description

When examining results of evaluation (ex. from call to `backtest.backtest_metrics()`, especially on a rolling dataset, it is useful to keep track of forecast_start for each item. With this information aggregations/breakdowns over different time periods can be easily computed.

Currently, only item_id is included by Evaluator in the output. One simple way around this is overwriting

[2022-07-20 15:40] jaheba commented on #2167
Hello @adhoc-dtn, we've removed the `freq` argument to `ForecastGenerator` with v0.10. This might happen when you train a model with `0.10`, but try to load it using `0.9` or earlier. There should be no problem with loading it using `0.10`.

Can you briefly describe your setup?

[2022-07-20 15:52] dmitra79 opened #2173 "Evaluation with ConstantPredictor looses `item_id` values"
## Description
Running a `backtest.backtest_metrics()` with a `CostantPredictor` produces item_metrics with `item_id` column containing NaNs. Using other predictors (ex. Identity, Mean) does not have this effect - `item_id`s are as expected

## To Reproduce

[code]

## Error message or code output

Item_ids should be 0.0-9.0, instead they are NaN

[code]

## Environment
- Operating system: linux
-

[2022-07-20 16:22] esbraun commented on #2168
Thank you! Is this something that you're planning on merging eventually as well?

[2022-07-20 16:35] kashif commented on #2168
yes eventually

[2022-07-21 15:31] jaheba opened #2174 "Shell: Alternative Webserver"
Currently we rely on `gunicorn` for serving web-requests. Using it for production like we do, is generally not recommended.

We should investigate alternative approaches, such as https://unit.nginx.org/howto/flask/

[2022-07-21 15:41] dmitra79 opened #2175 "MeanEstimator should be able to ignore NANs in training"
## Description

I created a simple random dataset, added a single NAN value in the first instance at the start of the last window before forecast, and compared evaluation metrics of 3 trivial estimators: Mean, Constant and Identity (code below). The ConstantEstimator is not affected at all - all metrics are normal. IdentifyPredictor ends up with NA for the metrics on the first instance and normal

[2022-07-21 16:05] pfolch commented on #2171
Hi!
I had the same problem. In order to reproduce it, I have created a dummy example, which I have attached below:

[code]

If the with_fdr flag is set to False, the error does not occur, or at least, in the trials I have made, it has not occurred. On the other hand, with the flag set to True, the error is easily reproduced.
Thanks!

[2022-07-21 16:57] dmitra79 commented on #2171
Thanks @pfolch ! I can confirm the same issue with this example

[2022-07-21 18:27] dmitra79 opened #2176 "`backtest.backtest_metrics` produces results with the wrong type of `item_id`"
## Description

When `item_id` for data instances are integers or strings representing integers, `backtest.backtest-metrics()` produces an item_metrics data frame where `item_id` is a float (see code below). This causes a problem when trying  to join the metrics with other data frames representing the instances, since ids no longer match, ie. '1' != 1.0.

While this is easy to fix after the call,

[2022-07-21 18:40] dmitra79 commented on #2043
I've got a self-contained example. Looks like this happens when `Estimator` has `freq` and `prediction_length` that don't match the data. But this shows up only during evaluation.

[code]

[2022-07-22 00:14] jaheba commented on #2176
Without having looked at this too closely, this seems to be the culprit:

https://github.com/awslabs/gluon-ts/blob/73968889531af054e5c5b57b833dc11b1929233d/src/gluonts/evaluation/_base.py#L247-L252

This forces the `float64` dtype on all columns. We should ensure that `item_id` is not part of it.

However, the `Evaluator` is something I want to see generally reworked in the future. I don't think w

[2022-07-22 03:06] jaheba commented on #2175
Thanks for raising the issue!

Agreed, we should ignore nans when calculating the mean of the training dataset.

There is a `MeanPredictor` which more or less does it. It takes the mean and std of the time-series and then produces a forecast using these settings.

[2022-07-22 09:13] StanislasGuinel opened #2178 "MQCNN quantiles are not monotone"
## Description
The quantile predictions of a MQCNN model are not always monotonic (quantile 0.1 can be bigger than quantile 0.2).
I have only seen that for MQCNN so far, is that a bug ?

## To Reproduce

This code outputs a dataframe of quantiles and we see for instance that quantile 0.3 is bigger than quantile 0.4.

[code]

## Code output
We can see that quantiles are not always increasing.
<img

[2022-07-22 13:03] jgasthaus commented on #2178
Hi Stanislas,

thank you for reporting this.

Which version of GluonTS are you using?

The "plain" version of MQCNN _can_ have non-monotonic quantile values. However, in recent versions of GluonTS, MQCNN defaults to using the "Incremental Quantile Function" approach (https://proceedings.mlr.press/v151/park22a.html), which should avoid this quantile crossing issue. You can control this behavior wit

[2022-07-22 16:17] dmitra79 commented on #2175
Thanks, @jaheba. I didn't realize MeanPredictor was already there!

[2022-07-23 04:17] adhoc-dtn commented on #2167
@lostella @jaheba
Sorry I couldn't get back to you sooner. Thank you for your comments.
I tried predictor.serialize environment and deserialize environment again with 0.10.2, no error occurred.
When I got the error as posted, the environment where I tried "predictor.serialize" and "Predictor.deserialize" was running in separate containers. Maybe it was Gluon TS 0.10.X that ran "Predictor.serialize

[2022-07-23 04:17] #2167 closed, assigned to nobody

[2022-07-23 06:00] lostella commented on #2176
Related to #2100

[2022-07-27 02:51] Carkham opened #2180 "A demo symbol block cannot run inference after being serialized and deserialized"
## Description
Hello,
I tried to serialize my predictor as symbo block format,
but when I deserialize them and use for predition, I got some error show below

## To Reproduce

[code]

## Error message or code output

[code]

## Environment
- Operating system:Ubuntu 20.04
- Python version:3.9.12
- GluonTS version:0.10.2
- MXNet version:1.9.0

(Add as much information about your environment as possi

[2022-07-29 15:16] axeng opened #2181 "Prophet not compatible with `Period`"
## Description
TypeError is raised when using a PandasDataset with the ProphetPredictor.

The problem seems to come from the `pd.to_datetime` function which does not accept Period. I guess it broke when this was done: https://github.com/awslabs/gluon-ts/pull/1980

## To Reproduce
Using a simple PandasDataset than can be found [here](https://ts.gluon.ai/v0.10.x/tutorials/data_manipulation/pandasdat

[2022-08-01 07:23] lostella commented on #2180
@Carkham thanks for filing the issue! I'm able to reproduce it on `dev` as well, we'll have to look into this.

Following is a simpler reproducer. What's interesting is that skipping the `as_symbol_block_predictor` and doing `predictor.serialize` directly appears to be running fine.

[code]

[2022-08-01 09:55] rhljain commented on #1207
hey @lostella I am using gluonts DeepAR algorithm but I am getting different predictions every time I train the model on same dataset (timeseries) and for same period and with same hyperparameters.

Any help will be greatly appreciated!

Thanks

[2022-08-01 09:59] rhljain commented on #1207
Hi, @lostella I am fitting DeepAR and getting the different predictions and MAPE values though I set the same hyperparameters and same training data....

Any help will be greatly appreciated!

[2022-08-01 10:26] lostella commented on #2178
@StanislasGuinel it looks indeed like quantiles are sorted correctly in `dev`, `v0.10.2`, and also `v0.9.6`. Are you running an earlier version?

[2022-08-01 10:44] lostella commented on #2180
Other observations:
* Issue occurs with other estimators too, like `SimpleFeedForwardEstimator`
* Issue occurs with `mxnet==1.9.1`
* Issue **does not occur** with `mxnet==1.7.0.post2`
* Another issue occurs with `mxnet==1.8.0.post0`, see following stack trace

[code]

[2022-08-01 14:23] #2181 closed, assigned to nobody

[2022-08-01 17:37] StanislasGuinel commented on #2178
Thanks for your answer, indeed I was using an earlier version (`0.8.1`), it's fixed with this `is_iqf` parameter.

[2022-08-01 17:37] #2178 closed, assigned to nobody

[2022-08-02 06:23] lostella commented on #1207
@rhljain this is expected to some extent: there are sources of randomness throughout the training loop, when iterating over the data; in addition to that, DeepAR predictions are obtained by randomly sampling sequences from the predictive distributions, so even with the same model, predicting twice may lead to slightly different statistics (eg mean, quantiles) in the predictions.

For the first iss

[2022-08-02 07:34] #2100 closed, assigned to nobody

[2022-08-02 07:36] lostella commented on #2176
Fixed in #2183

[2022-08-02 07:36] #2176 closed, assigned to nobody

[2022-08-02 14:41] lostella commented on #2171
@dmitra79 @pfolch this is fixed by #2184 and we'll be part of the upcoming bugfix releases. In the meantime, you can test the fix using the `dev` branch.

[2022-08-02 14:41] #2171 closed, assigned to nobody

[2022-08-02 14:55] rhljain commented on #1207
Thanks @lostella, is there any other frameworks available which we can use to develop DeepAR models and Deep renewal Model?

Thanks

[2022-08-02 14:57] rhljain commented on #1207
I am dealing with lot of lumpy and intermittent data, so tried all the traditional models like Holt winters, Croston, ML models,
anything related to deep learning which you have tried and tested while dealing with lumpy and intermittent data??

[2022-08-02 14:58] lostella commented on #1207
@rhljain the DeepAR model is also implemented in PyTorch within GluonTS, and that uses the PyTorch Lightning training loop: https://github.com/awslabs/gluon-ts/tree/dev/src/gluonts/torch/model/deepar

Only a handful of models are available that are implemented in PyTorch, but we're planning on growing the set

[2022-08-03 06:59] rhljain commented on #1207
@lostella Thanks for quick reply really appreciable!

[2022-08-03 15:14] lostella commented on #2180
Size of the `prediction_net-0000.params` file, resulting from serializing the model in my snippet above:
* without calling `as_symbol_block_predictor`: `316KB`
* with calling `as_symbol_block_predictor`: `32B`

So some stuff is missing there.

[2022-08-04 23:47] mvanness354 opened #2188 "Bug With Uber TLC Daily Dataset"
## Description
I have encountered an issue with the Uber TLC dataset because it does not have an Item ID. This is an issue when using an OffsetSplitter.

## To Reproduce

[code]

## Error message or code output

[code]

Luckily I think there is an easy fix. The Uber data has a location ID, and I think this can easily be used as the item ID. I propose the following change: [here](https://github.com

[2022-08-05 06:33] lostella commented on #2188
@mvanness354 thank you for spotting this! The change you propose makes sense to me, assuming that `locationID`s are indeed distinct across the dataset. Do you want to open a PR for this?

As a side note: the splitting functionality is slightly changing in the `dev` branch. You can find [a tutorial here](https://ts.gluon.ai/dev/tutorials/data_manipulation/dataset_splitting_example.html) on how to u

[2022-08-05 16:02] #2173 closed, assigned to nobody

[2022-08-08 10:25] mr-1993 opened #2195 "Significant Speed-up of Parquet Data Reader"
## Description

@emptymalei , @julian-sieber and myself were investigating a potential speed-up of your Parquet data reader since we use a similar implementation in a project of ours. What we found out is that there is a large potential in speeding it up. The difference in the implementation is essentially in the _arrow_to_py methods seen below. Instead of using a numpy-mediated conversion, we rel

[2022-08-08 11:10] jaheba commented on #2195
Thanks! Yes, that would be very helpful :)

One thing we need to check is to translate the flattened arrays.

[2022-08-08 12:07] mr-1993 commented on #2195
Hi @jaheba, thank you very much for your interest in this enhancement! Just as a clarification so that we can run more experiments: what exactly do you mean with "flattened arrays"? do you have a small example? thank you!

[2022-08-08 12:36] jaheba commented on #2195
We use an optimisation to support arrays with 2 or more dimensions:

https://github.com/awslabs/gluon-ts/blob/4c78ecfac2357935ab523e93d6e857cd8749aad6/src/gluonts/dataset/arrow/enc.py#L61-L70

This is something we also need to handle during decoding:

https://github.com/awslabs/gluon-ts/blob/4c78ecfac2357935ab523e93d6e857cd8749aad6/src/gluonts/dataset/arrow/dec.py#L74-L78

This enables zero-copy r

[2022-08-09 08:46] jaheba commented on #2195
@mr-1993 @emptymalei If you need any additional help, let me know! We can have a quick chat if you want.

[2022-08-09 08:48] mr-1993 commented on #2195
That would actually be great, thank you! I am having a bit of trouble understanding how the schema is generated. Would you have a few minutes between 11:30 am and 1 pm?

[2022-08-09 09:04] jaheba commented on #2195
11:30 sounds good.

[2022-08-09 11:02] jaheba opened #2200 "Add support for partitioned Parquet Datasets"
Currently we only support individual parquet files through pyarrow. However, there are also partitioned datasets, which we don't support.

See: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.ParquetDataset.html

/cc @mr-1993 @emptymalei

[2022-08-09 17:00] zhichenggeng opened #2205 "Median prediction is plotted one index shift to the left"
## Description
The plot of median prediction is shifted to the left by one index, while 90% and 50% prediction interval plots are correct. Potential reason is that the data is resampled by week, which might cause some problem on the index.

## To Reproduce

[code]

## Error message or code output

## Environment
- Operating system: Amazon Linux
- Python version: 3.8.12
- GluonTS version: 0.10.2
-

[2022-08-09 18:26] jaheba commented on #2205
Thanks for the reproducible example!

This seems to be an issue when mixing `Period` and `Timestamp` columns. If I change the plotting of the true values, it works:

[code]

<img width="999" alt="Screenshot 2022-08-09 at 20 23 36" src="https://user-images.githubusercontent.com/133732/183733265-6fc2a410-8bed-4df7-b3c9-d0f118bdf367.png">

I don't know (yet) why this happens -- but at least there is

[2022-08-09 18:58] zhichenggeng commented on #2205
It works! Thanks for your help.

Looking forward to more generalized plotting tools.

[2022-08-10 13:29] #2180 closed, assigned to nobody

[2022-08-12 21:11] mvanness354 commented on #2188
@lostella Sorry for the delay, I've just made a PR for this issue. Please let me know if I've done anything wrong.
PR: https://github.com/awslabs/gluon-ts/pull/2214

[2022-08-13 02:08] #1547 closed

[2022-08-13 08:09] #2188 closed, assigned to nobody

[2022-08-13 12:59] lostella commented on #1118
This is now part of the documentation (since a while, actually) see https://ts.gluon.ai/dev/getting_started/models.html

[2022-08-13 12:59] #1118 closed

[2022-08-13 13:01] #947 closed

[2022-08-13 13:04] #808 closed

[2022-08-13 13:05] #779 closed

[2022-08-13 13:08] #711 closed

[2022-08-13 13:09] #686 closed

[2022-08-13 13:16] #400 closed

[2022-08-13 13:18] lostella commented on #400
#1601 fixed this

[2022-08-13 13:20] lostella commented on #122
Closing as this is mainly done (and ever-evolving anyways)

[2022-08-13 13:20] #122 closed

[2022-08-13 15:30] lostella commented on #1600
@AyswaryaS95 picking this up a little late: there is an example of hyperparameter tuning using Optuna in the documentation for the `dev` branch: https://ts.gluon.ai/dev/tutorials/advanced_topics/hp_tuning_with_optuna.html

Note that this is a rather minimal example, as stressed in the tutorial, and likely requires increasing training time and tuning trials to provide meaningful results in practice

[2022-08-13 15:30] #1600 closed

[2022-08-13 15:59] #1681 closed

[2022-08-13 16:01] #1724 closed

[2022-08-15 08:49] eugeneteoh opened #2215 "Weighted average for custom evaluation function"
## Description

`gluonts.evaluation.Evaluator` provides a parameter, `custom_eval_fn` which allows defining custom evaluation functions. However, the global (across multiple TS) and local (within TS) aggregations are limited to mean & sum, and mean & median, respectively. My custom metric involves a weighted average-based aggregation, which the current implementation does not provide. It would be

[2022-08-15 09:56] cgoliver commented on #1703
This worked for me as well.

[2022-08-16 10:35] eugeneteoh commented on #2215
Seems to be relevant to https://github.com/awslabs/gluon-ts/issues/2048

[2022-08-16 14:47] lostella commented on #2215
@eugeneteoh exactly, thanks for the issue: flexibility of the evaluator is something we're currently working on, I'll keep you posted when there are updates

[2022-08-17 03:44] ealizadeh-via opened #2220 "Plot learning curves for all Neural Network based GluonTS models like DeepAR"
It would be very useful if we can plot learning curves for the models. Right now, I see that we can pass the validation dataset to the `.train()` method and I believe it's used for early stopping. However, plotting learning curves would also help here?

[2022-08-17 08:23] lostella commented on #2043
@dmitra79 I can confirm that the issue was solved in the `0.10.x` releases: all information about frequency comes now directly from the data (see #1997) and any mis-configuration of the model will result in the model underperforming (if it's configured with the wrong `freq`), or in wrong experimental results (in case the `prediction_length` is set differently from what the experimental data expect

[2022-08-17 08:23] #2043 closed, assigned to nobody

[2022-08-17 15:52] ealizadeh-via commented on #2220
So, basically what I'm asking is if there is away to get the training and validation losses from the training process?

[2022-08-17 21:26] kashif commented on #2220
on the pytorch side these are logged via pytorch lightning

[2022-08-18 04:08] ealizadeh-via commented on #2220
Thanks @kashif.

I just found how to do that from [Trainer callbacks tutorial](https://github.com/awslabs/gluon-ts/blob/dev/docs/tutorials/advanced_topics/trainer_callbacks.md.template).

You need to pass `TrainingHistory()` callback to the `Trainer`. Then, you have access to training and validation loss. Here's an example.

[code]

[2022-08-18 04:08] #2220 closed, assigned to nobody

[2022-08-18 13:08] axeng opened #2221 "TreePredictor not compatible with real dynamic features"
## Description
When using a TreePredictor estimator with a dataset containing real dynamic features, the training crashes.

## To Reproduce

[code]

## Error message or code output

[code]

## Environment
- Operating system: WSL2 - Ubuntu
- Python version: 3.7.12
- GluonTS version: 0.10.3
- MXNet version: 1.8.0.post0 (cu110)
- Pandas version: 1.3.5

[2022-08-18 16:14] dmitra79 opened #2222 "local variable 'lv' referenced before assignment"
## Description

I was trying to train DeepAREstimator and got this error. It turns out the dataset didn't have any data (got filtered down during preprocesing), but the error is not informative. Looking at the code of [gluonts/mx/trainer/_base.py](https://github.com/awslabs/gluon-ts/blob/v0.9.x/src/gluonts/mx/trainer/_base.py):  `lv` is defined in line 391 inside an iteration, but line 421 is outs

[2022-08-18 16:16] lostella commented on #2222
Thanks @dmitra79 makes sense, and I agree this should be caught and reported with a better error message (rather than a coincidental failure)

[2022-08-19 07:40] lostella commented on #2221
@zoolhasson could you take a look? It looks like `_pre_transform` is missing some arguments in the calls [here](https://github.com/awslabs/gluon-ts/blob/b47a602dbb2dce8326a27348e0ae8cd2d8ee46ee/src/gluonts/model/rotbaum/_preprocess.py#L434) and [here](https://github.com/awslabs/gluon-ts/blob/b47a602dbb2dce8326a27348e0ae8cd2d8ee46ee/src/gluonts/model/rotbaum/_preprocess.py#L449), but I'm not sure w

[2022-08-22 13:29] jaheba commented on #2222
Is this a duplicate of #997? Supposedly there is a fix, but maybe not.

[2022-08-22 14:04] lostella commented on #2222
Definitely related. We could detect that the data loader produce no batches, and provide a better error message? One clear reason for that is an empty dataset to begin with; another is that its entries are too short, and get filtered out because of the model pre-processing logic; so we could suggest at least checking that.

[2022-08-23 08:47] #2222 closed, assigned to nobody

[2022-08-23 09:37] #2195 closed, assigned to mr-1993

[2022-08-24 07:03] lostella commented on #2205
@jaheba as a fix, would it make sense to bake `.to_timestamp` in any utils (hopefully it’s a single place) we use to turn `DataEntry` into pandas?

[2022-08-24 12:51] lostella commented on #2205
What's interesting is that inverting the order of plotting also solves the issue:

[code]

![image](https://user-images.githubusercontent.com/433963/186422842-c00a1de8-a0b4-4a61-a1d9-203fded6b72d.png)

[2022-08-24 14:56] eugeneteoh opened #2236 "Flexible Arrow/Parquet data schema"
## Description

Currently, parquet has a fixed schema, requiring attributes/columns to be named in a specific way (start, target, feat_dynamic_real, feat_static_cat etc.). It would be useful if these attributes can be defined in similarly to `PandasDataset`. Something I have in mind is:

[code]

[2022-08-24 15:08] lostella commented on #2236
I think this may apply to more than just Arrow/Parquet, but also JSONLines maybe. Also, there may be multiple columns that contain e.g. features that one would want to stack together.

[2022-08-24 15:26] jaheba commented on #2236
The `ParquetFile` abstraction should be pretty generic, not imposing any fields.

However, `FileDataset` does have the assumption of what columns are named.

Generally supporting is something we are looking into.

[2022-08-24 20:26] Msaleh87 opened #2237 "Adding feature/s for model training in GluonTs - DeepAr"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/2232

<div type='discussions-op-text'>

<sup>Originally posted by **Msaleh87** August 23, 2022</sup>
I know that this might seems like a similar question, I read almost read all of the questions about this issue, and they look similar, but for some reason, I can't get it right. I tried to follow the documentation of the extended fore

[2022-08-24 21:02] Msaleh87 commented on #2237
I figured out what was the mistake: "feat_dynamic_real": Feat[:'2022-03-07 04:50:00']. you have to put square brackets. So it should be "feat_dynamic_real": [Feat[:'2022-03-07 04:50:00']]. I hope this help in the future, the error was not clear at all.

[2022-08-24 21:02] #2237 closed, assigned to nobody

[2022-08-25 09:22] jaheba opened #2239 "Schema Translation"
Models and input data may have different schemas which we want to reconcile providing some abstractions.

## Summary

Models expect input data to accord to a certain schema. However, input data may have its own incompatible data schema, requiring a translation.

It may further be the case that a model's schema has optional columns, meaning that for a given case the column may or may not be availab

[2022-08-25 11:39] lostella commented on #2239
@jaheba in practice, we would provide a way to associate a semantics to each attribute in the data, and have a transformation set up automatically that maps the data into the model's schema, is that right?

Would this get rid of the whole schema-related transformation that are manually configured in estimator types?

[2022-08-25 12:15] jaheba commented on #2239
Not entirely sure what you mean here. The idea would be that one defines the mapping and we do the rest. It could get tricky if datatypes don't really match.

Yes, the model defines a schema, so we would no longer need it as part of the transformation chain.

[2022-08-25 13:01] Msaleh87 opened #2242 "DeepAR: inaccurate forecasts on 5 minute data"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/2241

<div type='discussions-op-text'>

<sup>Originally posted by **Msaleh87** August 25, 2022</sup>
I have an electric load data for about a year, I trained the model for a data set from Mar 2021 until Mar 2022. I only used one feature (zeros and ones for weekends and weekdays). Here is my code:

[code]
These are the results I got,

[2022-08-25 14:00] lostella opened #2244 "Incremental training"
Related to #272, #557

Once a model is trained, and new data is available, users may want to continue training the model on the new data without discarding the previously trained model (that is, without randomly re-initializing the network). This can make the new training converge significantly faster.

Since training is controlled by `Estimator` classes, which are stateless, while the trained mod

[2022-08-25 14:11] jaheba commented on #2244
Looking at some estimators, I would assume that most parameters should be fixed, but only the trainer would change.

I guess we could also haven an `IncrementalTrainer`?

[2022-08-25 14:16] lostella commented on #2244
What would that do?

[2022-08-25 14:18] jaheba commented on #2244
Not sure, probably just making sure that the network is the same.

[2022-08-25 14:54] Msaleh87 opened #2247 "num_samples in make_evaluation_predictions for DeepAr, how to fix the outcome prediction?"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/2246

<div type='discussions-op-text'>

<sup>Originally posted by **Msaleh87** August 25, 2022</sup>
I have an electric load data for about a year, I trained the model for a data set from Mar 2021 until Mar 2022. After I trained my deepAr model, whenever I change num_samples, I get a different prediction. My understanding is that num

[2022-08-25 19:30] #1565 closed

[2022-08-25 22:58] kashif commented on #2244
on the PyTorch lightning side of things, one can train from a checkpoint model... although with more max_epochs as the checkpoint records the epochs and will not train beyond the trainer's max epoch

[2022-08-25 22:58] lostella commented on #2247
Closing in favor of the discussion: please avoid cross-posting discussion as issues, unless the discussion results in an actionable issue that requires attention.

[2022-08-25 22:58] #2247 closed, assigned to nobody

[2022-08-26 08:17] lostella commented on #2244
Yes, good point, checkpoints can also be exploited. I still think it makes sense, in GluonTS, to have a general mechanism to start off with a given `Predictor` that was serialized somewhere. A couple of reasons:
* in case training checkpoints are gone
* to retrieve the whole data-preprocessing pipeline

That still requires the `Predictor` to know what estimator generated it, or otherwise to allow

[2022-08-26 14:03] shagn opened #2254 "[DOC] In list of models links to implementation do not work"
## Description
Hi,
I noticed that in the documentation in [Available models](https://ts.gluon.ai/stable/getting_started/models.html) the links in the column "Implementation" do not work for models with "MXNET" implementation.

E.g. the link `https://github.com/awslabs/gluon-ts/blob/dev/src/gluonts/model/deepar/_estimator.py` should probably be `https://github.com/awslabs/gluon-ts/blob/dev/src/gluo

[2022-08-26 14:31] lostella commented on #2254
@shagn thanks! We actually already fixed this, see #2211, but forgot to backport it, will do it now. Thanks again!

[2022-08-27 06:35] lostella commented on #2254
Works now

[2022-08-27 06:35] #2254 closed, assigned to nobody

[2022-08-29 20:35] rshyamsundar commented on #2067
For future reference, adding here the link to the tutorial that explains how to use the hierarchical model:
https://ts.gluon.ai/dev/tutorials/forecasting/hierarchical_model_tutorial.html

[2022-08-29 20:36] rshyamsundar commented on #1967
For future reference, adding here the link to the tutorial that explains how to use the hierarchical model:
https://ts.gluon.ai/dev/tutorials/forecasting/hierarchical_model_tutorial.html

[2022-08-30 04:24] AkshtaChoudhary commented on #2067
Thank you !

[2022-08-30 13:24] Msaleh87 opened #2260 "How to use early_stopping_patience with deepAr? Also, some questions about the hyperparameters in the documentation"
### Discussed in https://github.com/awslabs/gluon-ts/discussions/2255

<div type='discussions-op-text'>

<sup>Originally posted by **Msaleh87** August 26, 2022</sup>
So I tried to put early_stopping_patience = 6 in my code and it gave me a keyword error.

[code]
I have few questions regarding DeepAr parameters, I read this from Amazon: https://docs.aws.amazon.com/sagemaker/latest/dg/deepar_hyperpa

[2022-08-31 07:55] lostella commented on #2242
@Msaleh87 thanks for opening the issue. It appears that for 5min data, by default, DeepAR looks only 1153 points in the past. This is about 4 days, so the model cannot capture the weekly seasonality properly. You should be able to get better accuracy by constructing the estimator as follows:

[code]

The added `lags_seq` option will set the model up with a longer "receptive field", and should capt

[2022-08-31 07:56] lostella commented on #2242
@Msaleh87 as a side note: I noticed you opened a few discussions and then turned them into issues. In general, it would be better to avoid posting twice since that may spread the discussion in two places, and potentially create confusion. As a rule of thumb (but sometimes the distinction is subtle) we should try to use
* discussions for questions and help requests ("how can I get X done?", "is my

[2022-08-31 08:56] mbohlkeschneider commented on #2260
Hi @Msaleh87,

Thank you for raising this issue.

"early_stopping_patience" was mentioned, but didn't say how

This documentation refers to DeepAR in SageMaker as a first-party algorithm, which is a different implementation then the GluonTS DeepAR. Thus, this documentation does not apply to GluonTS.

Here is a snipped to set the `patience` correctly for early stopping. It is a bit convoluted:

[co

[2022-08-31 08:57] mbohlkeschneider commented on #2260
Closed. Please refer to #2255  for further discussion.

[2022-08-31 08:57] #2260 closed, assigned to nobody

[2022-08-31 19:34] Msaleh87 commented on #2242
Sorry about that, but sometimes I don't get any reply in the discussion section and I think maybe there is a bigger issue and I need to put it as an issue. Because I usually do my homework and read most of the documentation before I ask, I used this for GluonTs: https://ts.gluon.ai/stable/tutorials/forecasting/extended_tutorial.html#Configuring-an-estimator
I will try to keep my questions to a min

[2022-08-31 19:59] Msaleh87 commented on #2260
Thanks, @mbohlkeschneider, really appreciate your help!
I am using this documentation: https://ts.gluon.ai/stable/tutorials/forecasting/extended_tutorial.html#Configuring-an-estimator
If you know of any other please let me know.
I have a couple of questions:
When you said, "GluonTS does not use the standard notion of an epoch that is cycling to all data once but instead has a defined number of bat

[2022-08-31 20:24] lostella commented on #2242
@Msaleh87 I only now realized how large a `context_length` you are using: I would keep that to a much smaller value, say equal to `prediction_length`. No need to make it one week.

[2022-09-01 00:04] Msaleh87 commented on #2242
@lostella, I am a bit confused now, what's the difference between context_length and lags_seq=get_lags_for_frequency("5min", lag_ub=2400)

[2022-09-01 05:12] lostella commented on #2242
@Msaleh87 `context_length` determines how many time steps before prediction the RNN unrolls; the lags indicate what lagged observations the RNN takes as input at each time step. In practice, the model will “look back” until `context_length + max(lags)` time steps before prediction.

You can try leaving `context_length` to its default.

[2022-09-01 09:47] shchur opened #2264 "TemporalFusionTransformer fails on GPU if non-default num_outputs is provided"
## Description
`TemporalFusionTransformerEstimator` crashes when training on GPU with `num_outputs != 3` (any non-default value).

## To Reproduce
[code]

If I change `ctx = mx.context.cpu()` or set `num_outputs=3`, the problem disappears.

## Error message or code output
[code]

## Environment
- Operating system: AL2
- Python version: `3.9.13`
- GluonTS version: `0.9.6`
- MXNet version: `1.9.1-cu

[2022-09-02 18:53] Msaleh87 commented on #2242
Thanks @lostella, I made the context_length = 4 days, and the lags = 14 days. I used this code:

[code]
and I got the results below, what do you think I could modify to capture the valleys better? As you can see, the peaks are somewhat captured. I am using the hour of the day and the day of the week as features, along with holidays and weekends.

![Figure 5 (1)](https://user-images.githubuserconte

[2022-09-04 22:54] abdulfatir opened #2268 "QuantileForecast.plot() is broken"
## Description
The specialized `plot()` function in `QuantileForecast` doesn't work anymore, possibly since the type of `Forecast.index` was changed to `pd.PeriodIndex` from `pd.DateTimeIndex`.

## To Reproduce

[code]

## Error message or code output

[code]

## Environment
- Operating system: MacOS 12.5.1
- Python version: 3.6.10
- GluonTS version: 0.10.3
- MXNet version: 1.9.1

[2022-09-05 07:01] lostella commented on #2268
@abdulfatir does it also happen in the `dev` branch? Also, does turning the start date to `Timestamp` fix it?

[2022-09-05 07:04] lostella commented on #2268
@abdulfatir it seems like the superclass uses `self.index.to_timestamp()` when giving the index to `plt.plot`, do you want to open a PR?

[2022-09-05 09:00] lostella commented on #2264
@shchur one observation: setting `hybridize=False` in the `Trainer` also makes the problem disappear.

[2022-09-05 09:05] lostella commented on #2264
Related:
- https://github.com/apache/incubator-mxnet/issues/16736
- https://github.com/apache/incubator-mxnet/issues/20702

[2022-09-05 09:26] shchur commented on #2264
Thanks a lot for looking into this @lostella! I think `hybridize=False` is a good enough workaround for our purposes in AutoGluon (before switching to PyTorch).

[2022-09-05 16:46] #2268 closed, assigned to nobody

[2022-09-05 17:44] codingWhale13 opened #2272 "Inconsistent error definition"
Currently, the meaning of _error_ doesn't seem consistent. Concretely, MSE uses `target - forecast.mean` as error while other metrics (absolute error, MAPE, ...) define the error as `target - forecast.median`.

Is this a conscious decision or would it make sense to stick to one definition?

For context, see [here](https://github.com/awslabs/gluon-ts/blob/a442592c139e5e12d5b0f3262870c031449afdca/sr

[2022-09-06 08:06] lostella commented on #2272
It's a conscious decision. Under the assumption that the predicted distribution (`forecast`) is what `target` is sampled from, then:
- the mean of the distribution minimizes the mean squared error
- the median of the distribution minimizes the mean absolute error

[2022-09-06 08:15] jaheba commented on #2272
Maybe something we can do is to document this better. So for each metric using `mean` or `median` we could highlight which one is used and why.

[2022-09-06 14:45] Msaleh87 commented on #2242
@lostella Thanks, I am a bit confused about the time_feat, do I need to enable it inside the estimator? I ran the predictor and it runs fine, but I am not sure if it's using the time_feat I added to the training data set. I added 0 for weekends and 1 for weekdays as  'feat_dynamic_cat'. Also, I added in the time_feat, the hour of the day, and the day of the week (do I need to add those, or the mod

[2022-09-07 03:34] Msaleh87 opened #2280 "I ran the same DeepAr model twice with 50 epochs and got 2 totally different forecast"
## Description
I have a 15 months worth of data with 5 mins resolution. I trained the model for 12 months and was predicting for 2 days ahead. I ran the same exact model twice and I got completely 2 different results.

[code]
![Figure 1 (9)](https://user-images.githubusercontent.com/42920113/188782865-e3f9627a-30df-406b-b71d-86c66c310325.png)

![Figure 12](https://user-images.githubusercontent.com

[2022-09-07 03:48] kaleming commented on #2280
In order to reproduce the same result, you should avoid using multiprocessing or gpu and you should set a seed value in your code:

[code]

This was already discussed [here](https://github.com/awslabs/gluonts/issues/1040)

[2022-09-07 13:02] Msaleh87 commented on #1040
@lostella Thanks for clarifying this, I have a couple of questions:
1- based on what you picked mx.random.seed(7), np.random.seed(7). I mean why specifically 7, is it trial and error, or is it related to the data size? And why this would make the results reproducible?
2- When you set num_workers=None, what does num_workers refer to?

[2022-09-07 13:04] Msaleh87 commented on #2280
Thanks @kaleming . I went through the link you shared and I asked a couple of questions:
1- based on what you picked mx.random.seed(7), np.random.seed(7). I mean why specifically 7, is it trial and error, or is it related to the data size? And why this would make the results reproducible?
2- When you set num_workers=None, what do num_workers refer to?

[2022-09-07 13:23] kaleming commented on #2280
When you use `.seed(x)`, x could be any number. 7 is just a example. The seed function is used to save the state of a random function, so that it can generate same random numbers on multiple executions of the code on the same machine or on different machines (for a specific seed value).

`num_workers = 0` for exemple, means that the data will be loaded in the main process, without using subprocess

[2022-09-07 14:25] Msaleh87 commented on #2280
@kaleming Thanks. So this means that the weights/ (maybe certain variables) initialization in DeepAr is random, and to start from the exact same point every time we train the model, we use `.seed(x)`, correct? My worry is, what if I was unlucky and it starts from a bad random initialization and gets stuck in bad prediction, does that make sense or there is something I am missing? The way I think a

[2022-09-07 15:25] kaleming commented on #2280
Yes, I think you got the point.
One way to improve your training could be increasing the `num_batches_per_epoch` parameter.

You can use the total number of your dataframe rows divided by `batch_size`. This will avoid to get stuck in bad prediction, since it will include more data.

[2022-09-07 17:39] Msaleh87 commented on #2280
Thanks so much, @kaleming. That makes a lot of sense, I thought I was doing something wrong.
So to make sure I got this clear, what you are saying is to put `num_batches_per_epoch` = the number of rows in my data frame / the `batch_size` I choose, correct?

[2022-09-07 17:44] kaleming commented on #2280
@Msaleh87 Yes, correct. Have a try, see if you get a better result.

[2022-09-07 19:41] Msaleh87 commented on #2280
@kaleming I am trying it now and will post the results for others' reference once am done, which one do you think makes more sense, bigger `batch_size` or bigger `num_batches_per_epoch`? I am currently going through the documentation to figure out the impact of this.
I have 100512 rows and I am trying now: `batch_size`=1396 and `num_batches_per_epoch`= 72.

[2022-09-08 13:04] Msaleh87 commented on #2280
I ran 2 identical models simultinously and got the same results, here is my code:

[code]

This is the results I got:
![Figure 3](https://user-images.githubusercontent.com/42920113/189128399-6ee05494-50fe-444b-87c0-86c52423a986.png)

Thanks @kaleming, could you please take a look at this question: https://github.com/awslabs/gluonts/discussions/2283

[2022-09-08 13:04] #2280 closed, assigned to nobody

[2022-09-08 13:31] Msaleh87 commented on #2280
I am also running another model with `batch_size`=349 and `num_batches_per_epoch`= 288, instead of `batch_size`=1396 and `num_batches_per_epoch`= 72. To see how this would impact, the training is taking longer for sure. I will post the results for others' reference once they are done.

[2022-09-08 13:42] #2242 closed, assigned to nobody

[2022-09-08 17:05] kaleming commented on #2280
@Msaleh87  Try to test a higher num_batches_per_epoch and keep the batch size 64 or 32.

[2022-09-08 17:19] Msaleh87 opened #2284 "Optional features explanation in the documentation of GlounTs DeepAr is not clear and simple examples would help"
### Discussed in https://github.com/awslabs/gluonts/discussions/2283

<div type='discussions-op-text'>

<sup>Originally posted by **Msaleh87** September  7, 2022</sup>
This is the definition/explanation of the features in the documentation: https://ts.gluon.ai/stable/tutorials/forecasting/extended_tutorial.html#Use-your-time-series-and-features

`feat_static_cat`: static (over time) categorical fe

[2022-09-08 17:28] Msaleh87 commented on #2280
@kaleming I will try that too and post the results here. I opened an issue regarding the optional features here: https://github.com/awslabs/gluonts/issues/2284
I went through a lot of discussion regarding these features and the documentation, but still, it wasn't clear and there were no clear examples. I even included all the previous discussions regarding this topic in the issue. I saw one of the

[2022-09-09 18:57] Antoine-Schwartz opened #2288 "Learning rate setting not available for Pytorch models"
Hello everyone,

I hesitated to tag this issue as a "bug" because I think it's a simple design problem.

Indeed, unlike the **MXNet** equivalent, in the **Pytorch** estimators, the trainer does not carry the `learning_rate` information.
It's defined in LightningModule, but this one is not instantiated before training:

[code]

So I have the impression that it's not possible to set the learning rat

[2022-09-09 19:01] melopeo commented on #2288
Potentially related to PR https://github.com/awslabs/gluonts/pull/2287

[2022-09-09 19:01] Msaleh87 commented on #2280
So I had 100512 rows of training data, so I tried: `batch_size`=256 and `num_batches_per_epoch` = 392, for 10 epochs, each epoch took around an hour and 20 mins to run. Here is my code and results:

[code]

![Figure 7 (1)](https://user-images.githubusercontent.com/42920113/189424675-56342cae-8190-48be-bec1-5c8be7a17ef8.png)

![Figure 8 (1)](https://user-images.githubusercontent.com/42920113/189424

[2022-09-09 19:02] Msaleh87 commented on #2280
I also tried, `batch_size`= 32 and `num_batches_per_epoch` = 3141, but one epoch estimated time was around 5 hours, so I stopped it.

[2022-09-09 19:06] Msaleh87 commented on #2280
I also tried: `batch_size` = 1396 , `num_batches_per_epoch`= 72, but weekeds/ weekdays feature was added as `'feat_dynamic_cat' `not as` 'feat_dynamic_real'`. Naybe this impacted the results a bit. Also, I ran it for 50 epochs. I also put num_samples to 100 and that's why some of the variability in the results are missing.

Here are the results:

![Figure 3 (1)](https://user-images.githubuserconte

[2022-09-10 18:23] #2288 closed, assigned to nobody

[2022-09-13 06:48] ken-take-it-so-so opened #2296 "How to subplot (サブプロットのやり方)"
## Description
Hello.
This is my first time post in GitHub. I am not familiar with GluonTS.
I use multivariate dataset and the dimension is 8. I want to plot the probability forecasts(observations, median prediction and prediction interval) in one figure which has 8 subplot.
However it doesn't work well. I referred to #1264, but still go wrong.
I would appreciate your cooperation.
<br/>

(こんにちは．
今

[2022-09-13 13:10] jaheba opened #2299 "Rework `.predict`."
Currently, `.predict` takes in a dataset in yields predictions for each input-timeseries.

However, this interface is a) not intuitive and b) does not reflect efficient invocation of networks in batches.

To predict a single time-series, one has to do something like:

[code]

Ideally, one could just do:

[code]

In addition, we should have `predict_batch` which takes in a batch if input-time serie

[2022-09-13 13:16] jaheba commented on #2299
One problem that I see is that it's very hard to gracefully deprecate the current `.predict` API.

Instead we could have `predict_one`, `predict_batch`, `predict_all` and then think about how we would want to do the migration.

[2022-09-13 13:26] lostella commented on #2299
For batches, I was really thinking about only having the output be a stream of "batch forecasts" (see #2286), but keeping the input a `Dataset` just like `.predict`. The reason for this is, it's convenient to avoid "deconstructing" the output of a network into individual `Forecast` objects, since you can probably evaluate much faster if you don't; on the input side, the two possibilities are reall

[2022-09-13 13:35] jaheba commented on #2299
I guess we can have both, `predict_batch` and `predict_batches`.

For example, we could use something like this:

[code]

[2022-09-13 13:45] dai-ichiro commented on #2296
Can you tell me a little more about exchange_rate_nips dataset?
Dataset for train has 8 time series but dataset for test has 40 time series.
So, len(tss) or len(forecasts) returns 40.

[2022-09-13 22:44] ken-take-it-so-so commented on #2296
@dai-ichiro, thank you for your response !
I think below page(Datasets, Provided datasets) explains the source of the dataset.  GruonTS prepares many datasets and exchange_rate_nips is the one of them.
[Quick Start Tutorial](https://ts.gluon.ai/stable/tutorials/forecasting/quick_start_tutorial.html)
I want to answer your question using two pictures.
<br/>
(@dai-ichiro さん，ご返信ありがとうございます！
以下のページ(Data

[2022-09-14 00:01] dai-ichiro commented on #2296
Thank you, [ken-take-it-so-so](https://github.com/ken-take-it-so-so).

Try this script.

[code]

Hope this helps.

[2022-09-14 08:04] ken-take-it-so-so commented on #2296
It worked well !!
I really appreciate you ! I'm happy that my first chat partner is you.
This is the successful plot.(Size change, space change and legend are made.)
![deepar_exchange2](https://user-images.githubusercontent.com/109563059/190096296-33b4916f-1d9a-42eb-9e01-f5448e4e1a2e.png)

Best regards,

[2022-09-14 08:08] #2296 closed, assigned to nobody

[2022-09-15 20:16] Msaleh87 opened #2308 "How to extract the forecast data from MQ-CNN model"
So I was trying to plot the forecast data on top of the test data. I can plot them separately, but not on top of each other. Then I tried to extract the forecast data, but for some reason, I could not. Here is my code:

[code]

Now if I want to plot I do:
[code]
How can plot them on top of each other, and more importantly how can I extract the forecast data in the format of timestamps and correspo

[2022-09-16 10:52] #2308 closed, assigned to nobody

[2022-09-19 06:58] lostella commented on #2244
Could require improvements, but done for now

[2022-09-19 06:58] #2244 closed, assigned to nobody

[2022-09-19 10:12] #2172 closed, assigned to nobody

[2022-09-19 14:10] Vzlentin opened #2313 "DeepAR Model export RuntimeError: Please first call block.hybridize() when trained with hybridize=True"
## Description
I'm trying to log a trained DeepAR predictor to a MLFlow experiment and I get an error saying that I should hybridize the model when I trained it with the hybridize=True parameter set.

## To Reproduce
[code]

## Error message or code output
[code]

## Environment
- Python version: 3.7
- GluonTS version:0.10.5
- MXNet version:1.9.1

[2022-09-20 07:19] lostella commented on #2313
@Vzlentin this is expected behaviour: you can call `as_symbol_block_predictor` as follows, to force hybridization of the prediction network.

[code]

You can also consider the PyTorch implementation of the `DeepAREstimator`, see https://github.com/awslabs/gluonts/blob/dev/src/gluonts/torch/model/deepar/estimator.py

[code]

[2022-09-20 08:00] Vzlentin commented on #2313
@lostella thanks for your reply
When I pass the train dataset to as_symbol_block_predictor  I get this error :

[code]

My train dataset is built like this:
[code]
With the target and the individual feat_dynamic_real arrays each of lentgh 41 (ts_length - horizon)

I don't know what could be the size 53 array that fails to be concatenated since I don't pass one during training

Do you have an idea

[2022-09-20 12:16] mharvan opened #2316 "mqcnn on gpu: control dep not found in graph"
Training mqcnn models on a gpu is consistently failing for me with the error
[code]

Complete error message:
[code]

This output comes from a simplified version of benchmark_m4.py:
[code]

Details about my setup:
[code]

[2022-09-21 10:36] lostella commented on #272
This was addressed in #2244: it may require adjustments or polishing, but those can be addressed as separate issues.

@alisha-metkari-aera currently you would have to set up a new estimator (with a different prediction length) and train it from scratch. Being able to use a pre-trained model on a different task (different prediction length) could be done on specific cases, but it's very much archit