[2020-04-30 16:21] KanWu10 commented on #800
@lostella Thank you ! I will try this.

[2020-04-30 17:30] szha commented on #717
Hi team. Is the related infra change ready?

[2020-04-30 17:49] KanWu10 commented on #800
@lostella I fixed the last error and my current package version is gluonts-0.4.3.dev117+g53120d4.
However I still cannot set feature 'calculate_owa' for the same error.
[code]

[2020-04-30 17:50] fernandocamargoti commented on #636
I'm also training for count series and the loss wasn't converging. I've seen this issue and found the PR https://github.com/awslabs/gluon-ts/pull/719 from @kashif. Since it wasn't merged yet, I forked the fixed distribution and trained again. Now my loss is converging.

[2020-04-30 17:56] lostella commented on #800
Now that’s weird. Can you check what the following outputs?

[code]

[2020-04-30 18:02] KanWu10 commented on #800
Here is the output.
<img width="1075" alt="Screen Shot 2020-04-30 at 2 02 38 PM" src="https://user-images.githubusercontent.com/54816452/80743628-4226ad00-8aeb-11ea-9e31-d9e1d54aba17.png">

[2020-04-30 18:03] KanWu10 commented on #800
@lostella Hi below is the output.
<img width="1075" alt="Screen Shot 2020-04-30 at 2 03 23 PM" src="https://user-images.githubusercontent.com/54816452/80743679-5c608b00-8aeb-11ea-81e4-81b8ee0f116f.png">

[2020-04-30 18:20] lostella commented on #800
So you're still running 0.4.3. Can you `pip uninstall`, make sure the package is removed, and reinstall it with the command I pasted above?

[2020-04-30 18:36] lostella commented on #717
@szha #801 should set us up for mxnet<2, we will maybe add a workflow to test also on mxnet>= 2

[2020-04-30 18:51] #717 closed

[2020-04-30 18:57] KanWu10 commented on #800
@lostella I have removed the gluonts 0.4.3 before I use the command to reinstall and the package version in Preference is also gluonts-0.4.3.dev117+g53120d4.
[code]
<img width="744" alt="Screen Shot 2020-04-30 at 2 57 02 PM" src="https://user-images.githubusercontent.com/54816452/80748403-dba58d00-8af2-11ea-8e87-17e32bb9a1c3.png">
However, when I ran Evaluator command I still got same error.

[2020-04-30 19:02] lostella commented on #800
@KanWu10 did you restart the IPython kernel in your Jupyter notebook after installing `gluonts-0.4.3.dev117+g53120d4`? The notebook clearly output "0.4.3" above

[2020-04-30 19:05] KanWu10 commented on #800
@lostella My bad. I just restarted it and all stuff are working well now.
Thank you so much for your help, I really appreciate it.

[2020-04-30 19:22] #800 closed

[2020-05-01 04:57] #785 closed

[2020-05-01 23:38] ramdhan1989 commented on #508
`training = ListDataset(
        [{"start": df.index[0],
          "target": df.target[:split_date],
          "feat_dynamic_real": df.exogen_feature[:split_date]
          }],
        freq="d"
    )
    future = ListDataset(
        [{"start": df.index[0],
          "target": df.target[:split_date],
          "feat_dynamic_real": df.exogen_feature[:split_date + timedelta(days=prediction_length)]

[2020-05-01 23:41] ramdhan1989 commented on #338
did you get the answers?

[2020-05-02 00:25] ramdhan1989 commented on #508
`training = ListDataset(
        [{"start": df.index[0],
          "target": df.target[:split_date],
          "feat_dynamic_real": df.exogen_feature[:split_date]
          }],
        freq="d"
    )
    future = ListDataset(
        [{"start": df.index[0],
          "target": df.target[:split_date],
          "feat_dynamic_real": df.exogen_feature[:split_date + timedelta(days=prediction_length)]

[2020-05-02 05:19] ramdhan1989 opened #803 "how to use time_features properly in DeepAR"
Please help, is there any code example about how to configure time_features parameters and how to use base, holiday, and lag features. If I have list of special day that need to considered (like day of promotion) or manual holiday (specific holiday from other country) how to set the features and pass into the model. there is also FEAT_TIME in ListDataSet which I don't understand to use it. I have

[2020-05-03 19:31] kaleming commented on #803
Have a look here (#469)

[2020-05-04 17:46] jaheba opened #806 "Add forward-fields support to shell for batch-transform"
When doing batch transform, one might want to store additional fields such as `item_id` alongside the prediction to be able to simply match input and output values.

Currently, we just ignore all additional values.

[2020-05-04 17:49] jaheba commented on #806
This might be obsolete, since batch transform might be able to do it itself:

https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DataProcessing.html

[2020-05-04 21:04] lostella commented on #794
@stellaywu for the moment, you can just set `cardinality=[1]` together with `use_feat_static_cat=False`

[2020-05-05 11:34] stellaywu commented on #794
thanks!

[2020-05-05 11:34] #794 closed

[2020-05-05 20:21] lostella commented on #794
You're welcome, but no fix was involved :-) this is just the way to make it work when you set `feat_static_cat=False`, currently. We should either improve the documentation there, or improve the API of this estimator in some way (see #799 for related discussion)

When you set `feat_static_cat=False`, the model injects fake categorical features in the data, all equal to zero. So there is one catego

[2020-05-06 02:59] ramdhan1989 opened #807 "didn't get good result deepAR negative binomial"
Kindly need your advice how to get the good model using deepAR neg binomial. I have ts data to predict sales with input data such as time information (day, month, hour), weather condition, and holiday. Unfortunately I only get RMSE above 8 on hold out dataset meanwhile using statistic model I can get RMSE 4-5. the loss is stable at 1.99 (what is the loss calculation here?) . tuned hyperparameter s

[2020-05-06 07:50] VasudevTA commented on #437
Hi, @rshyamsundar, I am puzzled by your above statement. The inclusion of cardinality doesn't make sense to me. Also Cardinality would be a vector in cases with many static categorical features.

Could you please elaborate on this.
Many thanks in advance!

[2020-05-06 08:18] lostella commented on #437
@VasudevTA I believe "cardinality" in that context refers to the "size of the dataset" -- let me fix that comment to avoid further misunderstandings

[2020-05-06 09:19] cesans commented on #272
I've come across with this issue as well. Looking at the `GluonEstimator.trainer()` code it returns only the predictor:

[code]

But that `TrainOutput` object also contains the `trained_net`, I think it is possible to keep that object and allow to continue the training with minor API changes. Something like this:

[code]

Would this make sense? I am not sure if there is any model not using the `Gl

[2020-05-06 14:43] AaronSpieler commented on #519
The fact of irregularly spaced time-series could be a problem. You could try so pre-processing steps like filling the values with the average of the neighboring, or other values that make sense, to have regularly spaced time series in the end. Aggregation is another alternative.

Even bigger problem is if you want to have `prediction_length=context_length=24` and your time series is not even 24 lo

[2020-05-06 15:54] Jonny-G13 opened #808 "ValueError: could not broadcast input array from shape (283) into shape (1)"
Hi there, I am trying to train a multivariate time series model with a dataset containing over 400 time series with a related time series data for each series in the dataset. The data is recorded at a daily interval over the period of approx 1 year.

Whilst running some initial baseline tests I ran into an issue. While I managed to train both the DeepAR and DeepState models without any problem, wh

[2020-05-06 17:49] VasudevTA commented on #437
Thanks @lostella - This clears up the confusion!
Per the equation num_batches_per_epoch x epochs x batch_size / dataset_size = number of passes over the whole data, if the data_size is really large, say 10K and num_batches=32, epochs=10 and num_batches_per_epoch=10, only 3200/10000 series are used. In that case, are these 3200 series chosen at random from the 10K series?

[2020-05-07 15:10] #718 closed

[2020-05-08 04:54] ramdhan1989 opened #813 "Index make_evaluation_predictions not align with dataset"
My dataset have 3H interval but doesn't start from 00:00 as described as follow :
`DatetimeIndex(['2019-01-01 08:00:00', '2019-01-01 11:00:00',
               '2019-01-01 14:00:00', '2019-01-01 17:00:00',
               '2019-01-01 20:00:00', '2019-01-01 23:00:00',
               '2019-01-02 02:00:00', '2019-01-02 05:00:00',
               '2019-01-02 08:00:00', '2019-01-02 11:00:00',

[2020-05-08 08:11] vblagoje commented on #264
Hi @jaheba I also ran into freq issues when using time-series based on US business days. As you know, we have to construct DeepAREstimator (and other evaluators) with freq string but what I really need is custom business day [offsets](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#custom-business-days). Otherwise, all the lags are shifted when using `make_evaluation_predic

[2020-05-08 16:25] vblagoje opened #815 "Forecasting target series without out-of-sample dynamic features"
Is there a way to forecast target series without dynamic features from the "future"? In my use case, multiple dynamic features `feat_dynamic_real` influence the target series. I had no issues creating the model, using `make_evaluation_predictions` and so on. Once I tried to do actual real-life forecasting my initial attempts were failing in `VstackFeatures` transformer (the `np.vstack(r)` invocati

[2020-05-09 11:55] samosun opened #816 "reference to negative binomial distribution formulations"
different from ![image](https://user-images.githubusercontent.com/20217808/81472067-1a8cbe80-9228-11ea-9913-82884320b20f.png),
I think negative binomial distribution in gluonts/distribution/neg_binomial.py is a more general form, where can I find more references to the negative binomial probability function defined in this form? Any suggestions? Thank you very much.
I tried on wiki, but to find NB

[2020-05-09 14:01] parimuns commented on #763
Hello @robertosannazzaro
I am also facing same issue.If you have solved this issue .Can you pls paste your prediction code here for unseen data..

[2020-05-10 11:06] vblagoje commented on #815
I found the answer. @benidis explained everything in his post [here](https://github.com/awslabs/gluon-ts/issues/280#issuecomment-531170377).

[2020-05-10 20:12] lostella commented on #636
@SkanderHn @fernandocamargoti #719 and #814 introduced fixes to the scaling issues with NegativeBinomial: could you try on the current master branch whether these help? (Especially with the example in the original post)

[2020-05-11 04:25] rajasekharthiru opened #817 "Understanding more about Canonical Instance Splitter in Deepstate"
Hi @lostella, It would be of great help, if you could correct my understanding on the past length and its usage in Canonical Instance Splitter in Deepstate..
My understanding is:
In canonical instance splitter, an argument TestSplitSampler which takes past length, length of target as input and returns index of last value in target and this returned index is looped over to subset the timeseries. as

[2020-05-11 11:25] kashif commented on #255
@jaheba I have a fix for this `simulate` issue too, but I would like to get someone with R experience to look at it... should i open a PR or do you have something as well?

[2020-05-11 13:12] rajasekharthiru opened #818 "mxnet: the input matrix is either not symmetric or not positive definite."
## Description
Hi, I am using deepstate estimator for forecasting, but during 2nd epoch the training fails with the following error. I provided 96000 timeseries for training out of which 50% of the series are sparse series.
## To Reproduce
Please find below the Estimator details:
[code]

## Error message or code output
MXNetError                                Traceback (most recent call last)
<ip

[2020-05-11 13:27] vblagoje commented on #652
@mbohlkeschneider can any other model be used for multivariate series prediction or just gpvar?

[2020-05-11 13:37] mbohlkeschneider commented on #652
Technically, `DeepAR` and `DeepVAR` should work as well. However, `GPVAR` is the model I would recommend.

[2020-05-12 04:58] samosun commented on #557
related to https://github.com/awslabs/gluon-ts/issues/272?

[2020-05-12 12:05] konradsemsch commented on #636
I also checked that yesterday after I pulled the master branch but I haven't observed a particular improvement TBH... but perhaps I wasn't able to fully reproduce my last trials, so don't quote me on this ;)

I had a bit of a break from using gluon and now I'm coming back to it again, so I'll try to report again in case I find something.

[2020-05-13 01:42] kaleming opened #820 "FileDataset - (ValueError: setting an array element with a sequence)"
## Description
Hello,

I am saving my files (training/test) into a json file. Then I use the FileDataset function to load the dataset:

## To Reproduce
[code]

## Error message or code output
However it is returning an error, when I try to load:

[code]

## Environment
- Operating system:Ubuntu 18.04
- Python version: 3.6.7
- GluonTS version: 0.5

It is a json file that looks like this:

`
{"start

[2020-05-13 02:15] kaleming commented on #820
It seems the error is cause by trying to create an array from lists or arrays of differing length. Without the dtype the following creates an object dtype array; with a numeric dtype it raises this error.

I will check if there are feat_dynamic_real arrays with different sizes.

[2020-05-13 08:47] arangatang opened #821 "Run nightly tests failing since new release"
## Description
Updating the release with new requirements to install breaks the nightly builds.
see issue #785 for nightly build pull request

The added requirements are
[code]

## To Reproduce
 run the nightly builds.

## Error message or code output
See:
https://github.com/awslabs/gluon-ts/actions/runs/103054335
https://github.com/awslabs/gluon-ts/actions/runs/103048935

## Environment
- GluonTS

[2020-05-13 08:48] lostella commented on #821
is this a problem in the package itself or just the nightly tests setup?

[2020-05-13 08:59] arangatang commented on #821
Just the nightly tests as I understand it as we are now depending on Sagemaker but the dependencies are currently not installed as part of the `requirements-tests.txt` from which all previous dependencies was installed.
Now the Sagemaker tests are installed from separate requirements files.

[2020-05-13 12:01] #821 closed

[2020-05-13 16:30] konradsemsch opened #824 "Tuning DeepAR"
I'd like to drop a short question regarding the approach of tuning the DeepAR model. I'm assuming that a similar approach as listed on AWS's website would be also recommended for the open-source version of the algorithm: [link](https://docs.aws.amazon.com/sagemaker/latest/dg/deepar-tuning.html)?

If so, then I wanted to ask a question regarding how batching works in the open-source version since i

[2020-05-13 16:40] lostella commented on #820
Yes, those should all have the same length

[2020-05-13 20:17] ikramelmbarki commented on #595
does Gluon do the feature engineering steps?

[2020-05-14 00:48] bluesky333 opened #825 "Regarding GPVAR Estimator Train Initialization GluonTS ver 5.0"
Hi I am trying to use GPVAR estimator for my multivariate dataset.
My data dimension is 246 and used hyperparams as below to run GPVAR estimator
after reading the paper.

[code]
**However,** the estimator does not get trained for hours. It is stuck in initializing the optimizer
[code]

If I try with 2 dimension, the training is successful.

FYI,
I am not using gpu. I am using cpu.
[code]

[2020-05-14 04:30] mbohlkeschneider commented on #825
Hi @bluesky333,

thank you for using GluonTS. This is a known Mxnet issue with graph initialization, tracked [here](https://github.com/apache/incubator-mxnet/issues/17565). You can confirm whether this is the issue by setting `hybridize=False` as described in #607.

[2020-05-14 05:29] bluesky333 commented on #825
Hi @mbohlkeschneider

Thank you for the prompt reply.
The graph initialization is okay after setting hybridize=False,
but training is very slow, which is sad for me as I only have CPUs.
I will close the issue for now.

[2020-05-14 05:29] #825 closed

[2020-05-14 06:41] mbohlkeschneider commented on #825
Hi @bluesky333,

It might still be faster to wait for the graph initialization with `hybridize=True`. Even if graph initialization takes a while, it is probably faster overall. Note that a GPU will likely not speed the computation because the model is largely sequential and most operations cannot be parallelized.

[2020-05-14 06:48] bluesky333 commented on #825
Ok I will try with hybridize=True. Last time when I waited 4 hours it did not get initialized though.

[2020-05-14 07:04] konradsemsch commented on #636
Ok, I can make a final confirmation today that the problem persists on my side after the update... Funny enough, this error wasn't coming before on my side. I'm using the M5 dataset here.

Initialisation of my estimator:

[code]

The error that I'm seeing:

[code]

On the other hand, I then tested the PoissonOutput as well as the default distribution and keep seeing the same message... do you know

[2020-05-14 07:07] mbohlkeschneider commented on #825
What do you set `context_length` to? `prediction_length` of 180 is also really high. I would try reducing this.

[2020-05-14 07:11] konradsemsch commented on #636
Sorry, never mind - I forgot that I have included an additional covariate with missing values which seems to be causing the problem. After removing it things seem to be working fine! Would your recommendation be to impute such variables before training?

[2020-05-14 07:14] kashif commented on #636
@konradsemsch yes so for missing covariates either impute it from past seasonal means etc. or you need to also predict it like the target...

[2020-05-14 07:14] mbohlkeschneider commented on #636
DeepAR should run out-of-the box with missing values without the need to impute. You just have to encode missing values as `NaN`. The model should take it from there.

[2020-05-14 07:18] bluesky333 commented on #825
I left `context_length` as None. For 180 `prediction_length`, I know it is high. I am thinking of reducing it to 60. Thank you for the help.

[2020-05-14 08:07] lostella commented on #636
After the recent changes, I trained `DeepAREstimator` on the data from the original post, with prediction length 52 (1 year), for 5 epochs and default settings otherwise (in particular, scaling is enabled). The predictions I get look like follows:

![636_scaling](https://user-images.githubusercontent.com/433963/81908981-431b0c80-95ca-11ea-8636-6e5341a7803a.png)

This could probably be improved, bu

[2020-05-14 08:07] #636 closed

[2020-05-14 09:41] arangatang opened #826 "MXNet nightly test fails often during last two weeks"
## Description
The MXNet nightly test is failing often during the last month.

## To Reproduce

see the logs of the last runs of MXNet
https://github.com/awslabs/gluon-ts/actions?query=branch%3Amaster+workflow%3A%22MXNet+nightly%22

## Error message or code output

There seem to be two errors, one is that the package `wheel` is not installed.
The other seems to be a missing file

### example of mi

[2020-05-14 11:41] kaleming commented on #820
The problem was solved.
There was some arrays with different sizes (inside feat_dynamic_real).

[2020-05-14 11:41] #820 closed

[2020-05-14 18:43] #826 closed

[2020-05-15 11:06] verdimrc opened #828 "Difference between freq="W" and freq="7D""
I prepared my weekly dataset in "W" (which equals to "W-SUN") frequency. If I train a DeepAR estimator with freq="7D", I got this warning:

[code]

I'd like to understand what's the meaning, and whether the model behaves differently (or the data undergoes different feature engineering) when trained with freq="W"?

The real reason I ask, is because I want to prepare my dataset in "W-MON", but since

[2020-05-15 21:01] ehsanmok opened #829 "Switch to Gluon Estimator"
## Description

GluonTS esitmator has reinvented the wheel of the existing [gluon estimator](https://github.com/apache/incubator-mxnet/blob/3e676fc2c88bec75e4463c8fa9b5532664d518c2/python/mxnet/gluon/contrib/estimator/estimator.py#L42) which currently is on contrib and will become stable eventually. Gluon estimator is a better customizable object (supporting multi-gpu context) with various availab

[2020-05-17 17:03] dmitri-carpov opened #830 "How the electricity_nips dataset was produced?"
Assuming `electricity_nips` dataset represents the one used in DeepAR paper [1], then it should be the same as the one used in MatFact paper [2].
I have found the script which downloads electricity dataset which is used to reproduce MatFact results: https://github.com/rofuyu/exp-trmf-nips16/blob/master/python/exp-scripts/datasets/download-data.sh (very likely it's the repository of the paper's aut

[2020-05-17 18:18] trunghlt commented on #358
@lotsoffood could you please paste a working example of using Ray's tune to tune GLuon over multiple GPUs? what value do you pass to Trainer's context? I set it as "gpu" and got GPU initialization error.

[2020-05-18 08:33] #815 closed

[2020-05-18 08:53] arangatang opened #831 "Implementing rolling forecasts"
## Description

Implementing error evaluation using rolling forecasts (also known as time series cross validation) would bring more accurate error metrics to Gluon-TS.

There are a couple of different ways to implement this:
1. Implement this to run it in memory in `backtest.py`
2. Edit predictors such that they reuse target values in datasets
3. Rerun backtest_metrics several times with different

[2020-05-18 09:47] mbohlkeschneider commented on #830
Hi @dmitri-carpov,

thank you for your question. To clarify, this dataset does *not* represent the data from either the DeepAR or the MatFact paper, but rather from [this paper.](https://arxiv.org/abs/1910.03002)

Thus, to your specific questions the answers are:

1. No
2. N/A
3. No.

[2020-05-18 11:48] lostella commented on #831
I would exclude option 2 and 3, and if I understand correctly I think that options 1 and 4 are pretty similar. Why do you say that option 1 would have a big memory overhead?

[2020-05-18 12:06] lostella commented on #808
@Jonny-G13 could you include a minimal working example, which shows how you set up data & models and raises the errors you encounter?

[2020-05-18 12:15] lostella commented on #816
@samosun I believe the Wikipedia article covers it: under "alternative formulations" you can find how the probability mass function can be expressed in terms of the gamma function. Note that we're parametrizing negative binomial distributions using directly the mean `mu = p*r/(1-p)` and `alpha = 1/r`.

[2020-05-18 12:15] #816 closed

[2020-05-18 12:16] arangatang commented on #831
Option 1 would have a bigger overhead due to it creating a larger dataset and keeping it in memory.  Thus a lot of duplicate data will be in memory. Option 4 would instead edit the in-memory dataset thus avoiding duplicated timeseries.

an example may help.
Say we have 10 time series each with a target length of 100 in our dataset and a prediction length of 1. From this dataset we wish to calculat

[2020-05-18 12:22] lostella commented on #831
I see, but I think that the `TransformedDataset` in option 1 has the same effect of lazily yielding transformed entries from the original dataset, so it should be very similar in terms of memory footprint if I understand coffectly

[2020-05-18 12:33] arangatang commented on #831
Makes sense, I guess we could implement option 1 and measure the memory utilisation. If we see that the lazy execution does not handle it properly we could try option 4 instead?

Also, I think that the dataset generation should be reachable through some method exposed in some utils file. Thus, a user who does not want to use backtest.py for some reason could still utilize rolling forecasts.

[2020-05-18 12:36] lostella commented on #831
Exactly: option 4 being memory efficient implies that option 1 is memory efficient, because you can use whatever you do about 4 into 1. So in a way they are really the same thing, with option 1 just offering a higher level interface, so to speak.

[2020-05-18 12:43] dmitri-carpov commented on #830
Hello @mbohlkeschneider,

Thanks for the clarification. [The paper](https://arxiv.org/abs/1910.03002) references to  UCI repository, has the same 370 customers and the split is exactly the same as the one used in DeepAR paper. If this dataset is built from https://archive.ics.uci.edu/ml/datasets/ElectricityLoadDiagrams20112014 I'd still be curious how. In the Supp. F you mention that "Datasets (or

[2020-05-18 12:56] mbohlkeschneider commented on #830
Hi @dmitri-carpov,

Since we already published the datasets, publishing the processing scripts from this paper is currently not a priority.

[2020-05-18 13:01] samosun commented on #816
@lostella thank you for replying, I should have been more clear with my question, I thought X in Wiki has "Support"
![image](https://user-images.githubusercontent.com/20217808/82214722-da74bc80-9948-11ea-9c91-6ae196aeb7ef.png), defined only on intergers. but in the code X can be any real number, I think there's a more general form comparing to X is counting number?

[2020-05-18 13:13] lostella commented on #816
I think it's defined almost everywhere in the complex plane (with the exception of numbers with negative integer real part). For example, if `x` in the code is nonnegative real then the expression should evaluate with no problems. I think the wikipedia article talks about k = 0, 1, 2, ... because that's where the interpretation in terms of Bernoulli trials makes sense.

[2020-05-18 13:20] vblagoje opened #832 "Evaluating GPVAREstimator for multivariate series prediction"
I am trying to understand how to use GPVAREstimator for multivariate series prediction. For the sake of simplicity, let's use a readily available exchange_rate dataset. Here is what I think one should do:

[code]

When I inspect the values of the forecast_it I can see that predictions are generated for all eight series, using the horizon of 30 days. Predictions seem ok.

Am I doing everything corr

[2020-05-18 13:24] mbohlkeschneider commented on #832
Hi @vblagoje,

try the `[MultivariateEvaluator](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/evaluation/_base.py#L560)` instead.

[2020-05-18 14:17] vblagoje commented on #832
Wow, cool, it works @mbohlkeschneider . I get individual dimension stats and aggregate as well. I can really start playing now. Thanks a lot!

[2020-05-18 14:17] #832 closed

[2020-05-18 14:19] fernandocamargoti commented on #807
Have you tried the latest version? There are some fixes for NegativeBinomial.

[2020-05-18 14:40] fernandocamargoai opened #833 "Getting NaN loss after some time with DeepAR and NegativeBinomial"
## Description
I have a dataset with 129k time series of demand for products within some branches of a retailer. I'm having trouble with NaN loss ever since I started using GluonTS. At first, I discovered some NaN and Infinity values within my FEAT_DYNAMIC_REAL. But even after solving those issues, I'm still getting NaN loss after some time. With the new release (which included some improvements o

[2020-05-19 01:06] bluesky333 commented on #825
Hi @mbohlkeschneider , I tried 60 `prediction_length` and it still takes too long.
Rather than using my 246 time series as all different target-dim,
I want to use 240 time series as variable features to be used to predict 6 time series
(I am using related assets to predict certain stock asset).
I think in this way I can use all time series and make sure the run does not take so long.
But, it seems

[2020-05-19 03:02] samosun commented on #833
maybe lower num_batches_per_epoch?  I guess learning_rate is already low but the num_batches_per_epoch is high, so that during the first epoch training, arguments of distribution had numerical problems in calculating log prob.

[2020-05-19 07:30] mbohlkeschneider commented on #825
Hi @bluesky333,

using related time series as the dimensions is the only way to use related time-series/dynamic features at the moment in GPVAR and DeepVAR. You can try to implement that yourself and use DeepAR for reference. Please send a pull request if you give this a shot!

[2020-05-19 10:54] fernandocamargoti commented on #833
@samosun, my logic in increasing the num_batches_per_epoch is that I think each time-series should have a more or less equal chance of having a slice of it being part of each epoch. I mean, if I have a batch size of 32, 128976 / 32 = 4030,5. I'm actually using 4000 of num_batches_per_epoch right now (that number was because I had 300k+ time-series before and now I'm filtering some of them). Doesn'

[2020-05-19 11:26] #677 closed

[2020-05-19 13:09] samosun commented on #833
yes, I think you are right. num_batches_per_epoch is not the root cause.
I thought if arguments mu,alpha in NegativeBinomial was project into "boundary values" like 0, it will be failed in calculating log prob, but I noticed that they had solved this problem by adding epsilon, see
https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/distribution/neg_binomial.py#L114

so there may be other m

[2020-05-19 14:32] AaronSpieler opened #834 "Our evaluations page is not reproducible and misleading."
## Description
We have the https://github.com/awslabs/gluon-ts/tree/master/evaluations page were we claim that: "The goal is to make reproducibility and comparison easier by versioning the code producing dataset as well as the model and evaluation code." However, as is, that is not the case.

## Problems
* Some values were generated using non default Trainers, as the results shown for TransformerE

[2020-05-19 15:52] hkgsas commented on #246
This bug still exists under mxnet 1.6. The environment is  TLJH running on Ubuntu (downloaded the latest updates as of May 2020).    Another 'bug' experienced was the need to install opencv and then mxnet again -- otherwise, import mxnet  would core dump.

[2020-05-19 15:53] fernandocamargoti commented on #833
@samosun, I think I can confirm that it only happens with hybridize=True. I left it training with hybridize=False and it's in the 22th epoch now without NaN. Also, the model converges much faster with hybridize=False (0.147 at first epoch vs 0.28 at 4th epoch and then the NaN happened. There shouldn't be any difference besides speed with hybridize, but it seems that's something else happening.

[2020-05-19 16:06] geoalgo commented on #834
Hi Aaron,

"Our evaluations page is not reproducible and misleading".

This statement is perhaps a bit strong, as you say the goal is stated as making "reproducibility and comparison easier by versioning the code producing dataset as well as the model and evaluation code.". For that statement to be wrong or misleading, it would mean that the evaluations would be easier without this script :-)

Tha

[2020-05-19 18:35] AaronSpieler commented on #834
@geoalgo True, it might be worded a bit strongly.

However, I remember there have been issues raised before regarding the reproducibility of our results on the page: in the sense that people couldn't reproduce them, and thought the deviation was enough to open an issue about it.

While it might be true that we technically only claim that we want to make it easier, it is of course understood as mak

[2020-05-19 18:39] AaronSpieler commented on #834
@geoalgo The problem would be, that even given the same seed, if we make changes to the model, the seed cannot guarantee that we can the same relative performance. I.e. if the runs suffer from high variance, which they do, running a model with a single seed would only work if there are no changes in neither the model, nor it's dependencies.

We need 3-5 runs to report meaningful averages, and devi

[2020-05-20 06:40] lostella commented on #833
@fernandocamargoti are you using mxnet 1.6.0? And the `DeepAREstimator`?

It’s very weird indeed that this shows up with `hybridize=True` only. One place where things could go wrong is this https://github.com/awslabs/gluon-ts/blob/0d963f7dc55ef866d86e33633a28d57dfab33adb/src/gluonts/distribution/neg_binomial.py#L114 but still this should happen with and without hybridization, unless some subtle bu

[2020-05-20 06:45] lostella commented on #833
What’s the fraction of zero values, roughly? It would be nice if we could to reproduce the issue

[2020-05-20 08:43] lostella commented on #829
I think that trying to rely on existing utilities from mxnet is a good idea in general.

However, in the specific case of estimators, note that gluonts estimators are trying to do a bit more than gluon estimators (if my understanding is correct): in gluonts an estimator bundles both the network(s) and the full specification of how the data loader should operate. This way, when “train” is invoked o

[2020-05-20 10:03] jaheba commented on #831
Something we should think of is that any given time-series can be part of both the training and the test-set. While the whole time-series is included in the test-set, only a part of it should be used in the training data:

[code]

Currently, we remove the last `prediction_length` values from a time-series to feed the rest into the predictor and then compare the results.

The user has to ensure tha

[2020-05-20 10:19] lostella commented on #831
Yes, but I think there shouldn't be assumptions about any training having even happened. Models could train "online" (see `RPredictor` or any naive baseline).

My opinion is that the evaluation should be configured with
* a set of time series
* a time range in which you want to measure how accurate the `Predictor` is
* some other configurations about the "rolling" (e.g. how much data to step over

[2020-05-20 10:38] fernandocamargoti commented on #833
@lostella, yes, I'm using DeepAREstimator with mxnet 1.6.0. I'll get the fraction and get back to you today.

Look at how faster the training with hybridize=False converges:

[code]

Compared to the same training (every single hyperparameter is equal and I have seed in the random, numpy.random and mxnet) with hybridize=True:

[code]

[2020-05-20 11:51] jaheba commented on #831
Do you want to set this globally or on an item to item basis?

[2020-05-20 11:58] hanan-vian commented on #303
Isn't that the entire idea of deepAR?

https://docs.aws.amazon.com/sagemaker/latest/dg/deepar.html

[2020-05-20 12:01] lostella commented on #831
Globally should be an option I think. Providing a per-item evaluation range may be a bit involved to specify: the simplest way to do that would be to say "evaluate on the last N observations from each item".

[2020-05-20 12:01] mbohlkeschneider commented on #303
Hi @hanan-vian,

there is a subtle difference between a **global** model like DeepAR and a truly **multivariate** model. You are right that DeepAR is a global model in the sense that it learns across time series. However, it is not multivariate in the sense that it only learns parameters for univariate probability distributions. A multivariate model, in contrast, is able to learn the parameters of

[2020-05-20 12:04] hanan-vian commented on #303
Do you mean DeepAR is M:1 and true multivariate is M:M?
So if I have M:M scenario I cannot learn one model with DeepAR but instead I need M models each of which is M:1 ?

[2020-05-20 12:13] mbohlkeschneider commented on #303
I'm not sure I understand this comment. Could you clarify this?

[2020-05-20 12:45] jaheba commented on #831
Which doesn't work well with non uniform datasets.

I somewhat like the per-item definition: It clearly indicates which data to use when just looking at it. There might also be a case where one does not want to use a global value.

[2020-05-20 12:55] lostella commented on #831
It works as long as each item has at least length N.

I think a global setting "use from t0 to t1" for evaluation is the simplest thing to do, also clearly indicates which data to use when just looking at it, and most importantly *you can look at it* even if your dataset consists of 100k time series.

[2020-05-20 13:04] hanan-vian commented on #303
Input to Output Notation:
1:M one to many, M:1 many to one, 1:1 one to one, M:M many to many.

[2020-05-20 13:11] mbohlkeschneider commented on #303
I see. The important part is on how the model does inference: DeepAR can **only** do: 1:1 even though parameters are learned jointly. GPVAR does M:M during inference. Hope that clarifies.

[2020-05-20 15:43] kaleming opened #836 "Extra unused parameter causing conflict"
## Description
Hi,

I usually organize my json file as following:

{"_id": {"a": 1, "b": 1}, "start": "2011-01-29", "feat_static_cat": [0, 0, 0, 0], "feat_dynamic_real": [[30, 30, 30, 30, 30, 30 ..], [4, 4, 4, 4, 4, 4, 4, ...], [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4....], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2...], [0, 0, 0, 1, 1, 1...], [2.240234375, 2.240234375, 2.240234375, 2.240234375 ...]], "target": [5,

[2020-05-20 16:05] lostella commented on #836
@kaleming is that field only present in some (but not all) the elements of your dataset? Because training seems to go on fine for a while, from what I see

[2020-05-20 16:13] kaleming commented on #836
Yes, it is present in 20% of the dataset.

[2020-05-21 00:33] kaleming commented on #836
I just deleted, and it's ok now.

[2020-05-21 00:33] #836 closed

[2020-05-21 08:39] alexcombessie commented on #264
Hi,

I need to work on second and microsecond data. Is it possible in version 0.5 using the freq argument? Or is there a workaround?

Thanks,

Alex

[2020-05-21 09:33] alexcombessie commented on #367
Hi,

Does that mean that this trick allows to train on any sequence data, whatever the frequency? I am dealing with machine data with no timestamp, just order number.

I am very interested in any workaround or future development you may have on this topic.

Thanks,

Alex

[2020-05-22 09:03] konradsemsch commented on #721
Hi @steverab! Sorry for bugging you again on this topic but I was hoping you could advise me a bit. I modified this initial implementation in a way that (at least to me) is more understandable using the following approach:

1) First merge all inputs together and convert to a long format
2) Then adapt all individual model inputs from this single data source

The advantage of this solution is that a

[2020-05-22 11:16] arangatang commented on #831
How about if the dataset only has missing values within this evaluation range? Do we exclude this time series from the datasets then?
i.e.

[code]

Also, should we require a minimum amount of training data for each time series?
This should make cold starts less of an issue when evaluating the system if I'm not mistaken.
i.e. avoid this:

[code]

[2020-05-22 17:41] fernandocamargoti commented on #833
Hello, @lostella. Sorry for taking this long.

I have 132131585 out of 143037878 (92.37%) of zeros.

To give you more information, this dataset is from a retailer with many branches and many products.  I have all the sales registered for each item in each branch. Some of these items might be discontinued (like smartphones) after some time. So, each time-series may start on a different date, but I'

[2020-05-23 08:22] lostella opened #837 "Process hangs when num_workers >= 1"
## Description
Data loading seems to hang when `num_workers` is set to `1` or more. The same doesn't seem to happen if `num_workers=None` or `num_workers=0` (I'm not sure what the latter implies).

## To Reproduce

Copy-paste the following in a script and run it

[code]

## Error message or code output
The process just hangs and needs to be terminated with SIGINT

## Environment
- Operating system

[2020-05-23 10:43] lostella commented on #831
I think the evaluation part should take care of this: it will mask evaluation metrics wherever ground truth is missing, and could report the number of evaluated predictions for a time serie (ie where ground truth was not missing).

I’m not sure we should be concerned with that here: cold start forecast should be a valid evaluation scenario.

Again, I think training should not be a concern here.

[2020-05-23 12:20] matthiasanderer commented on #833
Did you try switching back to mxnet-cu101mkl==1.4.1 - I think with that mxnet version you can leave out the hybridize False option.

I just stumbled on this on my quest to get DeepAR converging somewhere in the M5 Kaggle challenge ... maybe it helps you @fernandocamargoti ?

In case this works for you too something between mxnet 1.4.1 and 1.6 broke ....

[2020-05-23 12:37] lostella commented on #833
@fernandocamargoti as a side note: that that's not strictly needed, and may bias your predictions towards zero. Are you somehow indicating which values you have manually padded by adding some binary feature that indicates it?

[2020-05-23 12:59] lostella commented on #833
@fernandocamargoti also a minor note: the logs you pasted for hybridized=True suggest that you're using num_batches_per_epoch=4000, but you mentioned 10_000 (still, it seems to converge too slow even assuming that you used 10_000 for hybridized=False).

[2020-05-23 17:14] parimuns opened #838 "Deepstate model parameters"
I am running deep state model with add_trend=True ,its running fine but now if I want to use issm ,how can I use that and how can I get parameters from that like transition coefficient etc ? What changes need to be done in estimator ?
`.estimator=DeepStateEstimator(freq='H',
        prediction_length=48,
        cardinality=[10],
        add_trend= True,
        num_periods_to_train= 4,
        tr

[2020-05-23 17:41] #606 closed

[2020-05-23 17:42] #610 closed

[2020-05-25 07:39] lostella commented on #838
Hi @parimuns, the linear dynamical system coefficients are output by the RNN, so you will need to look into the network to inspect those:
* [here](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/model/deepstate/_network.py#L228-L238) the network computes the coefficient in the "conditioning" time range (i.e. the past, where data is available).
* [here](https://github.com/awslabs/gluon-

[2020-05-26 09:53] alexcombessie commented on #264
Hi @jaheba,

I am trying to understand whether gluon-ts can address second and microsecond forecasting use cases. This is linked to my other question on #367.

Could you please confirm if this is possible or not?

Thanks,

Alex

[2020-05-26 11:22] jaheba commented on #828
I think this is where the warning comes from:

https://github.com/awslabs/gluon-ts/blob/00b138bf2b2ff9612d00f6c13c9d866206d70d50/src/gluonts/evaluation/_base.py#L44-L69

In your case, the seasonality would be `1` either way.

---

Why can't you use `W-SUN`?

We align all time-stamps of a given week to the same day.  I think for most purposes, there shouldn't be any difference between `W-MON` and `

[2020-05-27 03:18] parimuns opened #845 "prediction interval coverage width"
Hello
I am evaluating my models using Gluon-Ts and as I understand "coverage" tells the coverage probability and MSIS rewards and penalises the coverage width. But if I only want to evaluate the coverage width, how can I obtain that? Also, is it possible to obtain lower and upper bounds of my predicted values using gluont-ts.evaluator?

[2020-05-27 06:57] lostella commented on #845
Hey @parimuns what do you mean exactly by “coverage width”? And what upper and lower bounds are you interested in?

[2020-05-27 07:25] isenilov commented on #825
Hello @mbohlkeschneider
Does it mean that features generated by `gluonts.model.deepvar._estimator.FourierDateFeatures` and other results of the transformation chain are not fed to the model?

[2020-05-27 08:07] lostella commented on #845
To be clear: the **coverage** which is computed in evaluations is associated with a quantile level, and indicates how much of the data is below the predicted quantile for the given level. In pseudocode:

    coverage(x, alpha) = mean(x < predicted_quantile(alpha))

where `x` is the observed data, and `alpha` is the quantile level between 0 and 1. In actual code this is computed here:

https://gith

[2020-05-27 13:23] arita37 commented on #606
Suppose the cardinalities changed....
does it requires to re-train the full model ????

[2020-05-27 15:18] Jonny-G13 opened #847 "Using gluonts models in production"
Hi there, just had a question regarding using gluonts models in production. Is there a reason why one wouldn't do so? I think I read somewhere that amazon use some gluonts models for production purposes. So I just wanted to know if there are any potential show stoppers that I should be aware of.

Also I noticed that when the I save my model after training the following warning message is given:

"

[2020-05-27 15:46] jaheba commented on #847
Hey,

generally speaking, there is no reason not to use gluon-ts in production.

However, we don't have backward-compatible guarantees at the moment. So, given a trained model we can't promise that it will keep working with a new release. Thus, you should make sure that you employ the same code which was used to train the model when loading it again.

@lostella pointed out `as_symbol_block_predict

[2020-05-27 16:00] lostella commented on #847
@Jonny-G13 serializing a `RepresentableBlockPredictor` will store the model parameters only. In case the `mx.gluon.HybridBlock` network code gets updated, the model parameters cannot be guaranteed to be loadable back onto the model.

On the other hand, if you use `.as_symbol_block_predictor` you will get a `SymbolBlockPredictor` instead, which you can `.serialize` more safely: in this case the net

[2020-05-27 16:39] Jonny-G13 commented on #847
Ok thanks guys that's really useful information. I'll be sure to check out the .as_symbol_block_predictor for saving. I plan to be retraining my models regularly so if i just keep the same mxnet and gluonts versions I shouldn't have a problem correct?

[2020-05-27 22:11] alexcombessie commented on #367
Hello @lostella,

Quick followup, would you be able to help clarify the matter?

Thanks,

Alex

[2020-05-27 22:16] LeapGamer commented on #654
I'm getting the same error. I am python 3.6, mxnet-cu92 1.4.1. I installed these versions after reading the previously linked thread. What is the current recommended version of everything for a cuda or cudamkl version working with gluon?

[2020-05-28 03:02] parimuns commented on #845
Thanks for replying. I understood the "coverage".Now, for probabilistic forecasting,I have to forecast the range that my prediction will lie in between these intervals and there must be some lower bound and there must be some upper bound. So,I want to evaluate those bounds and the difference between these bounds is the "coverage width".

For example, Assuming some probability distribution I predic

[2020-05-28 07:25] lostella commented on #845
@parimuns in the Evaluator class, the upper and lower bounds which are evaluated with MSIS are controlled through the constructor parameter alpha, see relevant documentation here: https://github.com/awslabs/gluon-ts/blob/f76bf434177ce07c00c72d2109b55e3842c66562/src/gluonts/evaluation/_base.py#L86

By default alpha=0.05, which means that the predicted 0.025-quantile and 0.975-quantile will be used

[2020-05-28 07:30] lostella opened #848 "MSIS computation is too implicit in Evaluator"
## Description
The computation of MSIS in the Evaluator class depends on the Evaluator settings in a rather implicit way. This could be improved by taking as constructor arguments exactly the quantiles to be used as lower and upper bound for the MSIS computation, and using exactly those.

## References

#845

https://github.com/awslabs/gluon-ts/issues/845#issuecomment-635161515

[2020-05-28 16:43] parimuns commented on #845
Thanks for answering.I didn't understand
"However, the internal logic is a bit more complicated than that unfortunately, so you must also include those quantile levels as part of the “quantiles” argument:

gluon-ts/src/gluonts/evaluation/_base.py"

Or can you please suggest me some reference, where the internal calculations of lower and upper bounds for MSIS  used in GLUON-TS  are explained?

[2020-05-28 18:22] fernandocamargoti commented on #833
@matthiasanderer, I'm running on IBM Power 9. If I'm not wrong, MKL is for Intel Processors.

[2020-05-28 18:26] fernandocamargoti commented on #833
@lostella, thanks for your side note. But I also my predictions to indicate whether a time series will "die" (the product will lose all its demand). I haven't set up any binary feature to indicate it. If I had, how would I fill this feature in production? I mean, a product time series start dying, and at some point, no more sales are made. It would be hard to decide when to put set this flag to Tr

[2020-05-28 18:28] fernandocamargoti commented on #833
Yeah, it's another version where I filter time series with a minimum number of days with sales. Previously, I filtered with 10 and I increase to 30 to train faster. Then, I've updated the num_batches_per_epoch accordingly. Notice, though, that both logs have 4000.

[2020-05-28 18:47] lostella commented on #833
Oh I see, I hadn’t scrolled all the way to the right in the first log, sorry. I also agree on the zero padding you’re doing, since that’s a behavior you want to model 👍🏻

[2020-05-28 18:51] lostella commented on #845
@parimuns I’ve opened issue #848 with the goal of making it more explicit. For now the link to the code I posted in my previous message is the most accurate description of what’s going on. I’ll propose something for #848, I think it should be easy to clarify the interface & documentation.

Thanks for raising the issue!

[2020-05-28 19:28] lostella commented on #367
@alexcombessie we do rely on the assumption that observations have a fixed frequency; the fact that you have an absolute reference time for them is not really important I would say.

If there’s not even a concept of frequency, and you just have sequences of numbers, you can in principle apply the same models (sequence2sequence models are applied in NLP where there’s no time involved either) but wh

[2020-05-28 19:34] alexcombessie commented on #367
Thanks for your reply.

Although my data may not be sampled regularly, I plan to resample it before modeling at the second or millisecond level.

In that case, would DeepAR be a good fit ? If so, do you have any advice apart from the trick mentioned earlier in the thread ?

Related question: are there other models within gluon-ts which would be applicable to below second frequency?

[2020-05-28 22:23] lostella commented on #847
That’s correct

[2020-05-28 22:43] lostella commented on #367
@alexcombessie you may want to look into WaveNet: that was originally designed for generating audio signals.

[2020-05-28 22:50] alexcombessie commented on #367
So within this library, you are suggesting: DeepAR, seq2seq and wavenet. Can I use the same syntax for the three of the them ?

What about other models such as deepstate or note?

[2020-05-28 23:05] lostella commented on #367
Well I think the best thing is to try, since I don’t really know about your use case. Also be advised that lots of pieces in the models may have been tailored to larger granularities (say above 1min), so while I’m suggesting to try, I cannot say whether they will work well for sub-second data.

About the models settings, it’s better to check the docstring of each of them to see which options are s

[2020-05-29 03:24] parimuns commented on #845
Ok..Thanks a lot..

[2020-05-29 03:24] #845 closed

[2020-05-29 06:35] alexcombessie commented on #367
Alright, I will test and let you know what I find.

At some point it would be great to have seconds (and below) fully supported as canonical freq parameters. This is already the case for pandas.Timestamp so I would expect most models in gluon-ts to support it the same way. I understand that for some models there is a hard limit (for instance prophet cannot forecast below the minute). But there sho

[2020-05-29 07:05] matthiasanderer commented on #833
Sorry that was my copy paste of course only version 1.4.1 is the relevant part ... I just used that cuda10.1/mkl version...

[2020-05-29 07:34] #848 closed

[2020-05-29 07:41] lostella commented on #845
@parimuns #848 was resolved with #849. The situation should now be much clearer:

The Evaluator has a parameter `alpha`, which controls the upper and lower predicted quantiles used to compute MSIS. By default `alpha=0.05`, in which case `L` is the 0.025-quantile and `U` is the 97.5 quantile: between them lies 95% of the distribution (`1-alpha`).

If you want to access these bounds, you can simply

[2020-05-29 16:24] parimuns commented on #336
Hello @JesseLi666

I am working on Deepstate .I tried using your suggestion for "`trainer = Trainer(ctx=mx.context.gpu(0),...)" on google colab but everytime my system crashes when I run the predictor .Can you please suggest me how to run the estimator on GPU ?

[2020-05-29 19:04] parimuns opened #850 "DeepState on GPU"
Hello
I am working on deepstate and I found that it does not support GPU.However,I tried implementing the solution given in #336 ,to use in trainer ctx=mx.context.gpu(0).But whenever I use this ,my Google Colab crashes ...
PS:It works well with DeepAR and other models.
Please suggest how to use GPU for deepstate

[2020-05-30 12:29] fernandocamargoti commented on #833
@lostella, I think I've got a way for you guys to reproduce the problem. The same thing happens on m5 dataset (https://www.kaggle.com/allunia/m5-uncertainty).

To make it easier, I've already preprocessed the dataset, putting in the GluonTS format. It's available here: https://github.com/fernandocamargoti/m5_competition_gluonts_dataset

The cardinality is [5, 12, 5, 9, 3051]. It always has +2 of t

[2020-05-31 11:56] parimuns opened #851 "ISSM in DeepState"
Does using "issm" in DeepState estimator will change the model performance and how to use the issm and time_features in estimator ? I am testing this on electricity dataset.

[code]

its giving error

[code]

[2020-06-01 09:57] Arfea commented on #555
I'd also love to see an implementation of callbacks. Would you suggest where to start if I want to implement a callback method?

[2020-06-01 13:52] fernandocamargoti commented on #833
As suggested by @matthiasanderer, I've tried MXNet 1.4.1 and this weird bug didn't happen. I'll also try 1.5.1 and report back.

[2020-06-02 05:50] jyrr opened #852 "Train/test & metrics interpretation"
Hi,

I'm new to time series prediction, so please excuse my limited knowledge and quite basal questions.

In GluonTS, following the tutorial, we create a train and test dataset, where the test dataset is the full dataset and the train dataset is the full dataset minus `prediction_length` values off the tail.

I'd like to compare my results to non-GluonTS solutions, for example LGBM (quantile regre

[2020-06-02 10:44] AaronSpieler opened #853 "Additional dataset for our library"
## Description

We should add the datasets mentioned in this paper https://www.researchgate.net/publication/339362837_Learnings_from_Kaggle's_Forecasting_Competitions to our library.

- [ ] Walmart Store Sales Forecasting
- [ ] Rossmann Store Sales
- [ ] Walmart Sales in Stormy Weather
- [ ] Grupo Bimbo Inventory Demand
- [ ] Wikipedia Web Traffic Time Series Forecasting
- [ ] Corporación Favorita

[2020-06-02 19:25] fernandocamargoti commented on #833
The bug doesn't happen with MXNet 1.5.1. So, it's something that happened when 1.6.0 was introduced.

[2020-06-02 20:48] lostella opened #854 "Enable different tensor types in batches"
The [very last step of the data loader](https://github.com/awslabs/gluon-ts/blob/60a0d5ca1ba6d1d062aab3065b6e9c68bf45a31f/src/gluonts/dataset/parallelized_loader.py#L643) is to stack a sequence of dictionaries item-wise to get a single dictionary (a batch).

The way things are stacked depends on their type, and currently np.ndarray objects are converted into mx.nd.NDArray ones and stacked along a

[2020-06-02 20:51] lostella commented on #833
@fernandocamargoti thanks for looking into it, this is really cool (but also not cool that the bug is there).

Did you observe that with 1.4 and 1.5 both NaN didn’t show up **and** convergence speed was unaffected by hybridize True/False?

[2020-06-02 21:35] fernandocamargoti commented on #833
@lostella, both converge much faster and the NaN doesn't happen at all. But I've noticed that a weird bug happens with 1.5:

[code]

I happens both when I try to run the evaluation and if I load a model I try to use it. So, I'm sticking with 1.4.1 for now.

[2020-06-03 06:45] canerturkmen commented on #854
We could have both a parameter and a context manager, as in mxnet context.

[2020-06-03 07:05] #847 closed

[2020-06-03 10:04] AaronSpieler commented on #854
We also need to extend the pickling methods to support pytorch, essentially this:
[code]
needs to work for pytorch (tensors) too.

[2020-06-03 13:20] jaheba commented on #854
We need to be fully `serde` compatible, not just pickle.

[2020-06-03 13:23] jaheba commented on #854
Couldn't we just use type-specific strategies for this? Basically define a `Batcher` type, which then is implemented for different types?

[2020-06-03 15:04] jaheba commented on #837
+1

[2020-06-03 15:33] lostella commented on #854
Yeah, something like that as well

[2020-06-04 10:33] canerturkmen commented on #837
+1

[2020-06-04 11:59] AaronSpieler opened #857 "Rethink current use of 'freq' to derive period."
## Description
- I noticed that when we have a frequency of ''D" indicating daily the corresponding periodicity we derive is 1, but maybe 7 would be more appropriate. The function we use is called `get_seasonality(freq)`
- In fact there are ways to derive the optimal value dynamically (for example by calculating autocorrelation at different lags; whatever yield the highest value is the periodicity

[2020-06-06 04:05] parimuns commented on #852
Hello
I can just answer your one query
" I notice that the median prediction is within the 90% confidence interval at each prediction, but the Coverage[0.9] value is ~88.7%"
Median prediction is always at p(50)(50% prediction interval ) and p(90) means 90% confidence interval.Moreover,if your model is learning good from data ,then its p(90) will be equal or greater than 90%,for less than 90% ,you

[2020-06-07 19:36] seriousssam commented on #618
I am not sure how these 2 features interact:
- The train module accepts a validation set in addition to the training set {e.g., estimator.train(training_data = train_ds, validation_data = validation_ds) as @StatMixedML} mentions above
- There is also an "avg_strategy" option in the definition of the esimator {e.g., avg_strategy=SelectNBestMean(num_models=1)}.

My question is: given the way things

[2020-06-08 16:56] lostella commented on #833
@fernandocamargoti the issue you’re facing with mxnet 1.5 is a known one on Linux: https://github.com/apache/incubator-mxnet/issues/16135

This was fixed in 1.6 but the fix was not backported to 1.5 I believe. This is also why we skipped support for 1.5 in GluonTS, and directly jumped to 1.6

[2020-06-08 18:50] lostella commented on #833
@fernandocamargoti did you mention you were running on GPU? In that case this may be related: https://github.com/awslabs/gluon-ts/pull/728

[2020-06-09 06:23] manujosephv commented on #851
These are the available ISSMs in the implementation.
[code]

Another problem you have is that you are passing the class, but you need to pass the instance. For eg, instead of **LevelISSM**, it should be **LevelISSM()**

[2020-06-09 08:53] arangatang commented on #853
Im currently working on the `Walmart Store Sales Forecasting` dataset.

[2020-06-09 12:50] jaheba opened #862 "Serde 2.0"
I propose to re-work how we currently serialise and deserialise objects.

Our current design aims at solving these two issues:

* serialisation / deserialisation of objects
* validation of parameters

For example:

[code]

There are two problems in my view:

* Most people do not know how `validated` works.
* We only support objects, which can be recreated by passing the same arguments.

## pickle

[2020-06-09 12:55] kashif commented on #854
thanks for looking into this... on the pytorch side though it would be ideal to continue to use the `DataLoader` which then return the batches from some map or Iterable style `Dataset`. The `DataLoader` also supports workers etc. and other libraries like pytorch-Lightning then work with this abstraction. On the tensorflow side I would need to check what `tf-data` expects or returns...

[2020-06-09 13:30] jaheba opened #863 "Multiprocessing Pipeline"
This is more a report, then it is a proposal.

---

I'm not a fan of the current multiprocessing approach we have in our input-pipeline. I would like to replace it with a more generic approach.

Over the last days, I've did some exploration into the space of using pipelines and `multiprocessing`.

What I came up with, is something like this:

[code]

The idea is simple, we define a pipeline, which

[2020-06-09 13:58] AaronSpieler commented on #863
Great idea!

* I like the emitter pattern, seems to make sense in this context
*  Interesting that performance did not improve with regards to more workers, that might indicate a significant overhead
* Yeah, `[Q] -> a, b, c -> [Q]` seems more logical, since it doesn't require copying data to other processes memory
* The shared memory could be beneficial when transforming the dataset to `MXNet` nat

[2020-06-09 14:19] kaleming opened #864 "Getting accumulated forecasting"
Supposing every day I want to calculated what is the demand's  probability  for the next 7, 14 and 21 days.

One approach could be:

[code]
However, in order to make calculations faster, I can just predict the weekly time-frame:
[code]
However, it seems to be a trick approach, because everyday, I will have to change (W-SUN, W-TUE ... ). In this case I will need to have 7 different models ?

[2020-06-09 17:01] parimuns commented on #851
Thanks a lot for answering.One more issue I am facing with Deep State is that if I have multivariate data ,suppose I have electricity data of 8 zones with load (target) and temperature (feat_dynamic_real).I have "cardinality"=8,Feat_static_cat=True,feat_dynamic_real=True ,can I use such kindof data with DeepStateEstimator because when I am running this,it goes out of memory.

estimator=DeepStateEs

[2020-06-09 21:57] lostella commented on #863
My understanding is that the proposal is to completely decouple the file reading from the items processing. @jaheba correct me if I’m wrong: essentially “someone” would go through the dataset and fill in a queue, and then other processes would just consume from that queue regardless of where in the dataset the stuff is from, or who put it in the queue, right?

I quite like the idea (provided I und

[2020-06-09 22:14] lostella commented on #851
@parimuns can you include code snippets and error traces in triple back-ticks please?

DeepStateEstimator supports only univariate time series, I believe. What do you mean by “multivariate”? Do you have one eight-dimensional time series in your dataset or eight one-dimensional ones?

Can you add a **compelte example** to reproduce the problem? Something that creates fake data for the purpose is fi

[2020-06-10 03:10] parimuns commented on #851
Hello
Thanks @lostella .
My dataset is 2 dimensional 8 time-series .I have attached the sample data of 1 year with the code.After I run predictor,it gives me error "Memory Error".You can replicate this code and check.In this data , there are 8 zones, therefore Zone-Id varies from 1 to 8.

'''
import mxnet as mx
import gluonts
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
i

[2020-06-10 03:11] parimuns commented on #838
Thanks a lot.

[2020-06-10 03:11] #838 closed

[2020-06-10 20:25] Bodhi8 opened #865 "NameError: name 'estimator" is not defined"
I keep getting this error when running this block of code:

[code]

[2020-06-11 12:38] vafl commented on #862
Thanks @jaheba.

I agree that the current mechanism is a bit strange, however, it does seem to work in practice and as a user I only have to know that I have to add `@validated` and things magically work.

Could you give a few more examples for how this would look like for the user with you proposed change?

One thing we should support is serialization/deserialization of classes that are/contain g

[2020-06-13 16:02] parimuns commented on #640
Hello
 I do not have system with GPU but I am trying to run deepstate on GPU servers like Google colab but its not working.Can you please guide ,how to run there ?

[2020-06-14 05:42] islamalh opened #869 "How to put Gluon-TS model is in production"
I have trained several model and saved them. I can load the model and by using `predict` method I can use it for perdition. In order to use it as service I am using waitress and some custom code. The result is pretty good but I need to send lot's of query which making the prediction quite slow. I have about 100 customer and I am predicting one month in future with hourly grain so I need to send 10

[2020-06-14 12:46] lostella commented on #854
Yes, it would be nice to have that too.

What I’m proposing here is to maintain gluonts’ data loader as a first step (this should really be a no-brainer). But I agree that eventually making it easy to use each framework’s dataset abstractions and data loading tools would be very nice.

[2020-06-14 14:47] Callidior commented on #698
While we are waiting for multi-layer transformers to be implemented in GluonTS, you can use this work-around to get a variant of TransformerEstimator supporting arbitrary stack sizes:

[code]

`MultilayerTransformerEstimator` takes the same arguments as `TransformerEstimator`, but provides an additional `num_layers` argument.

[2020-06-15 10:02] jaheba commented on #869
Hello @islamalh,

do you use SageMaker for training models?

This doesn't sound too bad to me. Can you describe your requirements?

[2020-06-15 11:26] islamalh commented on #869
Hi @jaheba
Unfortunately no I am not allowed to use Sagemaker but I did use Gluon-TS library for Training. (Initially I started with Sagemaker but we wanted not to use it). For Prediction I am loading the model and serving it besides waitress. Here is the server looks like

[code]

As you can see the requirement is to use predict `High`, `mid` and `low` instead of full distribution and The model i

[2020-06-15 11:36] jaheba commented on #869
What algorithm are you using? I assume it is DeepAR?

Doing a quick estimation, you do 100 * 30 requests, which in 15 minutes, are ~0.3 seconds per requests. This sounds about right.

Have you thought about parallelising the requests? If you have multiple workers, you should be able to get faster results.

[2020-06-15 11:37] jaheba commented on #865
Closing this due to missing information.

Feel free to reopen, once you provide a full example.

[2020-06-15 11:37] #865 closed

[2020-06-15 11:39] islamalh commented on #869
Yes I did throw 20 pods (In Kubernetes) in the production but still it's taking ~9 minutes or so

[2020-06-15 11:48] jaheba commented on #869
That's strange, I would assume a bigger steedup. Something you could try is to send multiple requests at once, thus saving a bit on overhead. However, I don't expect too much of an improvement.

Do the 9 minutes include startup time?

We've used batch-transform jobs in SageMaker, and are essentially seeing linear performance improvements when adding more instances to it.

[2020-06-15 11:57] islamalh commented on #869
Yes I was able to get best 4.5 minutes but I am giving you average time. It does include startup time. I can send multiple request for different account but for same account I can't as next day prediction depends on previous day's forecast. (day-1) is a attribute.

Is it possible to use `multi-model-server` from AWS for this?

[2020-06-15 16:09] Christotoooo opened #871 "Shape error when using feat_static_cat"
Hello, thanks for reviewing this:)
I am using deepar to forecast sales of multiple products so my input shape might be a little bit different from single time series forecasting. Since I have 1917 time series with 55 categorical features, my input-list shape for "feat_static_cat" is (1917,55). I could not find documentation for multiple ts forecasting of gluonts so that was my best guess based on

[2020-06-15 17:18] jsirol opened #872 "Missing divisor in NegBin alpha parameter scaling"
## Description
The scaling of the Negative Binomial parameter `alpha` was altered in [#719](https://github.com/awslabs/gluon-ts/pull/719). It was discussed in the thread that the scaling should be `alpha' = alpha + (scale-1)/(scale*mu)`. I think this is correct, but in the code it reads `alpha = F.broadcast_add(alpha, F.broadcast_div(scale - 1, mu))`, hence missing the `scale` in denominator. I be

[2020-06-15 17:27] lostella commented on #872
@jsirol `mu` is multiplied by `scale` in the previous line, so I think the implementation agrees with the math, do you agree?

[2020-06-15 17:39] lostella commented on #872
@jsirol Regarding the performance degradation: due to the significant change in the scaling of NegativeBinomial, it might be that hyperparameters settings that used to give good results now don’t perform as well (I’m thinking mainly about training settings like about learning rate or number of epochs).

Did you run with the same exact settings in 0.4.2 and 0.5.0?

[2020-06-15 17:47] fernandocamargoti commented on #833
@lostella, it could definitely be related. But https://github.com/awslabs/gluon-ts/pull/728 only fixes for binned distribution, right? I guess the same problem happens with other distributions, like Negative Binomial that I'm using.

[2020-06-15 18:02] jsirol commented on #872
@lostella Thanks for swift response! Yes, you are correct! I was missing the re-assignment to `mu` on the preceding line, so the implementation + math indeed looks correct 👌

What comes to the performance degration and the hyperparameters, we kept learning rate and number of epochs the same between 0.4.2 and 0.5.0 (`1e-3` and 100 respectively). We have tried multiple model architectures (varying c

[2020-06-15 19:09] lostella commented on #872
@jsirol are you running on GPU and with hybridize=True?

[2020-06-15 19:52] jsirol commented on #872
@lostella Running on CPU and hybridize=True. Below is an example of the estimator call used. As mentioned in the previous comment, we have mostly experimented with the Estimator parameters such as number of layers, and not touched the Trainer part (except for `epochs`) as these values seemed to work fine.

[code]

[2020-06-17 14:38] jaheba opened #877 "Framework agnostic sub-packages"
The goal is to become framework agnostic. This means, that most of our modules should not rely on mxnet, but instead mxnet related code should move to a dedicated `mx` module.

- [x] core
- [x] dataset
- [x] evaluation
- [x] shell
- [x] support
- [x] testutil
- [x] transform

[2020-06-17 17:49] kashif commented on #877
Feel free @jaheba to assign me some todos for this. I would love to help.

[2020-06-18 13:41] dzhang opened #881 "shell or sagemaker_sdk for production"
Hi

I trained my DeepAR model on SageMaker notebook, now want to deploy the model in production on SageMaker.

there seems to be two ways to do this, one is shell, one is sagemaker_sdk, I saw the example notebook for sagemaker_sd, but could not find any docs or examples for shell.

I plan to create a docker container for my code, and use SageMaker batch transform for prediction, which one of these

[2020-06-18 13:48] jaheba commented on #881
I think the shell module is the right tool here.

Let me add some documentation on how to use it.

[2020-06-18 14:35] jaheba commented on #881
@dzhang I've added some documentation: https://github.com/awslabs/gluon-ts/pull/882/files#diff-987529ebff8bd4061737ac60da87a484

[2020-06-18 15:55] #881 closed

[2020-06-18 18:45] jaheba commented on #871
Hello,

the shape of feat_static_cat should be `55` in this case.

In my view the [DeepAR documentation] explains how to use it quite well. Note that the field-name is `cat` instead of `feat_static_cat` there.

[2020-06-23 06:59] jsirol commented on #872
Closing the issue since the original question about the implementation was answered and there seems to be no issue.

Regarding the performance degradation, we verified again that the same Estimator/Trainer settings which were used and optimised for 0.4.2 are clearly worse in 0.5 for our data. We will try to see if we can find a combination of hyperparameters for 0.5 that yields comparable results

[2020-06-23 06:59] #872 closed

[2020-06-23 08:39] ighack opened #887 "in DeepAREstimator I get error prediction"
[code]

I want predict 2020-01-01,2020-01-02,2020-01-03
but I get 2019-12-29,2019-12-30,2019-12-31

data.csv

[2020-06-23 08:42] lostella commented on #887
@ighack can you make your example self-contained? so that it can be copy-pasted and one can verify actual vs expected output?

[2020-06-23 08:43] alecalma opened #888 "Using Gluon-TS for anomaly detection"
Hi,

I had a look at the tutorials and they are all forecasting related.
I would like to know if I could use the library for anomaly detection among different time series.
Let me explain better: I have a big dataset with hundreds of time series which should be all very similar to each other. I would like to run an automated tool that identifies anomalous time-series and is able to cluster them bas

[2020-06-23 08:43] lostella commented on #887
For example, you could set "start" and "target" to some dummy values in your snippet, without involving loading from a file.

[2020-06-23 08:56] ighack commented on #887
@ostella

[code]
Yes,I can get correct prediction,but why.
I have replace NaN to 1234

[2020-06-23 09:11] ighack commented on #887
I get it
I miss some data

[2020-06-23 09:26] lostella commented on #887
@ighack the loss being optimized is negative log-likelihood, there is no harm in it being negative

[2020-06-23 09:30] lostella commented on #887
@ighack I've adapted your example as follows:

[code]

and the output that gets printed is:

[code]

So it seems to me that the right time index is associated with the forecast, do you agree?

[2020-06-23 09:53] ighack commented on #887
@lostella
I agree with you.

I have modify.

I also get get correct prediction

(Timestamp('2020-01-01 00:00:00', freq='D'), -7453.587890625)
(Timestamp('2020-01-02 00:00:00', freq='D'), -1752.99072265625)
(Timestamp('2020-01-03 00:00:00', freq='D'), -2313.981201171875)

but I get minus value

[2020-06-23 15:30] lostella commented on #887
@ighack sorry, I misunderstood what you meant by negative values.

I think substituting NaNs with zeros is not the right thing to do, as the model will take those zeros as genuine data points instead of recognizing them as missing. Could you try keeping them in the data? For example, as np.nan values

[2020-06-24 00:32] ighack commented on #887
@lostella

zero means we don't sell any goods,so I use zero replace NaN.

I don't  think sale is minus value.
that is incorrect.

[2020-06-24 08:04] MaximilianProll opened #891 "CloudWatch logging on SageMaker with version 0.5.0"
I upgraded `gluon-ts` from `0.4.2` to `0.5.0` and now I am experiencing some inconsistent logging behaviour when **training on SageMaker** (when running locally without SageMaker, I am not experiencing this issue).

On version `0.4.2` the very last few logging lines looked something like this:
[code]

On version `0.5.0` the very last logging lines changed to the following:
[code]

This raises a fe

[2020-06-24 13:35] jaheba commented on #891
Hello Max,

I've built a new container using gluonts from Github. However, it seems that it failed, because of the TQDM change that you mentioned.

Using the current master, it worked:

[code]

Now I'm curious, why you still see progress bars, even when using 0.5.

[2020-06-24 13:44] jaheba commented on #888
Hello @alecalma,

the short answer is no: gluon-ts is not suited to detect anomalous time-series in a dataset.

Surely, some components could be reused, but the general idea of gluon-ts is to be a forecasting oriented library, making predictions about the future. There are ideas to use gluon-ts to detect anomalous values by making predictions and then compare the result to the real value, but I th

[2020-06-24 13:44] #888 closed

[2020-06-24 13:45] #871 closed

[2020-06-24 13:55] lostella commented on #887
@ighack I understand, thanks for the explanation. Then I think the default output distribution (student's t distribution) is not ideal. You may want to try out something for positive count data, like negative binomial:

[code]

[2020-06-24 14:16] MaximilianProll commented on #891
Hi Jasper,

Thanks for getting back to me.

I am not sure I understand what you mean by this:

Which version did you install and how does it fail?

I am instantiating the training on SageMaker via the sagemaker python SDK (`from sagemaker.mxnet import MXNet`) where `gluonts` gets installed through a `requirements.txt` file on instance boot up via pip.
Content of the requirements file:
[code]

[2020-06-24 14:20] jaheba commented on #891
I see, I was using the shell module and this Dockerfile:

[code]

Can you try to install gluonts from Github directly?

I think if you use a requirements file, it's something like this:

[code]

[2020-06-25 04:46] parimuns opened #894 "Problem with NPTS predictor"
I am comparing my results with all the methods and when I use NPTS predictor as

[code]

[2020-06-25 07:21] MaximilianProll commented on #891
I used the following to install the package:
[code]
and pip prints a successful installation:
[code]
but the training script fails with `ModuleNotFoundError: No module named 'gluonts'`.
Additionally, I tried (note the missing hyphen):
[code]
however, the result (successful installation, failing at module import) remains the same.

Do you have any idea why the additional logging lines (with learnin

[2020-06-25 09:57] jaheba commented on #894
Hello,

npts doesn't require training. I.e `train` just returns the predictor:

https://github.com/awslabs/gluon-ts/blob/f0a07066091e30529dd72154c7fffc5939a0eef5/src/gluonts/model/estimator.py#L111-L116

The predictor itself does not implement `predict`.

[2020-06-25 09:57] #894 closed

[2020-06-25 13:17] jaheba commented on #891
I am starting to suspect it has something to do with the fact of using the pre-build MXNet container and installing the packages on instance boot up.

It appears it was removed here: https://github.com/awslabs/gluon-ts/pull/823/files#diff-9b15e69fbd018a6907107c71e01104c0L346

[2020-06-25 19:22] konradsemsch opened #896 "Gluon Ts and categorical targets?"
Hello,

can Gluon Ts model time series where the output is categorical? Which model would be recommended for such purposes?

Thank you

[2020-06-26 09:49] ighack commented on #887
@lostella
Thank for you help, I get correct result.

[2020-06-26 09:51] lostella commented on #887
@ighack cool! Closing the issue, but feel free to post further questions you may have on the matter

[2020-06-26 09:51] #887 closed

[2020-06-26 13:05] MaximilianProll commented on #891
Since version 0.5.0 uses the `logger` instead of `logging` within the `Trainer`, it seems that my setup had set the logging level to `ERROR`. So manually changing the logging level for the relevant script with:
[code]
does the trick!

The mysteries of the appearing progress bar still persists nevertheless.

[2020-06-26 16:02] parimuns opened #899 "Modelling NPTS model"
I am trying to model NPTS using Gluonts. Please guide me on how to get the probabilistic forecasting results using NPTSEstimator.

[code]

I get error

[code]

[2020-06-29 11:45] jaheba commented on #899
You set `predictor` to `Predictor1.predict(...)`. `predict()` returns an iterator over the predictions.

I think what you want is to pass `Predictor1` to `make_evaluation_predictions` instead.

[2020-06-29 16:10] parimuns commented on #899
Got it.Thanks

[2020-06-29 16:10] #899 closed

[2020-06-30 00:38] gmcaixeta commented on #806
if I have:

`{"item_id": 1000, "store_id": 20, "start": "2011-01-29", "feat_static_cat": [0, 0, 0, 0], "feat_dynamic_real": [[30, 30, 30, 30, 30, 30 ..], [4, 4, 4, 4, 4, 4, 4, ...], [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4....], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2...], [0, 0, 0, 1, 1, 1...], [2.240234375, 2.240234375, 2.240234375, 2.240234375 ...]], "target": [5, 5, 1, 1, 0, 3, 3, 4, 9, 4, 7, 1, 2, 4, 14 ...

[2020-06-30 04:13] parimuns opened #902 "Issue in RForecast Predictor on Windows"
When I am trying to use ARIMA using RForecastPredictor,it is throwing error.

[code]

I am getting error

[code]

I have already installed rpy2.
`pip install rpy2 `

[code]

[2020-06-30 05:13] lostella commented on #902
@parimuns what version of gluonts are you using?

[2020-06-30 12:07] lostella commented on #902
@parimuns this is what the error message suggests:

[code]

Could you try running these commands? The second may need to be done differently on Windows, I'm not sure (you just need to install the "forecast" and "nnfor" packages for R)

[2020-06-30 16:28] parimuns commented on #902
I am working on windows and I am using  gluonts 0.5. "forecast" and "nnfor" packages are already installed ,still its giving same error.

[2020-06-30 18:13] #851 closed

[2020-07-01 07:36] #902 closed

[2020-07-01 07:37] jaheba commented on #902
Hello @parimuns,

I've just merged a fix. Can you try the newest version from GitHub? Since we haven't released the fix yet the version from PyPi shouldn't work yet.

[2020-07-02 03:57] esbraun commented on #807
I'm also having an accuracy issue with DeepAR trained on count data with negative binomial output. Oddly, the behavior is restricted to CPU training. I can train the same model with the same data on a GPU and it's fine, but on a CPU, I get extreme, non nonsensical confidence limits and poor accuracy. Student T happens to work fine on both CPU and GPU.

I'm happy to share technical details / output

[2020-07-02 14:35] jsirol opened #906 "DeepAR + NegativeBinomialOutput performance degradation after upgrading from v0.4.2 to 0.5.0"
Continuing the discussion started as a part of [#872](https://github.com/awslabs/gluon-ts/issues/872) regarding the experienced performance degradation of NegativeBinomialOutput (NB) with DeepAR after upgrading from `v0.4.2` to `v0.5.0`,  I thought to open a dedicated issue for this as I've conducted some extra steps to try to understand this without major success except narrowing the problem down

[2020-07-02 15:12] lostella commented on #906
Before we do anything about this, I just want to point out that this is a formidable bug report: thank you for putting so much effort into preparing it

[2020-07-02 15:45] kaleming commented on #906
The [13th place](https://www.kaggle.com/c/m5-forecasting-uncertainty/discussion/163219) solution used gluonts==0.4.2 and mxnet==1.4.1.

When I tried using negative binomial with M5 dataset on version 0.5, my results were much worse than poisson distribution.

[2020-07-03 06:49] jsirol commented on #906
Thanks! I hope this is helpful in figuring out the issue. Also good to know I am not the only one experiencing this.

[2020-07-03 15:35] kashif commented on #906
@lostella one minor issue is that when `scale=1.0` the transformation https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/mx/distribution/neg_binomial.py#L136

`scale = 1.0 + softplus(scale - 1.0)` sets the scale to `1.6` which seems which ends up changing the `alpha` and `mu`

[2020-07-03 15:58] jgasthaus commented on #906
@kashif Good catch! In the interval [1, 5] the error is introduced by this is quite substantial. Have you tried changing that transformation to just clip at 1.0 (I see this was mentioned in the PR that introduced that change, but not compared/validated)?

![image](https://user-images.githubusercontent.com/448761/86484536-b7fefd00-bd56-11ea-8a26-998715ab399e.png)

[2020-07-03 16:05] kashif commented on #906
thanks @jgasthaus so i am checking with relu etc. I need to make food for the kids and will look again by tonight

[2020-07-03 16:12] jgasthaus commented on #906
On the other hand, the series shown in the plots by @jsirol seem to have have scales in the hundreds (>> 5) where this shouldn't really be an issue.

[2020-07-03 16:56] parimuns opened #908 "Issue in DeepstateEstimator for "prediction length=1 ""
I am using DeepStateEstimator for forecasting purposes with Hourly data .But if I set prediction length=1,means prediction for next hour ,it gives me error and if I set prediction length>=2,its working fine.Please find the error below for prediction length=1.

If I run
[code]
then it gives me error
[code]

[2020-07-03 22:54] kashif commented on #906
ok so i an alternative way which i think is easier to think about is that the NB is the discrete form of the Gamma(alpha, beta) in the sense that NB is just poisson with the rate sampled from a Gamma(alpha, beta) so the scaled rate say `c*rate` needs to be from Gamma(alpha, beta/c). Thus  If I use the `total_count` and `logit` parametrizaton of the NB as I have it in pytorch then the scaling only

[2020-07-08 11:27] tchaton opened #912 "Any model for binary forecasting ?"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

Dear All,

I have activity related data with 1 and 0 depending if active or not discretised by 15 min.

Which model should I try out from this library for forecasting the act

[2020-07-08 12:20] kashif commented on #912
you can use a categorical output with num cat. of 2

[2020-07-11 09:32] parimuns opened #919 "Issue in calling rforecast predictor through gluonts"
Hello

I have been trying to run 'ets' model by calling rforecast predictor.Whenever I am calling any package from 'R',it gives me error as 'rpy2.rinterface.NULL'.Please find the code below.

`import mxnet as mx
import gluonts
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
from itertools import islice
from pathlib import Path
import rpy2 as rpy2
from g

[2020-07-12 12:33] lostella commented on #906
@jsirol can you confirm that #909 fixes this?

[2020-07-12 12:38] lostella commented on #919
@parimuns could you provide information about your environment in the issue description? What version of gluonts are you using, what OS, what version of the interested dependencies? (R, rpy2, and so on)

Also, can you please use **triple** back-ticks to denote code sections? As you can see, the issue description is not rendered nicely

[2020-07-12 12:54] lostella commented on #807
@ramdhan1989 adding the time information explicitly is not needed, since such features are automatically added by DeepAR.

@esbraun With what version of gluonts are you experiencing the issue? There were some changes to NegativeBinomial recently which may have solved the issue.

In both cases, if something does not seem to be working it's better to open a bug report (instead of a question) with ex

[2020-07-12 14:38] parimuns commented on #919
Thanks for replying.I am using :
git version of gluonts
rpy2 -2.9.5
pandas-1.0.0
numpy -1.16.6
r-wrapper-0.0.2
R-4.0.2
RStudio-1.3.959

Please find the code again
[code]

If I install packages from source like
```utils.install_packages('file://forecast_8.12.tar.gz',type="source") utils.install_packages('file://nnfor_0.9.6.tar.gz',type="source")```
it gives me
`rpy2.rinterface.NULL`
and after runni

[2020-07-12 21:19] jsirol commented on #906
@lostella Looks to be working on the latest master, I get expected results with the toy dataset above and my real data which also contains timeseries of varying scales. Thanks @kashif for the fix and the comments on the issue, I think I got a better understanding of what the problem was :+1:

[2020-07-13 04:49] #906 closed

[2020-07-13 12:35] SaeidShamsaliei commented on #693
Hi,
I thought only DeepAR and DeepState are supporting the feat_dynamic_features since they have ‘use_feat_dynamic_real’ and others just ignore it. So, which models are using it? does N_Beats and seq2seq models using it?
Thank you so much in advance.

[2020-07-13 13:13] lostella commented on #908
This is a minimal working example raising the bug:

[code]

[2020-07-13 16:46] gmcaixeta opened #922 "Add lagged features"
Hello,

I would like to know if there is some feature function on gluonts which can be used to include recursive lagged rolling mean into DeepAR estimator ? Something like `lags_seq` parameters ?

[2020-07-13 16:59] #908 closed

[2020-07-13 16:59] lostella commented on #908
@parimuns Can you confirm that the code on master works fine now?

[2020-07-13 17:09] parimuns commented on #908
Hello @lostella
I have checked the code and its not working again.

[2020-07-13 18:32] lostella commented on #908
@parimuns the example I included above is now working, could you provide one that doesn't work and raises the error?

[2020-07-13 20:53] #693 closed

[2020-07-13 20:53] husnejahan commented on #693
Thank you all

[2020-07-14 04:44] parimuns commented on #908
@lostella ..While running your sample code,it gives me error :
[code]

[2020-07-14 04:45] parimuns commented on #908
I guess there is some issue in running on windows.

[2020-07-14 05:08] lostella commented on #908
@parimuns did you pull the latest changes from the master branch?

[2020-07-14 08:48] benidis commented on #922
We have recently added a transformation that does as a special case what you describe:

https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/transform/feature.py#L433

The idea of the above transformation is to aggregate past windows and use these values as lags. You can define how to aggregate (e.g., mean, sum, etc.), the frequency of aggregation (e.g., hourly, daily, 5min, etc.), if the a

[2020-07-14 12:39] gmcaixeta commented on #922
Hi @benidis, thanks for your reply.
I am trying to learn from this [kaggle solution](https://www.kaggle.com/c/m5-forecasting-accuracy/discussion/164374). And I noticed that he created recursive rolling mean from target value.

I am trying to use this class you have created, but I am not sure I am doing it right.

[code]

He also modified the baseline network to predict more than 1 day with rolling

[2020-07-14 13:21] #599 closed

[2020-07-14 14:36] benidis commented on #922
Try the following:

[code]
Basically, you have defined the frequencies in different format than in the dataset so it fails. With this fix your example works. Also note that with the above code there is no aggregation since the `agg_freq` is the same as the `base_freq` so the original lag values are used.

I am not sure what he mean there exactly because DeepAR predicts as many time steps as define

[2020-07-14 15:47] SaeidShamsaliei opened #925 "which models are using feat_dynamic_features"
Hi,

I thought only DeepAR and DeepState are supporting the feat_dynamic_features since they have ‘use_feat_dynamic_real’ and others just ignore it. How ever, it was mentioned in #693 that many models support that. Which models are currently using feat_dynamic_features ?

Thank you so much in advance.

[2020-07-14 21:00] gmcaixeta commented on #922
Thank you @benidis, it worked. I noticed that.

Oh I see, now it's clear to me the difference.
Thank you for the explanation.

[2020-07-15 19:04] duckbill commented on #796
I think you can consult the link [https://github.com/awslabs/gluon-ts/issues/338](https://github.com/awslabs/gluon-ts/issues/338l)

[2020-07-16 09:11] StatMixedML opened #929 "Evaluation of Probabilistic Forecasts: Coverage and Error Accumulation"
## Question
Given that DeepAR has shown state-of-the-art accuracy among a wide range of applications, I was wondering how the problem of **Error Accumulation** translates into coverage of the prediction intervals.

## A bit of context
The question arises in the context of **Error Accumulation**, which is nicely summarized in [this paper](https://arxiv.org/pdf/2004.10240.pdf), from which I am also

[2020-07-16 09:22] benidis commented on #922
I am closing the issue. Feel free to reopen or create a new one in case you have more questions.

[2020-07-16 09:22] #922 closed

[2020-07-16 12:35] #891 closed

[2020-07-16 12:52] AaronSpieler commented on #686
@kashif If you have gathered any more insight, it would be greatly appreciated.

[2020-07-16 13:00] kashif commented on #686
@AaronSpieler sure... let me collect up some more points... is it ok if I add them to this issue or would you like me to add it to another?

[2020-07-17 13:23] StatMixedML opened #932 "How to add transform.feature to existing model"
## Question
Referring to issue https://github.com/awslabs/gluon-ts/issues/922, I am not entirely sure how to incorporate *AddAggregateLags* into DeepAR. I went through the [documentation](https://gluon-ts.mxnet.io/examples/extended_forecasting_tutorial/extended_tutorial.html#2.1-Define-a-transformation), but I don`t want to create a new estimator, but rather want to include it as a feature in Deep

[2020-07-17 15:44] wasimahmadpk commented on #694
I was working on similar problem. I tried to predict multiple related time series by training a global model. When I combined all the time series inside target. It gave dimension problem.

Error: "raise GluonTSDataError(
gluonts.core.exception.GluonTSDataError: Array 'target' has bad shape - expected 1 dimensions, got 2."

[2020-07-18 13:26] GabrielDeza opened #935 "Working with High Volatility Stock Series"
Hi,

For an academic project, I am trying to predict a companies opening stock, given the tweets related to the company between the previous day market close and the current day's market open. The goal at the end would be to attack this model in different ways and then come up with some defences to these well known attacks.

So far, I have a full pipeline of collecting tweets and stock prices for

[2020-07-20 09:24] StatMixedML commented on #935
@GabrielDeza Can you be more specific on the following:
 - What is your time frequency, i.e., weekly, daily, hourly? If it is non-high-frequency data (i.e., tick-data, seconds, minutes,...) with very long history, you wouldn't want to use Deep-Learning, but maybe, e.g., a multivariate ARMA-GARCH would do? Using ~ 1 year of daily data, as indicated by the plot, is far too little data.
 - Can you st

[2020-07-20 12:17] arangatang opened #937 "Storing metrics from training to output folder when using the GluonTS Shell"
## Description
When running a training job using the GluonTS shell, the metrics when running the evaluating the model on the test set is not stored persistently. Furthermore, item_metrics are not avaliable for the user at all.
By storing these in an output folder we allow a user persistent access to the evalution metrics.
This beneficial when running a training job using the shell on Sagemaker as

[2020-07-20 15:05] antonkiselevtdg opened #939 "Automation/storing multiple prediction results"
(Please state your question in the title, and add here any relevant details,
like a description of the problem, code snippets, examples, and so on.)

Good day,

could you please help me with the following question:

I am experimenting with forecasting sales for multiple product IDs.

I have created a list of product IDs, so I can run a for loop.

However, as soon as I get to the following:
predict

[2020-07-20 15:32] antonkiselevtdg commented on #935
Interesting.

I have tried predicting volatile currency pairs - I was surprised that univariate models performed much better than multivariate GPvar. Frequency was days.

I am currently testing combinations of univariate models, so far they are showing more promising results.

[2020-07-20 19:03] GabrielDeza commented on #935
Hi StatMixedML and atonkiselevtdg,

I am using daily data (skip weekends since market is not open). In the plot above I had ~400 days worth of data. Since then I expanded my data set to 4 years to give me ~1000 data points. Is there a certain lower bound of data that would merit using deep-learning models for my problem?
I am relatively knew to time series as well as this library so I apologize in

[2020-07-20 19:27] GabrielDeza commented on #935
@antonkiselevtdg, just to make sure I understand, how I see prediction length of 195, is a test set of 195 data points, and the rest of the data (ie: everything before) is a training set. Is this correct?

[2020-07-20 19:35] mbohlkeschneider commented on #935
Two comments on this, one more general and one more specific to GPVAR.

1. For this kind of time series which are basically the same mean value with some random fluctuations without clear seasonality, forecasting the mean value is actually reasonable. If the model would try to predict the spikes but misses them, the error/loss would be higher.

2. GPVAR uses a marginal transformation to make the d

[2020-07-20 19:52] antonkiselevtdg commented on #935
For DeepAR
http://gluon-ts.mxnet.io/api/gluonts/gluonts.model.deepar.html

prediction_length – Length of the prediction horizon

context_length – Number of steps to unroll the RNN for before computing predictions (default: None, in which case context_length = prediction_length)

[2020-07-20 20:18] GabrielDeza commented on #935
Thank you mbohlkeschneider for the comments, point 1 makes sense to me (I though of it like a local minimum), I just wonder if there is a way to get around it. I didn't know that about GPVar, I will read the paper more in depth and try out DeepVar instead.

antonkiselevtdg, thank you for your help, it is very much appreciated after a week of getting nowhere with this problem.
I am confused how the

[2020-07-20 20:37] antonkiselevtdg commented on #935
Length of prediction is a HUGE thing. The further your horizon (number of steps), the more difficult it is to predict a specific value, and the more prediction would look like a straight line (usually close to average value). Good article: https://blogs.oracle.com/datascience/7-ways-time-series-forecasting-differs-from-machine-learning

[2020-07-21 06:25] mbohlkeschneider commented on #935
Maybe if you have indicator features that mark whether a spike is happening. From the time series alone, I doubt that this will be possible. But if you find a way, I would be happy to learn :-).

[2020-07-21 06:59] k-user opened #940 "When I use the #898 code, there are some problems"
In the past, when I used gluon-ts-0.5.0, num_workers>1 could not be set. I saw the code lostella released in #898 the other day and pulled it down for use. Num_workers can be set to greater than 1, but there are some problems. Could you please take a look at these problems for me? The following is some logs of the problem. @lostella

100%|███| 50/50 [00:01<00:00, 31.63it/s, epoch=194/10000, avg_ep

[2020-07-21 07:13] lostella commented on #940
@k-user could you wrap code and log sections between triple-backticks? That will improve readability. Thanks!

[2020-07-21 07:20] lostella commented on #940
It seems like this would deserve an issue on its own. @k-user could you open a dedicated bug report with a self-contained code example? Please use the "bug" option when opening the issue. Thanks.

[2020-07-21 07:25] k-user commented on #940
Ok, thank you very much. I will feedback this problem to the BUG. Since this is the first time For me to ask a question, there is a problem with the format. Next time I'll pay attention.

[2020-07-21 08:32] k-user opened #941 "When I use the #898 code, there are some problems"
## Description
In the past, when I used gluon-ts-0.5.0, num_workers>1 could not be set. I saw the code lostella released in #898 the other day and pulled it down for use. Num_workers can be set to greater than 1, but there are some problems.
Problem 1: when epoch reaches about 200, the training will end.
Problem 2: CUDA initialization error occurs when training the next target.

I made a demo to r

[2020-07-21 08:36] lostella commented on #940
Sure, no problem, and thanks for reporting this! I will close this in favor of the bug report

[2020-07-21 08:36] #940 closed

[2020-07-21 08:43] lostella commented on #941
Thanks @k-user, as you realized #898 is a rather critical change but is still work in progress, so bug reports like this are very useful!

[2020-07-21 11:01] k-user commented on #941
You're welcome. It helps me at the same time.

[2020-07-21 12:38] StatMixedML commented on #603
@lovvge Given that some time has passed, is there any chance you can provide an example notebook on how to use deep-factor.

[2020-07-22 16:37] GabrielDeza commented on #935
@antonkiselevtdg Thank you for the information. I now understand how prediction length is not the size of my test/validation set, it is how much data I am looking to forecast in the future (horizon). Then my only remaining concern would how to determine if my model/parameters are any good. If the idea of a test set is still applicable to time series, I thought of the following but I am unsure if t

[2020-07-22 17:40] antonkiselevtdg commented on #935
You can use rolling forecast. Your training set will "move in time" with your testing set.

Exanple:
Dataset May1 - June1
You want to use 10 days of data to forecast 1 next day

May 1-10 training set May 11 testing set
May 2-11 raining set May 12 testing set
...

https://github.com/awslabs/gluon-ts/issues/831

[2020-07-22 19:11] GabrielDeza commented on #935
I see that people have worked on implementing on it but I am unsure if it has been implemented. If it hasn't I will write my own version.
I also think I finally understood the difference between adding a time series versus adding features. In my case, I only care about 1 time series, and all the others are features (sentiment of tweets, volume etc). However right now, I currently have no features,

[2020-07-23 11:58] arangatang opened #945 "Dockerfiles crashing when run"
## Description
Mxnet is not installed so the image crashes during training.

[code]

This happens for both `Dockerfile` and `Dockerfile.gpu`

Installing Mxnet dependencies into the dockerfiles should solve this.

[2020-07-23 12:24] AaronSpieler commented on #837
This is fixed by https://github.com/awslabs/gluon-ts/pull/944 .

[2020-07-23 12:24] #837 closed

[2020-07-23 20:13] #37 closed

[2020-07-23 21:40] wandersun opened #947 "Discrepency for GluonTS between release version 0.5.0 and 0.4.2"
I used `DeepState` model in GluonTS. In 0.4.2, when I do inference,  I can attach new arrays for field `feat_dynamic_real` through iterating the `ListDataset` in a for loop, e.g.:

[code]

However, I am not able to assign values for `feat_dynamic_real`  field in this way in 0.5.0. The assigned `linear_dynamic_trend`, which is a numpy.ndarray will be ignored for unknown reasons.

Please help or at

[2020-07-24 13:15] jyrr opened #948 "Best practices prediction"
I'm having trouble understanding why we need to supplement a target for predictions? If a model is trained, say up till date X and I want to predict from date X+1, my predictions without supplying target seem random at best. However, if I set target to e.g. a day worth of data before X+1 the predictions are usable.

I'm wondering what the best practice is? The data I'm using has 15-minute frequenc

[2020-07-24 15:43] AaronSpieler opened #949 "MP data loader tests fail sometimes"
## Description
The `test_inference_loader_equivalence`  seems to be failing sometimes for no apparent reason. See for example unrelated commit: https://github.com/awslabs/gluon-ts/pull/946/checks?check_run_id=907176359

## Error message or code output
[code]

[2020-07-24 15:47] AaronSpieler opened #950 "Getting Nans when training MQCNN on GPU"
## Description
[code]

- If I set `hybridize=False` it works again.
- This does not happen in our internal MXNet version/container (see MQCNN).
- This does not happen with older MXNet versions (I think 1.4)
- This does happen also for newer Cuda versions (I think 10.?)
- Reducing the initial learning rate only works for ridiculously low learning rates, and even then it's not reliable

## Error mes

[2020-07-24 20:02] dcmaddix commented on #949
+1

[2020-07-24 23:08] AaronSpieler commented on #949
This is fixed by https://github.com/awslabs/gluon-ts/pull/951.

[2020-07-24 23:08] #949 closed

[2020-07-24 23:12] AaronSpieler commented on #948
We call the time series of the target variable we want to predict `target`.
Usually we split our datasets so that the test set is `prediction_length` longer so that we can evaluate our Predictors on previously unseen data.
If you wish to predict into the future, you will still have to provide `target` however, only for time points that lie in the past.

[2020-07-25 00:06] jyrr commented on #948
Hey, thanks for reply. I understand all of what you're saying, apologies if my first message was a bit unclear.
I'm specifically asking about a trained model. I understand that, at least for the DeepAR model, to predict on new data, we'll have to supply it with data in `gluon-ts` format (containing `start` and `target`). It will then return `prediction_length` worth of predictions.

[code]

It's j

[2020-07-25 07:25] #431 closed

[2020-07-25 07:25] #430 closed

[2020-07-27 14:19] AaronSpieler commented on #941
Have you tried using MXNet version: `mxnet-cu92==1.6.0`, or do you have CUDA 10.1 installed?

[2020-07-27 23:18] AaronSpieler commented on #662
@jaheba Whats the status on this?

[2020-07-27 23:29] AaronSpieler opened #953 "Clean up GiHub root folder."
## Description
Our GitHub root folder contains many files, a couple of them seem out of date to me: e.g. `contributor.rst`.
I believe it could be a good idea to reflect on what folders/files are out of date or should be moved, and also whether there is a more elegant way to organise the root folder.

[2020-07-28 01:30] k-user commented on #941
![image](https://user-images.githubusercontent.com/42017849/88608415-4a739180-d0b4-11ea-9215-b8399e18d194.png)
Thanks @AaronSpieler .My CUDA Version is 10.1 ,When i install MXNet , I pay attention to that.

[2020-07-28 08:44] #932 closed

[2020-07-28 08:44] #929 closed

[2020-07-28 09:06] k-user commented on #941
Hey bro, I found something different, It might be helpful. When i use following versions of the package. Everything work normally except num_workers can't set.

## Environment
MXNet version: mxnet-cu101 1.4.1
GluonTS version: 0.3.2

[2020-07-28 09:39] jaheba commented on #662
I've disabled them some time ago and no one seems to have noticed or complained about it :)

[2020-07-28 10:05] AaronSpieler commented on #941
So problem 1 & 2 disappeared, but again, multiprocessing doesn't work?

[2020-07-28 10:49] k-user commented on #941
Yes, but this time I use cpu, it is very slow

[2020-07-29 09:17] tchaton commented on #912
Hey @kashif,

Would you mind sharing 1-2 categorical model names with me ?
Does they exhibit a probabilistic categorical predictions ?

Best regards,
Thomas

[2020-07-29 14:16] AaronSpieler commented on #686
I think this issue should be fine for now.

[2020-07-29 14:28] kashif commented on #686
Cool! The other issues I had involve the dataset and dataloader, ideally the dataset should only be numpy only and thus framework specific dataloaders can use them...

[2020-07-29 14:50] AaronSpieler commented on #686
Perfect, we have a concept pull request regarding this: https://github.com/awslabs/gluon-ts/pull/898
We would greatly appreciate if you left some insight regarding this matter there!

[2020-07-29 15:14] AaronSpieler commented on #948
From what you wrote it seems to me that you might not have explicitly set `context_length`.
In DeepAR we set it like this internally:
[code]
So equal to the prediction length if you have not set it explicitly.

Now, `context_length` specifies how much the model looks back in the time series to generate a prediction of length `prediction_length`. This is also how the model is trained on the trainin

[2020-07-29 16:21] jaheba opened #956 "Use whitelist for date-entry fields"
We currently remove some fields from the input-data, if we know that we don't need it. E.g:

https://github.com/awslabs/gluon-ts/blob/e52864f7ee5d173dac38e7a984b9ea615397e2f2/src/gluonts/model/deepar/_estimator.py#L226

However, we should just pick the fields that we require, i.e. use white-listing instead of black-listing.

[2020-07-30 08:19] jaheba opened #958 "pandas-offsets stopped being hashable"
In Pandas 1.1 the `freq` component of the time-stamps that we use have stopped being hashable, which means, they cannot be used as keys in dictionaries. We use this in different locations in our code base.

We now have two options:

* open an issue with pandas, requesting that the old behaviour is restored
* change our code to not make use of this feauture

[2020-07-30 08:19] kaijennissen commented on #555
How exactly does the early stopping work? Is there a way to stop training if the validation loss does not decrease for a given number of iterations? As far as I understand the code, the `patience` arguement in `Trainer` controls the learning_rate_scheduler and not the early_stopping.

[2020-07-30 08:44] jaheba commented on #555
There is a mechanism for early_stopping in the lrs of the trainer:

https://github.com/awslabs/gluon-ts/blob/e52864f7ee5d173dac38e7a984b9ea615397e2f2/src/gluonts/mx/trainer/learning_rate_scheduler.py#L124-L129

Once `min_lr` is reached, training stops. With the current default settings this is the case after five cycles of learning-rate reductions.

That said, there are probably more intuitive way

[2020-07-31 03:32] arianacai1997 opened #959 "New pandas version not compatible with gluonts"
## Description
I re-installed the gluonts version 0.5.0 but got a TypeError. However, when I changed the pandas version back to 1.0.1, the conflict was solved.
## To Reproduce
predictor = estimator.train(dataset.train) this line from the https://gluon-ts.mxnet.io/examples/basic_forecasting_tutorial/tutorial.html tutorial raised a type error.

[code]

## Environment
- Operating system: OSX
- Python

[2020-07-31 03:48] GabrielDeza opened #960 "Does context length include past features as well?"
Hi,

From the extended tutorial, it seems that `context length` defines the number of time steps to look back to predict the next `predict length` time steps. Does the model only look at the past time series in the `context length` window or does it also look at the features?

If this is confusing, here is why this is a concern for me. I have a time series which I would like to predict, with 1 dyn

[2020-07-31 03:56] #935 closed

[2020-07-31 06:17] StatMixedML commented on #960
@GabrielDeza You might find Section 4.2 of the [DeepAR Paper](https://www.sciencedirect.com/science/article/pii/S0169207019301888) helpful.

![image](https://user-images.githubusercontent.com/41187941/89005752-82bdde80-d305-11ea-8f23-7a2a1c570f8a.png)

The ```context_length``` refers to the length of the unrolled RNN, i.e., the encoder.

The  covariates that are assumed to be known for **all time

[2020-07-31 10:04] jaheba commented on #959
Thanks for raising the issue.

It's a duplicate of #958.

[2020-07-31 10:04] #959 closed

[2020-07-31 12:12] AaronSpieler commented on #662
So should we also remove the `./ci` folder, or is that unrelated?

[2020-07-31 12:53] jaheba commented on #662
No, not yet.

[2020-07-31 15:00] RutujaWanjari commented on #752
I am also stuck for the same.
I have executed mxnet multimodel, and its running fine.

But I want to write model_handler.py for keras model and scikit -learn model in the same file.
Till now no success. If anyone has any lead on this, please share.

[2020-07-31 19:19] AaronSpieler commented on #958
For now we should probably change the pandas requirement to `<1.1`.
I also ran into problems with the pandas version.

[2020-08-02 23:36] XL19951002 opened #964 "### Description"
## Description
(A clear and concise description of what the bug is.)

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output that the above snippet produces.)

[code]

## Environment
- Operating s

[2020-08-02 23:37] #964 closed

[2020-08-02 23:40] XL19951002 opened #965 "Pandas 1.1.0 has no YearOffset(), which is used by gluonts."
## Description
AttributeError: module 'pandas.tseries.offsets' has no attribute 'YearOffset'. This bug occured when I trained DeepAREstimator, with pandas1.1.0 installed. After downgrade to pandas1.0.5, no such issue.

## Error message or code output
  File "/usr/local/lib/python3.6/dist-packages/gluonts/core/component.py", line 437, in init_wrapper
    return init(self, **all_args)
  File "/usr/l

[2020-08-03 14:39] AaronSpieler commented on #948
If this answered your question @jyrr , could you please close the issue?

[2020-08-03 14:51] AaronSpieler commented on #163
- we have multiprocessing support for the data-loader now
- we do have a `hybridise` all MXNet based models

[2020-08-03 14:51] #163 closed

[2020-08-03 14:55] AaronSpieler commented on #122
We have split the requirements across multiple files now, but `matplotlib` is still one of the default requirements.
Can we still close this issue @jaheba?

[2020-08-03 14:57] #451 closed

[2020-08-03 14:58] AaronSpieler commented on #950
Possibly related to: https://github.com/awslabs/gluon-ts/issues/501

[2020-08-03 15:00] #503 closed

[2020-08-03 15:11] AaronSpieler commented on #850
Could you please provide more information? e.g. error logs?

[2020-08-03 20:53] #965 closed

[2020-08-03 21:17] XL19951002 opened #968 "About preparation of Validation Set"
For estimator.train(training_data=xxx, validation_data=xxx), should validation_data be prepared the same way as training_data? I saw that the only difference between ValidationLoader and TrainingLoader is `cyclic` field and __iter__ method. I assume that they use the exact same sampler when loading the data. So according to my understanding, I should be very careful to set the starting date in glu

[2020-08-04 07:55] jaheba commented on #122
These are the requirements listed in `requirements.txt`:

[code]

Of these `matplotlib`  looks like a clear outlier.

I think, `tqdm` we don't strictly need, same probably with `ujson` (can use `json` instead) and `holidays`.

This would leave us with a minimal requirements list of:

[code]

Which looks about right.

---

Let's keep this issue open until we have come up with a plan how to handle r

[2020-08-04 13:09] jyrr commented on #948
I'm quite sure it does not predict the average of all training samples without providing input, the predictions returned were in [1e-11,1e-10] range where as the actual data is in [0,1000].

Anyhow, if I understand correctly I should give the Predictor `context_length` of data to get `prediction_length` worth of predictions. However what I don't understand is, if I give the Predictor `> context_le

[2020-08-04 13:58] shchur opened #973 "Type check fails on the master branch"
## Description
There seems to currently be a bug on the master branch. The classes `Forecaster` and `GluonTSForecasterNotFoundError` in [`src/gluonts/shell/__main__.py`](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/shell/__main__.py) are undefined. Also, I suspect that the argument `forecaster` in [`src/gluonts/shell/train.py`](https://github.com/awslabs/gluon-ts/blob/master/src/glu

[2020-08-04 14:12] AaronSpieler opened #975 "Change seasonality of "D" to 7, and 52 for "W""
## Description
- currently we have `DEFAULT_SEASONALITIES = {"H": 24, "D": 1, "W": 1, "M": 12, "B": 5}`
- however, having a seasonality of  1 has no real benefit to my knowledge  (please correct me if I'm mistaken)
  - I base my knowledge on NBEATSEstimator and Naive2Predictor
- therefore I suggest seasonality of 7 for Daily data "D"
  - to me this makes sense since this would capture the seasonal

[2020-08-04 15:38] #973 closed

[2020-08-04 20:07] #958 closed

[2020-08-06 07:50] aalexandrov commented on #122
If I remember correctly there was a dramatic difference between using `ujson` and `json` to read time series from a JSONLine format, [see these tests](https://github.com/awslabs/gluon-ts/blob/master/test/dataset/test_loader.py#L47-L56).

[2020-08-07 08:31] rubick1896 opened #979 "How to finetune a trained network using gluonts"
I have already trained a network on some period of data. As time goes by, new data comes in. I don't want to re-train the whole thing but finetune the network on the newest data. How could I achieve that?

[2020-08-10 07:09] samemelody opened #981 "The deepar example code (dynamic_feat) on sagermaker make me confued"
I am a beginner at Deepar. The Deepar example code of sagemaker is different from GluonTS. Sagemaker uses "dynamic_feat" and "cat" as extension features.But GluonTS use "feat_dynamic_real" and "feat_static_cat". The "feat_dynamic_real" feature time series should be as long as "target + predict" length.  So when I first try to using Deepar I used "dynamic_feat"  It seems not to work. The code of fi

[2020-08-10 08:45] jaheba commented on #981
The DeepAR version in SageMaker is not the same as the one implemented as part of GluonTS.

GluonTS renamed `cat` to `feat_static_cat` and `dynamic_feat` to `feat_dynamic_real`.

Thus, if you want to use the GluonTS-based model, you need to rename the field-names accordingly.

[2020-08-10 08:48] jaheba commented on #979
This is generally called "incremental learning" and unfortunately, this is currently not possible in gluon-ts.

This is a duplicate of #272.

[2020-08-10 08:48] #979 closed

[2020-08-10 09:29] samemelody commented on #981
Thanks for your reply. I see the example from Chinese video websites. I didn't see special treatment about "dynamic_feat".  And the "feat_dynamic_real" feature needs to be the same length as “target+predict_length”. Any suggestions about this problem? Maybe should I use my feature as another  "target" of different "feat_static_cat"?

[2020-08-10 09:32] jaheba commented on #981
I think that's a requirement during prediction, where you need to pass the feature-values for `feat_dynamic_real` as well.

During training, the lengths of the `feat_dynamic_real` time-series should match the one of the corresponding target.

[2020-08-10 09:46] samemelody commented on #981
Yes. The feature-value in the future is also unknown. The training has no problem, but when predict. I thought I can get results without pass the feature values. Maybe I should predict the feature values first.

[2020-08-10 14:11] jaheba commented on #981
This is not possible with DeepAR. It requires that you pass features also in the prediction range.

[2020-08-10 14:11] #981 closed

[2020-08-10 20:33] lostella commented on #467
Once #982 is merged, the inflated distributions should be a piece of 🍰

[2020-08-10 20:44] lostella commented on #947
@wandersun thanks for reporting this. Could you come up with a minimal code snippet that we can copy-paste to reproduce the error?

In any case: I've never added fields to a dataset this way, but since you have a ListDataset constructed somewhere, my suggestion would be to just add the fields when the dataset is constructed. Why would that not be possible?

[2020-08-11 07:42] StatMixedML opened #983 "Shape & Type of Class Objects in GluonTS"
# Question

Dear GluonTS-Team,

- I was wondering what the shape&type of the prediction object for different Networks are.
- How can I infer the shape&type of any object within a defined `class`

##  Example 1: Simple Feedforward Network

Described [here:](https://gluon-ts.s3-accelerate.dualstack.amazonaws.com/master/examples/extended_forecasting_tutorial/extended_tutorial.html#5.1-Point-forecasts

[2020-08-11 18:31] kaleming opened #984 "Tweedie loss"
Does gluon-ts provide provide DeepAR with Tweedie loss ?

## Tweedie distribution

![tweedie-distribution](https://user-images.githubusercontent.com/51836477/89934535-1b4a3d80-dbe7-11ea-8082-685fd52c2b0f.png)

-   It is a type exponental dispersion model (ED). ED is a very general type of probability distribution models where the PDF (probab. distribution function) is represented using exponents.

[2020-08-12 12:11] PascalIversen commented on #467
Since currently, log_prob returns the pmf for discrete distributions and the pdf for continuous distributions, we can not mix discrete and continuous distributions if they have overlapping support.
We can not implement the `InflatedBeta`  and `InflatedGamma` as a naive `MixtureDistribution` between `Beta`/`Gamma` and the `Deterministic` because the distributions have overlapping support for some p

[2020-08-12 17:31] lostella commented on #467
@PascalIversen regarding Beta, the authors of https://www.researchgate.net/profile/Silvia_Ferrari/publication/1889063_Inflated_Beta_Distributions/links/09e41505c6e8562e88000000/Inflated-Beta-Distributions.pdf?origin=publication_detail don't seem to treat those cases differently (see eq 2 and fig 1). Maybe you can look into that, although they use a slightly different parametrization.

[2020-08-12 18:24] PascalIversen commented on #467
Right, I see. Then the problem is not what I mentioned but rather a inconsistency/bug in the log_prob of the Beta. For alpha, beta < 1 it returns inf for 0 and 1 and not -inf.

[2020-08-12 20:03] lostella commented on #467
In any case, eq (2) in the above paper suggests that the mixture density is in fact to be computed by cases, which is what @vafl suggested in #982

[2020-08-15 21:57] pmohamma opened #987 "Plotting compatibility with Quantile Forecasts"
## Description
When attempting to plot prediction intervals for MQCNN (or other estimators that implement a QuantileForecast for their predictor), the plotting function does not plot intervals as its functionality is intended to. Instead, it plots a single line (which I understand to be the 0.5 quantile forecast).

## To Reproduce
(Please provide minimal example of code snippet that reproduces the

[2020-08-17 05:32] skybullet1987 opened #988 "Next day forecast questions"
Good day!

Thank you for a great forecasting tool, could you please help me with these simple question:

I am trying to forecast for 1 day into the future.

My dataset looks like this:

df:
Date Volume
Jan1 100
...
June1 99
June2 105
June3 90
June4 NaN

How do I forecast 1 day into the future (June4)?

I have tried the following as an example:

  test_data = ListDataset([{"start": df.index[0],

[2020-08-17 11:02] lostella commented on #987
So the problem is that the `Forecast.plot` method is really tailored to the `SampleForecast` and `DistributionForecast` classes, for which the `quantile` method always returns something meaningful; in the case of `QuantileForecast`, `quantile` will give `nan` unless the model produced exactly the quantiles which are needed for plotting.

In my opinion it would make sense to implement `QuantileFore

[2020-08-17 11:06] lostella commented on #984
@kaleming Tweedie distributions are not implemented in GluonTS, but I agree that this would be really cool to have. Is this something you would be interested in contributing with a PR?

[2020-08-17 16:12] #960 closed

[2020-08-17 17:08] GabrielDeza opened #991 "Getting DeepAR gradients of output w.r.t to inputs (covariates)"
Hi,
I am looking to calculate the gradient of the output of DeepAR w.r.t to it's inputs. In more detail, I have a single time series/target and 10 covariates. I would like to get a vector of length 10 which is the gradient of the output of the model w.r.t to each covariate. I have been going through the DeepAR code (network.py and estimator.py) and from what I understand, the RNN model is defined

[2020-08-17 20:53] mreismendes opened #992 "What estimator should I use?"
Hello!

I need some advice about the two main characteristics of my problem.

1) What is the more suitable estimator for my problem?

I have daily record data with one target and 28 other related variables. Sice, I don't know in advance the values of related variables, and knowing that each variable depends not only on its past values but also has some dependency on other variables, what estimator

[2020-08-19 13:12] antonkiselevtdg commented on #988
What if you try to use June3 as target, but choose prediction_length=2?

[2020-08-19 13:12] antonkiselevtdg commented on #988
What if you try to use June3 as target, but choose prediction_length=2?

[2020-08-19 13:12] antonkiselevtdg commented on #988
What if you try to use June3 as target, but choose prediction_length=2?

[2020-08-19 13:12] antonkiselevtdg commented on #988
What if you try to use June3 as target, but choose prediction_length=2?

[2020-08-19 22:59] skybullet1987 commented on #988
Can definitely try that. However, I also wanted to better understand how "target' works and why it did not work.

[2020-08-20 00:31] skybullet1987 opened #994 "NBEATS doesn't work properly"
NBEATS doesn't work with parameters that I described here:
https://github.com/awslabs/gluon-ts/issues/988

I have tried to use other estimators such as DeepARE - it works fine. Only NBEATS is causing issues.

System Windows 10
GluonTS 0.5.1
MXnet 1.6
Python 3.7.7

[2020-08-20 07:23] kashif commented on #991
so the linear layer is in the arg_proj of the distribution output class i.e. https://github.com/awslabs/gluon-ts/blob/a37620ffd4100b3762fc85075c35328dd3d62679/src/gluonts/mx/distribution/distribution_output.py#L60-L70

and then the domain mapping happens in each distribution's version of the distribution output i.e. https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/mx/distribution/gaussi

[2020-08-20 11:43] kaleming commented on #984
Hi @lostella,
I will have a look on MxNet docs and see if I can help on it.

[2020-08-21 10:17] rubick1896 opened #996 "Handle large dataset that does not fit in memory"
I have a large dataset that cannot be read into memory as a whole. I implemented a generator based dataset which gives a data entry one at a time. However,  when the data set is passed into the data loader, it calls list(dataset) anyway. What is the solution to this type of problem?

[2020-08-21 10:54] kaijennissen opened #997 "UnboundLocalError: local variable 'lv' referenced before assignment"
## Description
I cannot include a validation dataset during the training of a multivariate model. When training without validation dataset everything works.

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output

[code]

## Environment
- Operating system: Mac OSX 10.15.5
- Pyt

[2020-08-21 13:29] nicholasprayogo opened #998 "DeepAR on Solar Energy dataset gives NRMSE > 1"
after training for 40 epochs, DeepAR model still gives me NRMSE of about 1.03 although ND is reasonable (about 0.51). Why is NRMSE > 1? Possible bug?

Compared the results with https://github.com/awslabs/gluon-ts/blob/master/evaluations/solar-energy/DeepAREstimator.json and it matches, but NRMSE isn't provided.

This only happens on solar energy dataset specifically.

[2020-08-21 13:29] nicholasprayogo opened #999 "DeepAR on Solar Energy dataset gives NRMSE > 1"
after training for 40 epochs, DeepAR model still gives me NRMSE of about 1.03 although ND is reasonable (about 0.51). Why is NRMSE > 1? Possible bug?

Compared the results with https://github.com/awslabs/gluon-ts/blob/master/evaluations/solar-energy/DeepAREstimator.json and it matches, but NRMSE isn't provided.

This only happens on solar energy dataset specifically.

[2020-08-21 13:54] jaheba opened #1000 "Proposal: Dataset NG"
Goal: Replace current input-data handling with a composed approach.

## Schema

We introduce `Schema`s and each `Forecater` has to define a data schema that it
supports.

This is based on #776.

[code]

## Datasource

The `Dataset` abstraction gets replaced with `DataSource`. A data source is
just an `Iterator[dict]` and thus a list can be also used as a data source:

[code]

Mapping a Schema to a

[2020-08-24 12:12] lostella commented on #999
duplicate of #998

[2020-08-24 12:12] #999 closed

[2020-08-24 12:34] lostella commented on #996
@rubick1896 what version of GluonTS are you using? Could you point to where `list(dataset)` is called?

[2020-08-24 14:09] geoalgo commented on #998
I am not 100% sure but a possible explanation could be that DeepAR produces non-zero forecast during night whereas the target is almost zero causing large errors.

[2020-08-25 03:03] rubick1896 commented on #996
@lostella I am using version 0.5.0. I believe it is called in https://gluon-ts.mxnet.io/_modules/gluonts/dataset/parallelized_loader.html#ParallelDataLoader

`
if isinstance(dataset, Sized):
            assert isinstance(dataset, Sized)
            self.dataset_len = len(dataset)
        else:
            self.dataset_len = len(list(dataset))
`

[2020-08-25 03:11] rubick1896 commented on #996
@lostella Even if I could provide the the __len__ function in the Dataset object, the data loading process still doesn't work properly. The process seems to stuck at some point(most likely to be _sequential_sample_generator function). Try the code below.

dataset = get_dataset("m4_hourly", regenerate=True)

class MyDataset():
    def __init__(
        self,
        data_iter: Iterable[DataEntry],

[2020-08-25 12:40] nicolaerosia commented on #446
seems to be working just fine

[2020-08-25 14:59] nicolaerosia opened #1003 "Unable to use no lagged target values"
## Description

I would like to use **no** lagged target values (`lags_seq` param) with `GPVAREstimator`, using hourly data in a multivariate setup.
The reason I would like to bypass the `lags_seq` is because I'm using a fairly big context (multiple days, e.g. 7 days), which means that all lagged values returned by default in `get_lags_for_frequency` (https://github.com/awslabs/gluon-ts/blob/9bd87

[2020-08-26 07:26] arianacai1997 opened #1004 "multiprocessing: AssertionError: Something went wrong with the worker initialization"
## Description
I tried to use the Evaluator in from "gluonts.evaluation import Evaluator", but an assertion error occurred related to multiprocessing. When I re-downloaded the tutorial in the document (https://gluon-ts.mxnet.io/examples/basic_forecasting_tutorial/tutorial.html#Create-your-own-forecast-model), the same thing happened. The code worked several weeks ago with the same OS. Besides, I c

[2020-08-26 20:59] lostella commented on #1004
@arianacai1997 could you try on python 3.7?

[2020-08-26 21:46] lostella commented on #997
The problem occurs also on `master`. The root cause seems appears to be the way `ValidationDataLoader` extracts batches of data: the data transformation pipeline gets applied with `is_train=True` (see [here](...)) so that the "future" target is included in the data; however, this has the consequence that the instance splitter selects a random number of time windows from the validation dataset.

No

[2020-08-27 11:51] arianacai1997 commented on #1004
Thanks for the advice. It works!

[2020-08-27 14:24] lostella commented on #1004
let's leave this open then so that we can track python 3.8 support

[2020-08-27 14:26] lostella commented on #446
#1004 is related

[2020-08-28 15:26] ColinLeverger commented on #516
Hi @alexhallam , did you learn more about your previous question :

I'm facing the same question now!

[2020-08-28 17:05] rajnish-garg opened #1013 "How to measure the impact of feat_static_cat in DeepAR accuracy"
I have a time series for each city that I am forecasting using DeepAR Estimator. It is giving decent results. I have list of static category attributes related to each series for e.g. density  (high, low.. ), seasonal etc. that i am looking to feed using `feat_static_cat` so that I can leverage the relationship between different sequences to improve the `accuracy` metric.

**I have couple of qns o

[2020-08-29 12:31] PascalIversen commented on #994
Hey @skybullet1987 ,

thank you for the bug report.

Could you please provide a minimal example code that reproduces the bug?

I do not experience issues using your hyperparameters like this:
[code]

[2020-08-29 14:55] PascalIversen commented on #983
Hey,
the type is always a mxnet `NDarray`.
In your first example, the shape of `prediction` is `(batch_size, prediction_length) `which is the same as the shape of future target.
The shape of `net_output` and `target_out` of your second example is `(batch_size, context_length + prediction_length, num_cells)` and `(batch_size, context_length + prediction_length)`, respectively.

You can always check

[2020-08-30 12:17] StatMixedML commented on #983
@PascalIversen Thanks for your detailed comment!

[2020-08-30 12:17] #983 closed

[2020-08-30 23:50] alexhallam commented on #516
@ColinLeverger I ended up coding my own pinball loss function outside of this package and applied it to all the forecasting methods I was interested in. Pinball Loss is more common for the community I had to present to. Also it takes three short lines of code to write. Let me know if you need anything else.

[2020-08-31 03:14] Worulz opened #1014 "DeepAR how to extend create_transform?"
Hi, I was hoping to extend the create_transform function in the DeepAR estimator, is there anyway to do this? I haven't found the extended [tutorial](https://gluon-ts.mxnet.io/examples/extended_forecasting_tutorial/extended_tutorial.html#2.1-Define-a-transformation) showing how even though it shows you how to define a transformation.

https://github.com/awslabs/gluon-ts/blob/19040125268ac0b13290e1

[2020-08-31 11:41] MaximilianProll opened #1015 "Release 0.5.1: recent code from master not included"
Hi,

I just installed version 0.5.1 via `pip install --upgrade mxnet==1.6 gluonts` and stumbled into an error using the `OffsetSplitter`.
The traceback is the following:
[code]
The failing line was already fixed in [master in this PR](https://github.com/awslabs/gluon-ts/pull/890).

That got me wondering how the old implementation ended up in the release.

I think that the released version [0.5.1](

[2020-08-31 11:54] MaximilianProll commented on #1015
Using the latest master via `pip install git+git://github.com/awslabs/gluon-ts.git#egg=gluon-ts` on the other hand works like a charm and no errors are raised.
So the issue is that the latest release does not include recent master changes.

[2020-08-31 12:08] lostella commented on #1015
@MaximilianProll this seems like a missing backport, I'll try to write down a list of fixes that are needed in the 0.5.x branch

[2020-08-31 13:26] lostella opened #1016 "Backports to 0.5.x"
**NOTE:** leave open and edit freely for as long as the v0.5.x branch is supported (i.e. not superseded by v0.6.x)

The following PRs could be backported to the 0.5.x branch:

- [x] remove kwargs from hybrid_forward input name inference (#846)
- [x] Fix the quantiles used to compute MSIS (#849)
- [x] Fix to_time_series_item in splitter (#874)
- [x] updated Pandas deprecation (#875)
- [x] Updated F

[2020-09-01 04:11] ramdhan1989 commented on #908
I got same problem running on windows. It doesn't work when using prediction_length=1 (training seems success but prediction raises an error). When change prediction_length=2 both of training and prediction work well.

@lostella @parimuns did you solve this issue ?

thank you

[2020-09-01 04:31] skybullet1987 commented on #994
Hi!

Code example:
test_data = ListDataset([{"start": df.index[0],
                              "target": df.Close[:prediction_date]}],
                            freq="D")

    estimator1 = NBEATSEstimator(freq="D", prediction_length=1, trainer=Trainer(epochs=120,ctx="gpu"))
    predictor1 = estimator1.train(training_data=test_data)

Let's suppose I do a 1 day prediction (Sep 1) based on all th

[2020-09-01 10:14] lostella commented on #1015
@MaximilianProll can you confirm that this is fixed in 0.5.2?

[2020-09-01 10:14] lostella commented on #908
@ramdhan1989 can you confirm that this is fixed in 0.5.2?

[2020-09-01 10:35] MaximilianProll commented on #1015
Wow, you guys are fast! 🚀  Thank you, yes, version 0.5.2 now includes the relevant fixes for the `OffsetSplitter`.

Could this PR also be included in the recent releases or was that left out on purpose?
- Scale the negative binomial's gamma() #909

[2020-09-01 10:47] lostella commented on #1015
Good point! Added that to #1016, feel free to comment there if you spot anything else.

Closing this, thanks a lot for pointing this out.

[2020-09-01 10:47] #1015 closed

[2020-09-01 14:42] PascalIversen commented on #994
Thank you.

1. Are you sure there are no `NaN` target values in the training data? The DeepAR transformations handle missing values, but NBEATS does not do this by default. If there are any, you can replace them yourself as a quick fix.
2. If there are no missing values, can you try to reduce the learning rate, by adjusting `learning_rate` parameter of the `Trainer`?

[2020-09-01 15:01] skybullet1987 commented on #994
Thank you for clarifications.

1)Could you pleas tell - if my dataset doesn't have a specific target value (for e.g. sales for tomorrow, and I don't know what they are, but I want to predict them with NBEATS), what should I use instead of NaN for that 1 day into the future prediction that I described?

If I use existing data point (for e.g. Aug 31 with some sales value) and use Aug 31 as predictio

[2020-09-01 15:11] PascalIversen commented on #1014
Hey @Worulz, you could extend the `DeepAREstimator` and overwrite `create_transformation` with your custom transformation:
[code]
Does that help you?

[2020-09-01 20:56] statgirl30 commented on #984
just wanted to mention that tweedie loss is -2*logloss. so you should probably multiply it by 2?

[2020-09-02 01:06] ramdhan1989 commented on #908
Thanks, it is solved!

[2020-09-02 09:39] PascalIversen commented on #994
If you want to predict a specific date of a time series, this time point should not be in the training dataset. Create a training and a test dataset. For the test dataset, you have to provide the context for your prediction (note the `context_length` parameter, which defaults to `2*prediction_length` for the `NBEATSEstimator`)

Here is a toy example on how to do a one day prediction:
[code]

[2020-09-02 11:22] Worulz commented on #1014
@PascalIversen thank you! I'll play around with it.

[2020-09-02 11:22] #1014 closed

[2020-09-02 13:13] wasimahmadpk commented on #694
@l-cdc I am doing it like this and it works fine now.`

train_dataset = ListDataset(
    data_iter=[
        {
            "start": "2019-01-01 00:00:00",
            "target": [timeseries1[start:train_stop], timeseries2[start:train_stop]],
        },
    ],
    freq=freq,
    one_dim_target=False
`)`

estimator = DeepAREstimator(
    'H', prediction_length=prediction_length, trainer=Trainer(epoch

[2020-09-02 21:22] skybullet1987 commented on #994
Thank you very much for your example.

Could you please clarify some lines of your code:

I am trying to understand the following:

your timerange represents 101 days:
dtype='datetime64[ns]', length=101, freq='D'

However, target has only 100 elements:
print(np.count_nonzero(np.isnan(target)))
print(np.count_nonzero(~np.isnan(target)))
1 - nan
99 - some values

Why do you have 2 days without any v

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] #998 closed

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 00:33] nicholasprayogo commented on #998
Ah that makes sense; looks like there can be some huge outliers in the prediction. thanks!

[2020-09-03 13:06] skybullet1987 commented on #994
Awesome!

Checked on my dataset - it works just as intended! Thank you!

[2020-09-03 14:18] ColinLeverger commented on #516
Thank you @alexhallam for your answer!
Then, the question still stands... Any thoughts, @jgasthaus ?

[2020-09-04 08:24] PascalIversen commented on #994
Great! Could you please close the issue?

[2020-09-04 14:41] #994 closed

[2020-09-05 09:00] StatMixedML commented on #1013
You might be interested looking into [Temporal Fusion Transformers for Interpretable Multi-horizon Time Series Forecasting](https://arxiv.org/abs/1912.09363). It is an attention-based architecture which combines high-performance multi-horizon forecasting with interpretable insights.

[2020-09-07 09:02] lorrp1 commented on #1013
@rajnish-garg  @StatMixedML have you tried adding features to models that require a multidimensional target (i have 1 target and multiple features)?
i keep getting errors and i dont know how to use to multivariategrouper with just 1 target

[2020-09-07 10:12] alexcombessie opened #1026 "Add auto_arima model from pyramid.arima"
## Description
I want to benchmark GluonTS models with the auto ARIMA model implementation from pyramid-arima in Python.

## References
- https://pypi.org/project/pyramid-arima/

[2020-09-07 11:07] Harry-N opened #1027 "How to import a model ? I have an error : 'mxnet.context' has no attribute 'num_gpus'"
Hi everyone !

I have previously installed pip install mxnet. I followed the tutorial but when I want to import a model (For example : from gluonts.model.simple_feedforward import SimpleFeedForwardEstimator).
I have this error which appears :

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipy

[2020-09-07 11:25] PascalIversen commented on #1027
Hey @Harry-N,
I think you are using the wrong version of mxnet.
Try again after`pip install --upgrade mxnet==1.6`.

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:41] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:42] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:42] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:42] Harry-N commented on #1027
Hi Pascal,
Thanks for your quick reply, it works ! In fact, I had already tried your suggestion before but the problem was that I had also installed on my virtual environment conda install -c anaconda mxnet so I uninstalled everything and i try again after pip install --upgrade mxnet = = 1.6.

Thank you again and have a nice day ! :)

[2020-09-07 11:45] PascalIversen commented on #1027
Great, have fun using GluonTS!

Could you please close the issue?

Thanks, you have a nice day too!

[2020-09-07 11:46] #1027 closed

[2020-09-09 09:45] rubick1896 commented on #996
@lostella Could you give some feedback on this issue? Is this a bug?

[2020-09-09 12:22] lostella commented on #996
@rubick1896 I think the call to `list(dataset)` is not an issue anymore, since #986 was merged: I will check whether this can be safely back-ported to the `v0.5.x` branch, in which case it will be part of the next `v0.5.3` release.

About your custom dataset issue, there's ongoing work about simplifying the data loader structure, see #898. This will be hopefully merged soon, and be part of `v0.6.x

[2020-09-09 20:56] slowjazz opened #1029 "fbprophet 0.7 breaking build"
## Description
The dependency `fbprophet` 0.7 release is breaking the build because of conflicting version requirements for the `holidays` package.

fbprophet: `holidays>=0.10.2`
https://github.com/facebook/prophet/commit/3a436ec60343802e2dcc3251fe455fed7abc85d8

Gluon-ts: `holidays>=0.9,<0.10`
https://github.com/awslabs/gluon-ts/blob/master/requirements/requirements.txt

Gluon-ts: `fbprophet>=0.4

[2020-09-10 02:51] rubick1896 commented on #996
Thanks for the response. I  like your simplified version of dataloader. My problem is not solved. Here is the code that is causing the problem
[code]
If this Iterable is not a list but a generator object, it stuck in the loop without doing anything. Frankly,
`
while True:
    yield from somthing
`
is confusing. Just by looking at the code , I don't know what to expect from it. Here is a simple exa

[2020-09-10 06:44] sujayramaiah commented on #144
Hi, When using GluonTS DeepAR, we used the labels "dynamic_feat" for specifying the dynamic feature series and "cat" for specifying the Categorical columns similar to how we specify when using SageMaker's DeepAR. We are not seeing any errors and we do see specifying different features is producing different results. We are using default hyperparameter settings and only tuning the epoch and learnin

[2020-09-10 08:30] lostella commented on #996
@rubick1896 what to expect from `CyclicIterable` is the following (adapted from your snippet):

[code]

which prints:

[code]

The main reason not to use `itertools.cycle` is that it allocates, see description here https://docs.python.org/3.7/library/itertools.html#itertools.cycle

[2020-09-10 08:32] MaximilianPavon opened #1030 "Usage of DateSplitter with max_history"
Hi,
I am trying to use the `DateSplitter` together with `max_history` in order to make the test data shorter and would love to get some help.

The documentation [here](https://gluon-ts.mxnet.io/api/gluonts/gluonts.dataset.split.splitter.html) says the following about `max_history`:
[code]

But when I set this value to e.g. 3 weeks of hourly data (`max_history = 504`) I am getting AssertionErrors f

[2020-09-10 10:11] rubick1896 commented on #996
@lostella
I guess I wasn't clear on the example. `l` is a list, if you just substitute that with `gen`,  you will see the behavior is not the same from the list. It prints [1,2,3,4,5] and stuck in the infinite loop. If you use cycle it gives the correct output.

[2020-09-10 13:37] lostella commented on #996
@rubick1896 ok, now I get what you mean, thanks for clarifying.

So the issue is that the generator expression gives you an iterator which is exhausted once you have iterated it. The (maybe too subtle) assumption in `CyclicIterable` is that the object that you wrap can be iterated over multiple times and always yield the same elements: essentially, it should be a stateless container, as opposed to

[2020-09-10 20:05] sujayramaiah opened #1032 "Are 'dynamic_feat' and 'cat' field names in input data supported by GluonTS DeepAR?"
Hi,

When using GluonTS DeepAR, we used the labels "dynamic_feat" for specifying the dynamic feature series and "cat" for specifying the Categorical columns similar to how we specify when using SageMaker's DeepAR. We are not seeing any errors and we do see specifying different features is producing different results. We are using default hyperparameter settings and only tuning the epoch and learni

[2020-09-11 03:31] QiuSYang commented on #815
I encountered the same problem. There was no 'feat_dynamic_real' characteristic in the prediction. If the make_evaluation_predictions() function is used to measure, the target length will be removed in the process, but predict() function will not. How can I solve this problem?

[2020-09-11 03:36] QiuSYang commented on #280
@benidis When we make time series prediction, we can't get the `feat_dynamic_real` of the future time. Is there a good way to solve this problem?

[2020-09-11 04:03] rubick1896 commented on #996
@lostella
How to make an object stateless container without caching it in memory? Here is sort of my situation
[code]
When I get an instance of LargeData it will load all data(3 times SmallData) in memory, which I cannot afford. What I did was
[code]
But, this has the issue of the exhausting iterator. Really need some help here, thanks in advance.

[2020-09-11 07:06] lostella commented on #996
I don't think that's the case: `LargeData` will store three objects of type `SmallData` in memory, each of which has a `dataset` attribute of type `FileDataset`, which will not be loaded from disk as a whole, but rather iterated line by line.

In fact, I think your first example should work for your use case, shouldn't it?

[2020-09-12 03:51] rubick1896 commented on #996
Well, that was meant to be an example of my own loading function, when called will load all data into memory. If I could use `FileDataset`, it wouldn't be an issue in the first place. I actually get it to train by doing something like this
[code]
But this only works when num_workers is set to 0. When `num_workers` is set to be greater than 0, it gives the following report
[code]

[2020-09-14 14:25] jaheba commented on #1032
Hey,

I might be wrong, but I don't think we support `dynamic_feat` either (for some reason we use it `src/gluonts/dataset/stat.py`). I'm happy to be corrected on this.

We essentially renamed them, `cat` -> `feat_static_cat` and `dynamic_feat` -> `feat_dynamic_real`.

Closing the issue, but feel free to comment on it.

[2020-09-14 14:25] #1032 closed

[2020-09-14 14:31] jaheba commented on #1029
Hello Kenneth,

thanks for filing the issue. I'm actually not sure why we fixed the dependency on holidays. I suspect updating the dependency should just work.

Do you want to give it a try?

[2020-09-14 16:27] slowjazz commented on #1029
Looks like removing the `<0.10` restriction from `holidays>=0.9,<0.10` results in a working build.

[2020-09-14 21:24] Harry-N opened #1034 "How to save/load a model DeepAR and get predictions ?"
Hello everyone, I am new to GluonTS.

I use deepAR and I followed the tutorial to have a good predictor based on the results with the "make_evaluation_predictions" function. But now I would like to save and load models that have been trained. I saw that there was the "serialize" function but I do not understand how to save several models in the same folder to use them later.

Also, I really need t

[2020-09-15 00:12] sujayramaiah commented on #1032
@jaheba Thanks for the clarification. We will use the new labels `feat_static_cat` and `feat_dynamic_real`.
I did see dynamic_feat as the legacy column in the `gluonts.dataset.field_names` module.
Since we did not receive any errors, how would these columns be used internally? Would they be ignored? Please clarify.
Thanks

[2020-09-15 08:24] jaheba commented on #1032
Yes, we ignore any additional ￼fields passed.

The fields defined in the fieldnames files are basically just names and not all fields are supported in all algorithms.

[2020-09-15 08:53] jaheba commented on #1034
Hello @Harry-N,

you can have a look at the shell-module. It essentially implements a SageMaker compatible container and should be a good starting point for understanding how to train and use a model.

Here is where we serialise the model: https://github.com/awslabs/gluon-ts/blob/acfd7e14c4ef6eaa62fea6d6233a9e336f6366e4/src/gluonts/shell/train.py#L88

In serve.py, we load a model and then use it i

[2020-09-15 08:53] #1034 closed

[2020-09-15 15:33] timoschowski commented on #1026
That may be a good contribution. Can you follow the examples from here:
https://github.com/awslabs/gluon-ts/tree/master/examples/dockerfiles where we have "R Forecast" Package included.

Alternatively, you could also try the auto ARIMA implementation from that very package, if it helps your purpose.

[2020-09-15 15:39] timoschowski commented on #992
(1) you have two choices: either you choose a multi-variate model (e.g., https://gluon-ts.mxnet.io/api/gluonts/gluonts.model.deepvar.html as an alternative) or you pick a seq2seq model where you don't have to have the feature/co-variates in the forecast horizon: https://gluon-ts.mxnet.io/api/gluonts/gluonts.model.seq2seq.html

(2) you can do "daily" and then mark the values as missing/NaN during w

[2020-09-15 16:25] mreismendes commented on #992
@timoschowski Thank you!

In what kind of problem should I use GPVAREstimator instead of DeepVAREstimator?

[2020-09-15 16:36] alexcombessie commented on #1026
Hi,

Thanks, I am indeed familiar with R forecast::auto.arima. However, in my case, I am specifically looking for a pure Python alternative. Our customers do not always have Docker and R installed.

Can you confirm that it would be possible to integrate Pyramid-ARIMA to GluonTS without going through Docker?

Thanks,

Alex

[2020-09-15 16:49] sujayramaiah commented on #1032
Thanks @jaheba !
After updating the field labels to `feat_static_cat` and `feat_dynamic_real`, most of the iterations are giving similar results and not clearly evident if any of the new dynamic features are helping. Can you please advise/point me to any resource which helps us identify if any dynamic features or categorical features are improving the results?
Thanks

[2020-09-15 17:15] Harry-N opened #1036 "How to aggregate a forecast by hours to days ?"
Hello everyone, I am new to GluonTS.

I saw in the documentation that an object "gluonts.model.forecast" has a function which aggregates and returns a new Forecast object with a time series aggregated over the dimension axis.

I tried to implement this code :

[code]

Did I something wrong?

In advance, thank you !

[2020-09-16 04:00] sujayramaiah opened #1038 "DeepAR - Value Error when using Dynamic Features "use_feat_dynamic_real""
We are getting an error when trying to use the dynamic features using the `feat_dynamic_real`.

Our data is weekly and we are trying to get 19 weekly predictions.

The length of the train and test data sets are shown below.
[code]
Below is the code snippet:

[code]

We are getting the following error when we are trying to iterate through the predictions.
`for prediction in predictions:`

[code]

C

[2020-09-16 05:47] Vahidmardanlou opened #1039 "Issue with installing GlounTS on Sagemaker notebook instance from Github"
## Description
I am following the instructions on https://github.com/awslabs/gluon-ts/blob/acfd7e14c4ef6eaa62fea6d6233a9e336f6366e4/examples/GluonTS_SageMaker_SDK_Tutorial.ipynb but at first step when I ran `!pip install --upgrade mxnet==1.6  git+https://github.com/awslabs/gluon-ts.git#egg=gluonts[dev]` I got the following error,

## Error message or code output
[code]

## Environment
Note: Previo

[2020-09-16 06:12] Hari7696 opened #1040 "Not able to achieve Reproducible training and results"
HI,
[code]

Trained a model by setting these seeds got my evaluation metrics, when I restart the jupyter notebook and train the model again with same parameters and data, I am getting different result from the first one.
am i missing something to get reproducible results?

Thanks in advance

[2020-09-16 11:37] elenaehrlich opened #1041 "Sample function of MixtureDistribution class errors for (d,)-shaped distributions when num_samples>1"
## Description
I came across a bug in the MixtureDistribution class, where sampling is prohibited by an incompatible shapes broadcast (see MWEs 1 and 2 below).

## To Reproduce

MWE-1 demonstrates where sampling is prohibited by an incompatible shapes broadcast
[code]

## MWE-1 Error message or code output
[code]

MWE-2 Incompatible shapes broadcast also prohibits sampling from mixture of multivar

[2020-09-16 12:46] jaheba commented on #1039
According to [this](https://github.com/iterative/dvc/issues/1995), it could be that `enum34` is installed.

Can you check whether this is also the case here?

[2020-09-16 15:35] Vahidmardanlou commented on #1039
Thanks @jaheba ! That was the issue and by running `!pip uninstall -y enum34` it is resolved.

[2020-09-16 15:54] #1039 closed

[2020-09-16 17:02] timoschowski commented on #1026
Understood, Alex. Yes, you should be able to integrate Pyramid-ARIMA directly (should be in the sense that there are no dependency conflicts or something else that comes up practically). Can you try this locally?

[2020-09-16 17:48] alexcombessie commented on #1026
I'll have to find some time for myself or someone from my team @dataiku to try it. I'll let you know if we succeed :)

[2020-09-16 18:57] sujayramaiah commented on #144
@lostella Can you please confirm if you were able to complete the POC?
Your solution would make using DeepAR much more easier provided we input the data in correct format without having to worry about setting multiple flags. It would also be good if we can log what are the dynamic features and categorical features being used by the model.

[2020-09-16 20:56] timoschowski commented on #781
yes, I don't think we have this documentation at the moment, I'm afraid. Is this something you'd be open to contribute back? On rough terms: essentially all deep learning models should be able to handle this, ARIMA and Prophet as well, ETS not.

[2020-09-18 07:19] adriang133 commented on #420
For classification problems, we already get probability distributions over the output, with a `softmax` layer essentially outputting a Categorical distribution.

Is there anything fancier we can do with probabilistic reasoning ? Maybe somehow also output a measure of uncertainty in our predictions ? Although uncertainty is already implied by the magnitude of the probabilities in some sense.

In ot

[2020-09-19 00:58] GabrielDeza commented on #991
I figured it out so closing.

[2020-09-19 00:58] #991 closed

[2020-09-20 23:33] adriang133 opened #1044 "DeepAR loss computed on context sequence ?"
In DeepARTrainingNetwork, why is the loss computed on the context sequence as well ?
https://github.com/awslabs/gluon-ts/blob/02de6f308b4e6835fbbd30d728c61391f68fd2f3/src/gluonts/model/deepar/_network.py#L447-L458

Shouldn't it be computed only on `future_target` ?

[2020-09-21 08:33] PascalIversen commented on #1041
Hey @elenaehrlich,

I think this is not a bug, but we should maybe catch this with an assertion... The `mixture_probs` have to be of shape (1,2). This will work:

[code]

The reason is that the one dimensional batch shape is a special case of higher dimensional batch shapes:

[code]

[2020-09-21 08:59] PascalIversen commented on #1041
Never mind, I just saw your [PR](https://github.com/awslabs/gluon-ts/pull/1042) regarding this and I think this can be closed.

[2020-09-21 09:09] #996 closed

[2020-09-21 09:54] andrewcztrack opened #1045 "data format - from pandas to gluonts data format for both uni-variate and multivariate data"
Hi @kashif  @goriccardo

I hope your well!
I am just trying to get familiar with the library and I generally work with the pandas data format.
Could you help me format my data and create a basic uni-variate model for prediction into the future.

[code]

[2020-09-21 11:29] #1041 closed

[2020-09-21 12:07] timoschowski commented on #992
Gaussian Process models are something that would require something failry smooth, I'd say -- and the implementation may not be as well-tuned, I think. In general, the multi-variate models aren't as far implementation-wise, so you'll have to adjust your expectations.

[2020-09-21 12:37] parthbkgadoya commented on #750
Is there any update related to supporting weekly frequency for any day of the week instead of default Sunday week frequency?

[2020-09-21 13:24] NielsRogge opened #1046 "Question about feat_static_cat"
In the [extended tutorial](https://gluon-ts.mxnet.io/examples/extended_forecasting_tutorial/extended_tutorial.html#2.1-Define-a-transformation), `feat_static_cat` is explained as: "static (over time) categorical features, list with dimension equal to the number of features"

What are examples of static categorical features? Are these features to identify individual time series, in case one wants t

[2020-09-21 17:53] GabrielDeza commented on #1040
I am getting the exact same issue. Once I train my model I run it through 2 test dataset: the second test data set is slightly modified version of the first dataset. I noticed that when the modification factor is zero (ie: both test datasets are the exact same), I am getting different predictions. Here is a plot of the inputs (ie: the same) and the resulting different predictions
![119940773_35009

[2020-09-21 19:03] timoschowski commented on #1046
Example: If you have 5 different categorical features, the dimension needs to be 5.

Typically, you can have a categorical feature to identify groups of time series. E.g., all time series with categorical features A have a certain time of seasonality or a high volume or something, whereas time series with another feature behave differently.

[2020-09-21 21:29] skybullet1987 opened #1049 "Add Temporal Fusion Transformer (TFT)"
## Description
Add Temporal Fusion Transformer (TFT)

## References
- https://arxiv.org/pdf/1912.09363.pdf
- https://github.com/jdb78/pytorch-forecasting

[2020-09-21 22:02] timoschowski commented on #1049
There's a PR open here: https://github.com/awslabs/gluon-ts/pull/962

this is coming.

[2020-09-22 10:25] lostella opened #1050 "Add AffineTransformedDistribution type"
## Description

Currently, `DistributionOutput` classes produce a `TransformedDistribution` when the `distribution` method is invoked with `loc` and `scale`. However, we cannot get mean and variance out of such object:

[code]

One way to solve this is to have a specialized `AffineTransformedDistribution` class where mean and variance (and anything else that can be computed in this case) are expos

[2020-09-22 16:08] skybullet1987 commented on #1049
Awesome! Thanks!

[2020-09-22 16:08] #1049 closed

[2020-09-23 10:08] dai-ichiro commented on #1038
Is this the same as below?
https://github.com/awslabs/gluon-ts/issues/280

[2020-09-23 11:54] sujayramaiah commented on #1038
Closing as duplicate.

[2020-09-23 11:54] #1038 closed

[2020-09-23 12:50] PascalIversen commented on #1045
Hi @andrewcztrack,

your target has the wrong shape ( `(n,1)` instead of just `(n)`). Your training will work if you `flatten()` the targets:

[code]

[2020-09-25 06:21] szhengac opened #1054 "#898 causes cuda initialization error"
When I submitted a sagemaker job with the latest gluonts master, I received cuda initialization error in https://github.com/awslabs/gluon-ts/blob/3ff95ebcf70e39f6424d76b9b58bd861b36f7363/src/gluonts/mx/trainer/_base.py#L242. After I remove the commit #898, everything goes well.

[2020-09-25 09:23] lostella commented on #1054
@szhengac do you think you could isolate the problem into a MWE?

[2020-09-27 15:23] parimuns opened #1055 "Issue in LSTNet for multivariate time-series regarding target dimension ."
Hello I am trying to implement LSTNet for multivariate time-series with cardinality 8.I am attaching the code below and the error. Please let me know, where am I doing wrong.I referred to issue #713 too.But I guess that is for one-dimensional time-series or if I have misunderstood, please correct me.
[code]
I get error by running this

[code]

[2020-09-27 22:07] lostella commented on #1055
@parimuns what does `target.shape` evaluate to? (The snippet is not runnable)

[2020-09-28 01:29] alexhallam commented on #1046
Hi @timoschowski, I was just searching for `feat_static_cat` guidance also. If you don't mind I have a simple reproducible example that would clarify this for me.

At the moment this trains fine, but it is not using `key` as a categorical feature. Could you show me how to modify this code to make that happen?

[code]

[2020-09-28 03:23] parimuns commented on #1055
The target.shape is this example is (8,125).
I have tested this snippet again, please use data.csv file. It will run.

[2020-09-28 13:09] elenaehrlich opened #1056 "NaN handling of distributions' log_prob() for samples outside distribution's support"
## Description
MixtureDistribution with components [Gaussian(..), Gamma(..)]) returns a NaN instead a real-value log-prob for x<=0 (see MWE-1). MixtureDistributionOutput with components [GaussianOutput(..), GammaOutput(..)]) results in a NaN gradient for x<=0 (see MWE-2).

## MWE-1
[code]

## Error message or code output
```AssertionError```

## MWE-2
[code]

## Error message or code output
[code]

[2020-09-28 13:53] NielsRogge commented on #1046
@alexhallam is this a single or multivariate time series?

[2020-09-28 14:34] alexhallam commented on #1046
Well, I know that I can model each of these series individually, but I also wanted to compare those results with using each time series key as a feature. A pooled vs non-pooled set up. What I am trying to do above is use each time series as a categorical feature.

[2020-09-28 16:32] parimuns commented on #685
@rt3722 ...Hello I am getting similar error as
`GluonTSDataError: Input for field "target" does not have the requireddimension (field: target, ndim observed: 1, expected ndim: 2)'
If you resolved this issue, can you please tell me, how did you solve it?
I have posted my complete issue in #1055

Thanks

[2020-09-28 16:34] parimuns commented on #713
Hello @harusametime .
Can you help me in resolving #1055 ?
Thanks

[2020-09-28 16:35] parimuns commented on #919
I was not able to install R in Gluonts, still closing this issue as I no longer require it.

[2020-09-28 16:35] #919 closed

[2020-09-28 16:36] #850 closed

[2020-09-28 17:15] harusametime commented on #1055
@parimuns
A solution in https://github.com/awslabs/gluon-ts/issues/713 would work, but we need to set `max_target_dim=8` for cardinality 8.
When I add the following to your code, training successfully starts.

[code]
![スクリーンショット 2020-09-29 2 14 17](https://user-images.githubusercontent.com/10037251/94464513-87195180-01f9-11eb-8d6a-41f1e4d817f6.png)

[2020-09-28 18:40] lostella commented on #1054
Can reproduce with the following:

[code]

which fails on master but succeeds in c3150eb7b3f58181ddda385a2ef273349003c782 (i.e. prior to #898)

[2020-09-29 04:23] parimuns commented on #1055
@harusametime.Thanks a lot.Yup, training starts. But then how to evaluate forecasts with

[code]

[2020-09-29 17:39] skybullet1987 commented on #1055
Got the same issue. I was only able to create a multivariate model with DeepAR. Having same issues with LSTNet and GP - trains fine, but can't really use it. Would really love to see a working example or to understand what is wrong.

[2020-09-29 18:58] lostella commented on #1056
@elenaehrlich solved?

[2020-09-29 19:58] harusametime commented on #1055
@parimuns
When testing, we need to use `MultivariateGrouper` as well.
Try to put the following snippet before performing `make_evaluation_predictions`.

[code]
![スクリーンショット 2020-09-30 4 57 32](https://user-images.githubusercontent.com/10037251/94609270-78a26700-02d9-11eb-8769-a064ed319e49.png)

[2020-09-30 04:07] parimuns commented on #1055
@harusametime .Thanks a lot. I am sorry to bother you again.

While using tss[0] and forecasts[0], when I am plotting the probabilistic forecasts, I am not getting "Quantile forecasts " as shown in the figure below.
![result](https://user-images.githubusercontent.com/7879246/94641488-0c3a5e80-02ff-11eb-9cd3-8fb23e9d7430.png)

And when I use the evaluator
[code]

[2020-09-30 05:07] harusametime commented on #1055
I am not familiar with a smart way of getting quantile forecasts in GluonTS.
In a straightforward way, because `forecasts` has 100 samples of forecasts as specified in `num_samples=100` in `make_evaluation_predictions`, we can calculate quantile forecasts by NumPy operations.

First check the shape of forecasts.
[code]
returns (100, 24, 8), which are corresponding to (#samples, prediction_length,

[2020-09-30 07:06] lostella commented on #1049
@skybullet1987 #962 got merged

[2020-09-30 07:30] lostella opened #1063 "Investigate Windows failures"
## Description
Some tests started to fail pretty frequently on Windows, see e.g. [logs from this run](https://github.com/awslabs/gluon-ts/pull/1061/checks?check_run_id=1181936080).

~~It appears to be some issue with processes trying to access the same files, so it looks like it's related to the data loader.~~

[2020-09-30 07:34] elenaehrlich commented on #1056
@lostella many thanks

[2020-09-30 07:34] #1056 closed

[2020-09-30 08:08] StatMixedML opened #1064 "How to add / register additional parameters in DeepAR for Back-Prop"
# Problem Description

Assume, we want to add an additional **learnable** parameter, let's call it *learn_param*, to the [loss of DeepAR](https://github.com/awslabs/gluon-ts/blob/master/src/gluonts/model/deepar/_network.py#L484), something like

[code]
I don't know how to add *learn_param* so that it gets updated using back-prop, something like

[code]
The idea is to learn the scalar parameter alo

[2020-09-30 08:23] StatMixedML commented on #1046
@alexhallam You might want to try the following for creating your dataset (using the code-snippet from above)

[code]
It creates the dataset that can be used for model training. You can check out some of the entries of `gluonts.dataset.common.ListDataset`

[code]
showing

[code]
The categorical feature `feat_static_cat`  corresponds to the numeric index of the loop, `item_id` is the column name.

[2020-09-30 08:49] parimuns commented on #1055
@harusametime ..Thanks a lot for your help.

[2020-09-30 08:51] PascalIversen commented on #1054
The source of the error seems to be placing any data on the gpu at the `with mx.gpu()` statement.
This reproduces the error:

[code]

We see no error when restarting the kernel and commenting out:
[code]

Thus training like this works fine:

[code]

Collecting some relevant links:
https://github.com/apache/incubator-mxnet/issues/17826
https://github.com/pytorch/pytorch/issues/2517
https://github.c

[2020-09-30 09:46] dai-ichiro commented on #1055
For plot
[code]

For evaluation
[code]

[2020-09-30 10:16] parimuns commented on #1055
@dai-ichiro ..Thanks a lot .I tried this code and plotting part is working fine but when I use the evaluation part, it is giving me error as -

[code]

[2020-09-30 10:19] dai-ichiro commented on #1055
Run this code again before evaluation.

[code]

[2020-09-30 12:53] alexhallam commented on #1046
This answers the question for me. What do you think @NielsRogge?

[2020-09-30 15:40] elenaehrlich opened #1066 "Gluon-ts DeepAR not able to learn a Gamma-Gaussian MixtureDistributionOutput() for x_t \in Reals"
## Description
Gluon-ts MixtureDistributionOutput() of Gamma-Gaussian is able to learn the component weights and arguments for real-valued data. Why is Gluon-ts DeepAR not similarly able to learn the component weights and arguments of a Gamma-Gaussian MixtureDistributionOutput() from the same data?

## To Reproduce
[code]

## Error message or code output
(Paste the complete error message, includin

[2020-10-01 08:40] parimuns commented on #1055
@dai-ichiro ... It's working...Thanks a lot.

[2020-10-01 08:40] #1055 closed

[2020-10-01 11:29] StanislasGuinel opened #1067 "What happens when giving more than context_length time steps to Predictor ?"
I trained a deepAR estimator using a specific `context_length` and `prediction_length`.
Then I want to predict `prediction_length` future values.
I don't understand why I get different predictions depending on how many time steps I give to the Predictor.
I thought the estimator would only look at the last `context_length` time steps to make predictions, but when I give more than `context_length` t

[2020-10-01 11:45] dai-ichiro commented on #1067
Please see this site.
https://docs.aws.amazon.com/sagemaker/latest/dg/deepar.html#deepar_best_practices

[2020-10-01 12:00] StanislasGuinel commented on #1067
Thanks for your answer !
I am also wondering if the lagged values feature that makes the model look further back than the `context_length` exist in other types of model such as simplefeedforward, deepfactor, lstnet or npts ?

[2020-10-01 12:03] dai-ichiro commented on #1067
Sorry, I don't know any more.

[2020-10-01 13:18] StatMixedML commented on #1067
Yes that's right. Citing from here https://github.com/aws/amazon-sagemaker-examples/issues/390

`context_length` should not be confused with `history length`. DeepAR model internally takes the target values that occur before the `context_length` time points as features (known as lags in auto-regressive models). So you should always provide much more than `context_length` data points since `context

[2020-10-01 16:08] lostella opened #1069 "MQCNNEstimator behaves strangely results when constructed with distr_output"
## Description
I'm getting NaN loss, or inconsistent shapes in the forecast object, when training a `MQCNNEstimator` with the `distr_output` option instead of `quantiles`.

## To Reproduce
(Please provide minimal example of code snippet that reproduces the error. For existing examples, please provide link.)

[code]

## Error message or code output

Often times the above results in NaN loss at the

[2020-10-01 18:49] lostella commented on #1069
The occurrence of nans is probably due to scaling being disabled by default; the shape issue is likely due to the scaler being initialized with `keepdims=True`

[2020-10-02 08:49] adriang133 commented on #1044
Nevermind, this is actually mentioned in the paper (section 3.2), I was a little bit confused since other models such as the Transformer only use the future part.

Were there any experiements done wrt which way is better ?

[2020-10-03 13:18] #1069 closed

[2020-10-05 08:53] StatMixedML opened #1075 "Provide working examples for Temporal Fusion Transformer"
# Description

Referencing to this issue https://github.com/awslabs/gluon-ts/issues/1013#issuecomment-687575025, I am trying to use the [Temporal Fusion Transformer](https://github.com/awslabs/gluon-ts/tree/50bc3835f50f73deed26d90e6b1226c78d4fe308/src/gluonts/model/tft) in GluonTS.

@dcmaddix & @Gandor26: can you please provide a detailed example on how to use the TFT, also with examples on how to

[2020-10-05 16:43] PascalIversen commented on #1066
Interesting!
This is related to #519. PR #534 should have fixed that, but it did not for this specific case. I think this is an issue with `mxnet.autograd.backward()` failing on the padded zeros which get introduced by the instance splitter.

The current implementation of the Gamma Gaussian Mixture does seem to fail if zeros are in the dataset.
See this simple example:

[code]
Nevertheless your ex

[2020-10-05 16:49] PascalIversen commented on #1054
It seems like `mxnet` does not support the way we are currently employ multiprocessing.
See:
https://github.com/apache/incubator-mxnet/issues/19291
A way out would be to use `mp.set_start_method("spawn")`, which however does not support passing generators to workers.

[2020-10-06 05:42] lostella commented on #1054
So the problem is just caused by having something of the form

[code]

before forking the worker processes. But where is this happening in my example above? There I’m just calling `train`, which invokes the data loader

[2020-10-06 08:23] PascalIversen commented on #1054
This happens the estimators `train_model` method:
[code]

[2020-10-06 08:26] kasungayan opened #1076 "Robustness of DeepAR for long prediction horizons"
Hi Team,

I am working on a daily time series dataset with different lengths (a mix of short and long time series with different start dates). Following is a subset of the dataset (2 time series out of >1000 time series)

**training_list:**

[code]

Following are the starting date list:

**start_dates**
[code]
Following is the construction of ListDataset object for the above dataset (training)

`t

[2020-10-06 09:27] PascalIversen commented on #1066
**Edit:**

I realized the instance splitter does not always use zero padding. Instead it uses the `value_in_support` property of the `DistributionOutput`. The `value_in_support()` currently defaults to 0. for all `MixtureDistributions`. I think it makes sense to instead return the `value_in_support()` of the first component.

This means only this problem remains:
1. The MixtureDistribution of a Ga

[2020-10-06 14:31] #1066 closed

[2020-10-06 18:06] #1029 closed

[2020-10-07 10:50] PascalIversen commented on #1076
Hey @kasungayan,
DeepAR employs the `InstanceSplitter` transformation which currently cannot handle time series that are shorter than the `prediction_length`.
This is usually not needed because for most applications the `prediction_length` is much smaller than the length of the time series in the dataset.
The training lags because most instances which are picked from your dataset are discarded, as

[2020-10-09 12:49] lostella commented on #1054
@szhengac the problem should be solved if you set the following at the beginning of your jobs

[code]

Could you verify that?

[2020-10-11 13:39] alexhallam opened #1081 "Code Request For Snyder's Autoregressive Negative Binomial Method From The DeepAR Paper"
I am not sure if this is the right place to ask this question. I was curious if anyone had the code which was used to replicate Snyder's Autoregressive Negative Binomial method mentioned in the [DeepAR Paper](https://www.sciencedirect.com/science/article/pii/S0169207019301888).

[2020-10-12 17:36] Arfea opened #1084 "Running DeepAR in loops gives different results from running the non-first experiment directly on GPU"
Hello, I am required to run DeepAR with nested cross-validation and hyperparameter tuning, and I tried running the [example code](https://aws.amazon.com/blogs/machine-learning/creating-neural-time-series-models-with-gluon-time-series/) in a simple loop to check reproducibility, and found that the second experiment (i.e. the one with 2 layers of LSTM) have different results when it is run in a loop

[2020-10-13 09:04] PascalIversen commented on #1030
Hey @MaximilianPavon,
thank you for the detailed report and sorry for leaving this open for so long. You are using the `max_history` parameter as intended but there are two bugs:

1. `_trim_history` needs to return `item[-getattr(self, "max_history"):]`
 instead of `item[:-getattr(self, "max_history")]`
2. the assertion needs to be guarded
[code]

[2020-10-13 14:22] lostella commented on #1040
@Hari7696 @GabrielDeza are you using multiprocessing or GPU?

Without multiprocessing, and running on CPU, I get always the same results (i.e. the same backtesting accuracy metrics) with the following code:

[code]

As soon as I set `num_workers=2`, results start changing from one run to the next. This is expected, since the OS scheduler is non-deterministic and this will affect the composition of

[2020-10-13 17:17] Hari7696 commented on #1040
@lostella Thank you for the response
I didn't use multi processing or GPUs. I did the training once, but forecasted twice with same input data and the result is not same.

[code]

    absolute error mean 26.631500854492188

[code]

    absolute error mean 26.794510917663573

[2020-10-13 18:47] szhengac commented on #1054
@lostella I no longer work on that job. I think Konstantinos will work on that after he finishes other works.

[2020-10-13 21:40] lostella commented on #1040
@Hari7696 I see — in this case some difference is expected, since the model draws a certain number of sample paths at prediction time. You can check that this difference disappears if you set the seeds *right before predicting* (both before the first and the second predictions). That is, doing the following twice should give the same result:

[code]

[2020-10-13 21:44] lostella commented on #1054
@benidis whenever you run jobs on GPU, could you follow up here to confirm that training works fine on `master`?

[2020-10-14 04:28] Hari7696 commented on #1040
@lostella This resolved resolved the problem I met with, Thank you.

[2020-10-14 04:28] #1040 closed

[2020-10-14 10:22] lostella commented on #1030
@MaximilianPavon the fix for this was merge to `master`, and will be included in the next release 0.6.0 (coming soon)

[2020-10-14 10:22] #1030 closed

[2020-10-14 10:52] MaximilianPavon commented on #1030
Thanks a lot @PascalIversen  and @lostella!
We managed to get around this issue by over-writing the problematic functions in a similar way, but still had to ditch the use of the `DateSplitter` due to https://github.com/awslabs/gluon-ts/issues/997.

[2020-10-15 19:15] FlorisCalkoen opened #1089 "Import of Trainer fails: ModuleNotFoundError: No module named 'gluonts.mx'"
### Description

In section 3.1 of the [extended gluon ts tutorial](https://github.com/awslabs/gluon-ts/blob/master/docs/examples/extended_forecasting_tutorial/extended_tutorial.md) I am not able to import the ``` cls Trainer```.

When running ```from gluonts.mx.trainer import Trainer``` it fails with the following error:

[code]

It seems that this is just a small bug in the tutorial which can be

[2020-10-16 01:11] rothn commented on #264
@alexcombessie, I'm wondering about this myself.

[2020-10-16 02:11] dai-ichiro commented on #1089
Duplicate?
https://github.com/awslabs/gluon-ts/pull/1005

[2020-10-16 07:20] lostella commented on #1089
@FlorisCalkoen hi, your link is to the documentation on the `master` branch, which contains yet-to-be-released changes. If you're using `0.5.2` you need to follow the "stable" documentation (see link on top of the README on GitHub): there the tutorial imports the `Trainer` correctly, see e.g. [this section](https://gluon-ts.mxnet.io/examples/extended_forecasting_tutorial/extended_tutorial.html#3.1

[2020-10-16 07:25] lostella commented on #1089
I'm updating the other links in the README, that point to the `master` version of things

[2020-10-16 08:19] #1089 closed

[2020-10-16 20:10] Gandor26 commented on #1075
Sure. I'll give some high-level instructions here, and maybe later we'll provide a more detailed tutorial at gluon-ts.

We'll start by some imports
[code]

1. Load data and provide features
First we need to transform time series data into GluonTs FileDataset / ListDataset format, in which each entry is a dictionary consisting of *targets*, *start_time* and *features* of different types. Here we'll

[2020-10-16 23:43] Xiaolu-Zhu opened #1094 "time_feature for Easter raised error for target date on 2018-10-06"
I encountered error message "ssertionError: No closest holiday for the date index 2018-10-06 00:00:00 found." when creating time feature for holidays. The current setting MAX_WINDOW = 183 + 4 failed for Easter Sunday with target date index on 2018-10-06. And here is the source code I am looking at: src/gluonts/time_feature/holiday.py.

[2020-10-18 01:36] dmartintucker opened #1095 "Forecasting multiple time series targets (many-to-many)"
Hi, I'm attempting to forecast multiple time series targets simultaneously (a many-to-many forecasting use case). I understand that most GluonTS models can accept a single target and multiple additional features, however the resulting output always appears to be a single target forecast. However, I'm looking to forecast multiple targets with a single model.

My data is as below:

| date  | time se

[2020-10-19 08:41] PascalIversen commented on #1094
Thanks for reporting this @Xiaolu-Zhu. The `MAX_WINDOW` is too short, as the earliest possible date for eastern is March, 22 and the last possible date is April, 25. `MAX_WINDOW =183+17` should work for eternity.

[2020-10-19 13:18] zhaopengfei12345 opened #1098 "What the time_feat mean in Deep Factors for Forecasting?"
(Please state your question in the title, and add here any relevant details,
like a description of the problem, code snippets, examples, and so on.)

[2020-10-19 13:19] zhaopengfei12345 commented on #1098
Is it the history data or time feature of every time series?

[2020-10-19 13:20] zhaopengfei12345 commented on #1098
Or the history data of all time series?

[2020-10-19 13:25] zhaopengfei12345 commented on #1098
feat_static_cat: Tensor,  # (batch_size, 1)
        time_feat: Tensor,  # (batch_size, history_length, num_features)
    ) -> (Tensor, Tensor):  # both of size (batch_size, history_length, 1)

[2020-10-19 13:27] PascalIversen commented on #1094
This is now fixed on the master branch and will be part of the next GluonTS release (0.6.0).

[2020-10-19 13:27] #1094 closed

[2020-10-19 17:17] PascalIversen commented on #1095
Hello @dmartintucker,
there are two ways to approach this. You could use a univariate, but global model like DeepAR. DeepAR is trained on multiple time series and during inference you can produce forecasts for each single time series. Each forecast will only be conditioned on a single time series, but still, this would be forecasting "multiple targets with a single model".
You can use a `ListDatas

[2020-10-20 07:32] lostella opened #1099 "Update pandas dependency"
As documented in #967, pandas will be fixing the breaking change that led us to fix the dependency to `<1.1`, see pandas-dev/pandas#37267

Once that is resolved, we could remove the constraint.

*Edit:* we should also make sure to find a solution to #965 first

[2020-10-20 11:54] StatMixedML commented on #1075
@Gandor26 Thanks very much for the example! Very much appreciate.

[2020-10-21 14:50] mariosantosprivate commented on #636
Hi I'm having the same problem using a different set. When you say covariate do you mean one of the static category features?

[2020-10-21 14:56] PascalIversen commented on #1036
Hey @Harry-N,

the `copy_aggregate()` method does not aggregate over the time-axis, but over the target axis for multi-dimensional targets in multi-variate forecasting. That is probably not what you are after. I assume you have a uni-variate target and want to aggregate over the time axis.
I think there is no function for that in GluonTS currently, but you could do it like this:

[code]

[2020-10-21 23:45] to-morrow commented on #74
When I run 'pip install gluonts' I am continuously receiving the following error

 'Building wheel for ujson (setup.py) ... error'

Following this attempts to run 'setup.py clean for ujson' which fails and then attempted "setup.py install for ujson" which also has an error.

I have read through a few of the threads and am not sure exactly where to post this question.

[2020-10-22 07:25] k-user commented on #1004
@arianacai1997 Hey bro, What version of Python are you working on? I found the same BUG in Python3.7.4

[2020-10-22 08:53] jaheba commented on #74
Hey @to-morrow, we depend on `ujson` and thus `pip` tries to install it when you want to install gluonts.

Once you can run `pip install ujson`, you should also be able to install gluonts.

[2020-10-22 09:36] k-user opened #1103 "Was it normal not to be able to run out of all epochs?"
Like this：

![image](https://user-images.githubusercontent.com/42017849/96853599-22b28080-148d-11eb-9a70-992772693fa5.png)
This happens every time run Epochs around 200.

Another question:
When i set num_workers,Errors occur
`OMP: Error #13: Assertion failure at z_Linux_util.cpp(2338).`

Maybe causes cuda initialization error  #1054
Because add `KMP_INIT_AT_FORK=FALSE` to run my code , cuda initia

[2020-10-22 09:48] PascalIversen commented on #997
@lostella For now, why can't we just do:
[code]
This would also make @kaijennissen's code run and I can't think of any disadvantage of this approach compared to how the validation loader is currently defined.

This does not take away from the need to rethink validation, since the validation mechanism applied by using
[code]
is not in line with the users' expectation.

[2020-10-22 10:00] lostella commented on #1103
Hey @k-user yes, this is due to learning rate reduction and early stopping logic in the provided `Trainer` class. You can find documentation to the related options here: https://gluon-ts.mxnet.io/api/gluonts/gluonts.trainer.html#module-gluonts.trainer

To train longer you can play with the following, for example
* increase `learning_rate_decay_factor`: in case you set this to `1.0`, no reduction w

[2020-10-22 10:04] k-user commented on #1103
Thanks! I have edited the problem again, please kindly help to have a look.

[2020-10-22 11:01] lostella commented on #1103
@k-user can you open a separate issue? Use the bug report template, and if possible provide a minimal example that reproduces the issue

[2020-10-22 13:20] to-morrow commented on #74
Thanks for the quick reply,

I had tried that previously and it wasn't working, I ended up removing everything and starting from scratch and got it to work.

[2020-10-22 13:28] to-morrow commented on #74
I ended up removing everything and starting from scratch, I made sure to install ujson prior to gluonts however I am now receiving this error when trying to install gluonts.

ERROR: Command errored out with exit status 1:
     command: /usr/local/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/48/rn61jbb544l_h28s7m5cgfn00000gn/T/pip-install-gnx14llm/matplot

[2020-10-22 14:04] mariosantosprivate commented on #302
I'm also having issues with skewed predictions however I was wondering if you what you said also applies in the case where there's an attribute "isOpen", in this case, should days with where there are 0 sales where "isOpen = 0"  still be changed to NaN?

The figure shows how the predictions are skewed down:
![results](https://user-images.githubusercontent.com/25696878/96882854-a19cbe80-1477-11eb-9

[2020-10-22 15:01] kaijennissen commented on #997
@PascalIversen Could you share your code for the `batchify` function?

[2020-10-22 20:57] lostella commented on #98
@jaheba anything to do here? otherwise we could close

[2020-10-22 20:57] lostella commented on #113
@jaheba anything to do here? otherwise we could close

[2020-10-22 21:01] #289 closed

[2020-10-22 21:03] #448 closed

[2020-10-22 21:08] #622 closed

[2020-10-22 21:12] lostella commented on #945
@arangatang solved?

[2020-10-22 21:14] lostella commented on #941
@k-user does the problem still occur?

[2020-10-23 05:23] k-user commented on #1103
@lostella I think this issue  should be merged with #941,I will close it and reply in #941 .

[2020-10-23 05:23] #1103 closed

[2020-10-23 05:55] k-user commented on #941
I wrote a little demo to test it, but it still gave me an error.
Could it be that there is not enough Shared memory,The Shared memory is too large every time it is created
? I don't know.
It looks like one worker use all the Shared memory and the second worker gets stuck.
![image](https://user-images.githubusercontent.com/42017849/96961369-1256e000-1537-11eb-821c-7553a70ad19a.png)

This is my code

[2020-10-23 09:48] PascalIversen commented on #997
@kaijennissen Sure, I edited my last comment to include the missing imports. (This will work on the current state of the master branch)
However, currently, the ValidationData loader naively samples from the whole validation dataset. Since the dataset.train and dataset.test overlap except for a prediction_length part at the end using `validation_data=dataset.test` will produce an optimistic predict

[2020-10-23 23:51] #1075 closed

[2020-10-25 07:14] samosun commented on #753
I think this is a very practical and inspiring question, how can we add knowledge of internal hierarchical structure into the model?

[2020-10-25 16:15] kaijennissen commented on #997
Thanks. Replacing the ValidationDataLoader inside the GluonEstimator with the one you proposed seems to fix the issue.

[2020-10-26 05:04] linehammer commented on #997
The Unboundlocalerror: local variable referenced [before assignment](http://net-informations.com/python/err/local.htm) is raised when you try to use a variable before it has been assigned in the local context. Python doesn't have variable declarations , so it has to figure out the scope of variables itself. It does so by a simple rule: If there is an assignment to a variable inside a function, tha

[2020-10-26 08:39] kaijennissen opened #1106 "Is it possible to add a custom evaluation metric?"
Is it possible to add a custom evaluation metric?
I am working on an intermittent demand forecast problem and found the [MAAPE](https://www.sciencedirect.com/science/article/pii/S0169207016000121) to be a metric supperior to MAPE and MASE for comparison of point predictions.

[2020-10-26 10:18] MariPlaza opened #1107 "What is the best approach to explain a time series model from gluonts."
We train a deep AR model for several time series using gluonts. Now we want to use libraries for explaining the model such as  SHAP or LIME. Any suggestion on how to do it? Any other library that you know for doing it?

Thanks in advance

[2020-10-26 14:13] PascalIversen commented on #1106
Hey @kaijennissen,
you can refer to the code @verdimrc provided [here](https://github.com/awslabs/gluon-ts/pull/732/files).
I think for the MAAPE this would be (please double-check the math):
[code]

[code]

If you are using the `MultivariateEvaluator` I think you can define `class MyMultivariateEvaluator(MultivariateEvaluator)` with the same methods as above, but I have not tried that so let me k

[2020-10-26 15:10] kaijennissen commented on #1106
Thanks. That looks promising.
I've looked into the code and came up with a generic solution that would only require minor changes in the code.
It would require a new arguement `custom_eval_fns` and then update‚ the `metrics` and `agg_funs` dictionaries, f.e.
`custom_eval_fns = {"MAAPE": [maape_fn, "mean"] , "RMSE": [rmse_fn, "mean"]}`

I think this is easier than working with inheritance.
I'm happ

[2020-10-26 16:04] lostella commented on #1106
@kaijennissen I think that's a very nice idea! One question about that: the statistic next to the function (e.g. `"mean"`) is to be interpreted as the aggregation that needs to be used, or should it indicate what statistic of the predicted distribution should be used?

Because the `Evaluator` class currently uses e.g. the mean forecast to compute MSE, but the median forecast to compute MAPE. The o

[2020-10-26 18:46] mariosantosprivate opened #1110 "Confidence intervals too large?"
Hello everyone,

I've recently been using Gluon TS in particular the Deep AR estimator.
The dataset I'm working on consists of roughly 1000 time series, each representing total daily sales for different stores.
The time series length is roughly 900 days. I'm using both real dynamic features and static categorical features.
I'm also using the Negative Binomial distribution.

After training the mode

[2020-10-26 18:49] kaijennissen commented on #1106
@lostella

The statistic should specify how the aggregation of the metric across time series is performed.
I've not thought about this before, but it makes sense to add the option to switch between mean and median point predictions. I guess I can add this option too.

I'm not quiet sure if I understand how this would solve the porblem. Or is this code intended to be used by the user in case he wan

[2020-10-26 19:07] lostella commented on #1106
Yes, that's what I meant

[2020-10-26 19:31] kaijennissen commented on #1110
@mariosantosprivate Which distribution are you using?

[2020-10-26 19:33] mariosantosprivate commented on #1110
Oh sorry, forgot to mention, I'm using the Negative Binomial distribution

[2020-10-26 20:00] kashif commented on #1110
kindly try the master branch for a fix (see #909)

[2020-10-26 21:13] mariosantosprivate commented on #1110
@kashif Thank you so much, that fixed it!

[2020-10-26 21:13] #1110 closed

[2020-10-27 08:57] mariosantosprivate opened #1111 "Questions regarding context length"
Hello all,

After reading the documentation I'm still a bit confused regarding the context_length parameter, and I couldn't find much online.
As far as I understand the context_length defines the number of time steps to look back to predict the next prediction_length time steps.

Let's say I have a time series spanning 3 weeks (freq = D), I use the first 2 weeks for training the 3rd for testing (l

[2020-10-27 12:17] kaijennissen commented on #1111
As far as I understand the code as well as the tutorials, during training, sequences of length equal to context_length  +prediction_length are sampled from the training dataset, the first observations (context_length) are used as input for the network and the predictions. In your case this would mean, that the first 7 days are used as input for the estimator and the output of the estimator, c and